@{
    ViewBag.Title = "List Authorized Signatory Details";
}
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/AuthorizedSignatoryDetails.js"></script>
    
<style>

.ui-jqgrid-bdiv
{
overflow-x : hidden !important;
}

</style>
<br />
<div class="ui-widget-header innerDivHeader">
    
    @HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblPageHeader", System.Globalization.CultureInfo.CurrentUICulture)

</div>

 <div id="divError" style="margin-left: 10px; margin-right: 15px; margin-top: 5px; margin-bottom: 5px; display: none" class="ui-state-error ui-corner-all">
   <span class="ui-icon ui-icon-alert " style="float: left"></span>
   <span id="errorSpan"></span>
 </div>


   @Html.Hidden("FundType",PMGSY.Extensions.PMGSYSession.Current.FundType)
    
    <table style="margin-right: 15px;margin-top: 10px;margin-bottom: 10px">
        <tbody>
            <tr>
                <td>
                    
                    <div style="padding: 0pt 0.7em; cursor: pointer;" class="jqueryButton" id="Search">

                        <span class="ui-icon ui-icon-search" style="float: left; margin-right: 0.3em;"></span><strong>
                           Search
                        </strong>
                    </div>

                </td>
              
            </tr>
        </tbody>
    </table>
    
    
@*    <div style="text-align:left">
<a id="Search" href="#">
<span class="ui-icon ui-icon-circle-triangle-s" style="float:left"></span>
<span> @HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblSearchHeader", System.Globalization.CultureInfo.CurrentUICulture)</span>
</a>
</div>*@


<table id="SearchTable" class="ui-state-default ui-corner-all" style="display:none;width:98%;border:.1em solid gray;margin-top:10px;margin-bottom:10px">
  <tr>
<td class="ui-widget ui-corner-bottom" colspan="2" style="text-align:left; border-bottom:0.1em solid gray">
<span class="ui-icon ui-icon-info" style="float: left;"></span>
<span style="float: left; font-weight:bold">Search Criteria</span>
<span id="iconClose" class="ui-icon ui-icon-circle-close" title="Close" style="float: right;"></span>
</td>
</tr>
    
    <tr >
        <td style="text-align:right;width:20%">
        @HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblStatus", System.Globalization.CultureInfo.CurrentUICulture)
        </td>
        <td style="text-align:left;width:20%">
           
        
                <select id="ddlStatus" name="ddlStatus" title="Status">
                <option value="W">Currently Working </option>@*Active*@
                <option value="N">Not Working </option> @*Non Active*@
                </select>

        </td>
        </tr>   
      <tr> 
       
        <td style="text-align:right;width:20%">
            @HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblAuthSigName", System.Globalization.CultureInfo.CurrentUICulture) 
        </td>

         <td style="text-align:left;width:20%">
            @Html.TextBox("SearchCriteria",null, new { maxlength = 75,@title="Name"})
        </td>
           </tr>
    <tr >
          <td style="text-align:right">
           <input type="button" id="btnSearch" value="@HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblSearch", System.Globalization.CultureInfo.CurrentUICulture)" class="jqueryButton" title="@HttpContext.GetLocalResourceObject(@"~\Views\Shared\authorizedSignatory", "lblSearchButtonTitle", System.Globalization.CultureInfo.CurrentUICulture)"/>
        </td>
        <td style="text-align:left">
           <input type="button" id="btnCancel" value="Cancel" class="jqueryButton" title="Cancel"/>
        </td>
   </tr>

    

</table>




   


 <div style="width:98%">
<table id="AuthorizedSigList" ></table>
 <div id="pager"></div>
</div>
