@*
    * Project Id    :
    * Project Name  :   OMMAS II
    * Name          :   ListProposalForDroppingOrder.cshtml
    * Description   :   This View lists the Proposals for Drop Order Generation
    * Author        :   Pradip Patil
    * Creation Date :   11/04/2017
*@

@model PMGSY.Models.Proposal.SanctionOrderFilterModel

<script src="~/Scripts/jquery.ui.datepicker.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Proposal/ListProposalforDroppedOrder.js"></script>

 @*<div id="dvdropodertitle" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
   <span class="ui-jqgrid-title" style="float: left"> </span>
   
</div>*@
<div id="dvGenerateSanctionOrder" class="ui-state-default ui-corner-all" style="display: block;margin-top:10px; border: 1px solid #B5B8C8;">
    <form id="frmDropFilterProposal">
        <div style="margin-left: 100px">

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
        </div>
        <div id="divError" class="ui-state-error ui-corner-all" style="text-align: left; display: none; width: 100%">
            <span class="ui-icon ui-icon-alert" style="float: left;"></span>
            <span></span>
        </div>
        <table id="tb" cellpadding="3px" style="margin-top: 0px; text-align: left; border: ridge 0.1em #ccc; width: 100%; padding-top: 5px 5px 5px 5px;">
            <tr>
                <td>
                    @Html.LabelFor(model => model.State)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.State, Model.StateList, new { @id = "ddlStates", @title = "Please select state", @tabindex = 1 })
                    <br />
                    @Html.ValidationMessageFor(model => model.State)
                </td>
                <td>
                    @Html.LabelFor(model => model.Year)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Year, Model.YearList, new { @id = "ddlYears", @title = "Please select year", @tabindex = 2 })
                    <br />
                    @Html.ValidationMessageFor(model => model.Year)
                </td>
                <td>
                    @Html.LabelFor(model => model.StreamForDropProposal)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.StreamForDropProposal, Model.StreamList, new { @id = "ddlStreams", @title = "Please select Stream", @tabindex = 3, @style = "width:100px" })
                    <br />
                    @Html.ValidationMessageFor(model => model.StreamForDropProposal)
                </td>
                <td>
                    @Html.LabelFor(model => model.BatchForDropProposal)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.BatchForDropProposal, Model.BatchList, new { @id = "ddlBatch", @title = "Please select Batch", @tabindex = 4, @style = "width:100px" })
                    <br />
                    @Html.ValidationMessageFor(model => model.BatchForDropProposal)
                </td>
                <td>
                    @Html.LabelFor(model => model.PMGSYScheme)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.PMGSYScheme, Model.SchemeList, new { @id = "ddlSchemes", @title = "Please select Scheme", @tabindex = 5 })
                    <br />
                    @Html.ValidationMessageFor(model => model.PMGSYScheme)
                </td>
                <td>
                    @Html.LabelFor(model => model.ProposalType)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.ProposalType, Model.TypeList, new { @id = "ddlProposalType", @title = "Please select Type", @tabindex = 6, @style = "width:100px" })
                    <br />
                    @Html.ValidationMessageFor(model => model.ProposalType)
                </td>
                <td>
                    @Html.LabelFor(model => model.Status)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Status, Model.StatusList, new { @id = "ddlStatus", @title = "Please select Type", @tabindex = 7, @style = "width:100px" })
                    <br />
                    @Html.ValidationMessageFor(model => model.Status)
                </td>
            </tr>
            @*<tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.State)
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Year)
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Stream)
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Batch)
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.PMGSYScheme)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ProposalType)
                </td>
            </tr>*@
            <tr>
                <td colspan="12">
                    <center>
                <input type="button" id="btnDropListProposal" name="btnListDropProposal" value="View Details" class= "jqueryButton" title="List Proposal Details" tabindex="8"  />  
                </center>
                </td>
            </tr>
        </table>
    </form>
</div>
<center>
<!--dvSanctionOrderList -->
<div id="dvDroppedOrderList" style="margin-top: 20px; width: 98%">
<!--tblstSanctionOrder -->
    <table id="tblstDroppedOrder"></table>
    <!--dvlstPagerSanctionOrder -->
    <div id="dvlstPagerDropperOrder"></div>
</div>

    <!-- Detail drop order [muliple parts of order]-->
<div id="dvDetailDroppedOrderList" style="margin-top: 20px; width: 98%">
 
    <table id="tblstDetailDroppedOrder"></table>
  
    <div id="dvlstDetailPagerDropperOrder"></div>
</div>


 <!--dvProposalList -->
<div id="dvDropProposalList" style="margin-top: 20px; width: 98%">
     <!--tblstProposal -->
    <table id="tblstDropProposal"></table>
     <!--dvlstPagerProposal -->
    <div id="dvlstPagerDropProposal"></div>
</div>

<div id="accordion" style="display: none; width: 92%; margin-top: 20px">
    <h3 style="text-align: left"><a id="" href="#" style="font-size: .9em;">Drop Order Details</a>
        <a href="#" style="float: right;">
            <img class="ui-icon ui-icon-closethick" onclick="CloseDetails();" /></a>
    </h3>
     <!--divAddSanctionOrder -->
    <div id="divAddDropOrder" style="display: none"></div>
</div>
</center>
