@*
    * Project Id    :
    * Project Name  :   OMMAS II
    * Name          :   TrafficIntensity.cshtml
    * Description   :   This View Adds the Traffic Intensity Details to Road Proposal
    * Author        :   Shivkumar Deshmukh        
    * Creation Date :   27/April/2013    
*@

@model PMGSY.Models.Proposal.TrafficViewModel
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Proposal/Traffic.js"></script>
  
<center>
    <div class="ui-corner-all ui-state-highlight" style="border:solid 1px black; text-align:left; width:90%">
    <table style="width:100%">
        <tr>
            <td style="text-align:right;width:10%;font-weight:bold">@Html.LabelFor(model => model.IMS_YEAR):</td>
            <td style="text-align:left;"> @Html.DisplayFor(model => model.IMS_YEAR) - @Convert.ToInt32(Model.IMS_YEAR + 1)  </td>

            <td style="text-align: right; font-weight:bold"> @Html.LabelFor(model => model.IMS_BATCH):</td>
            <td style="text-align: left;">Batch @Html.DisplayFor(model => model.IMS_BATCH)</td>

            <td style="text-align:right; font-weight:bold">@Html.LabelFor(model => model.IMS_PACKAGE_ID):</td>
            <td style="text-align:left; ">@Html.DisplayFor(model => model.IMS_PACKAGE_ID)</td>

            <td style="text-align:right; font-weight:bold">@Html.LabelFor(model => model.IMS_ROAD_NAME):</td>
            <td style="text-align:left; ">@Html.DisplayFor(model => model.IMS_ROAD_NAME)</td>

            <td style="text-align: right; font-weight: bold; width:10%">@Html.LabelFor(model => model.IMS_PAV_LENGTH):</td>
            <td style="text-align: left;width:10%">@Html.DisplayFor(model => model.IMS_PAV_LENGTH)&nbsp;Kms.</td>
        </tr>
    </table>

    </div>
    <div id="divTrafficIntensity">
        <form id="frmTrafficIntensity">
        @Html.HiddenFor(model => model.IMS_PR_ROAD_CODE)
        @Html.HiddenFor(model => model.Operation)
        @Html.HiddenFor(model => model.MinValue)
        @Html.HiddenFor(model => model.MaxValue)
        @Html.AntiForgeryToken()
        <table class="rowstyle" style="border:ridge 0.1em #ccc; width:90%;  padding:5px 5px 5px 5px">
        
            <tr>                 
                    
                <td  style="font-weight:bold">@Html.LabelFor(model=> model.RoadName)</td>  
                <td colspan="2">@Html.DisplayFor(model => model.RoadName)</td>
                     
                <td  style="font-weight:bold">@Html.LabelFor(model=>model.CurveType)</td>   
                <td style="text-align:left" colspan="2">@Html.DisplayFor(model => model.CurveType)</td>
            </tr>
            <tr>
                <td  style="font-weight:bold">
                    @Html.LabelFor(model=> model.IMS_TI_YEAR)<span style="color:red">*</span>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.IMS_TI_YEAR, ViewBag.ISM_TI_YEAR as SelectList )
             
                </td>
                <td  style="font-weight:bold">
                    @Html.LabelFor(model => model.IMS_TOTAL_TI)<span style="color:red">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IMS_TOTAL_TI, new { @maxlength="8", @placeholder="Enter Total Motarised Traffic/day" })
               
                </td>
                <td  style="font-weight:bold">
                    @Html.LabelFor(model => model.IMS_COMM_TI)<span style="color:red">*</span>
                </td>
                <td>
                    @Html.TextBoxFor(model=> model.IMS_COMM_TI ,new { @maxlength="8", @placeholder="Enter ESAL"})

                </td>
            </tr>  
            <tr>
                <td colspan="2" style="text-align:center">
                    @Html.ValidationMessageFor(model => model.IMS_TI_YEAR)
                </td>
                <td colspan="2" style="text-align:center">
                    @Html.ValidationMessageFor(model => model.IMS_TOTAL_TI) 
                </td>
                <td colspan="2" style="text-align:center">
                    @Html.ValidationMessageFor(model => model.IMS_COMM_TI)
                </td>
            </tr>                                  
            <tr id="rowAdd">
                <td colspan="6" style="text-align:center">
                    <input type="button" id="btnSave" name="btnSave" value="Save" class="jqueryButton" />
                    <input type="button" id="btnReset" name="btnReset" value="Reset" class="jqueryButton" />
                </td>            
            </tr>
            <tr id="rowUpdate" style="display:none">
                <td colspan="6" style="text-align:center">
                    <input type="button" id="btnUpdate" name="btnUpdate" value="Update" class="jqueryButton" />
                </td>            
            </tr>

        </table>
        </form>
    </div>
    <div style="margin-top:10px">
        <div id="divTraffic">
            <table id="tbTraffic"></table>
            <div id="dvTrafficPager"></div>
        </div>
    </div>
</center>



