@model  PMGSY.Areas.QMSSRSReports.Models.QMFilterViewModel
@{ Layout = null; }

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>

<!--#Added For Searchable Dropdown for Monitor on 25-01-2023-->
<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<script src="~/Areas/QMSSRSReports/Scripts/ATRReport.js"></script>

<!DOCTYPE html>

<html>
<head>

</head>
<body>

    <div id="dvhdRegradeAbstractLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 25px;">
        <span class="ui-jqgrid-title" style="float: left; margin-left: 5px;">Action taken Report</span>
    </div>
    <div style="width:100%; border: none;margin-bottom: 10px;" class="rowstyle ui-corner-all">
        <div @*id="ATRFilter"*@>
            <center>
                <form id="AtrFilterForm">
                    <table style="margin-top:10px; margin-bottom:5px; width:100%">
                        <tr>

                            <td style="width:12%;padding-left:25px;">
                                @Html.LabelFor(model => model.MAST_STATE_CODE)
                            </td>
                            <td style="width:10%">
                                @*@if(PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5)*@
                                @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 9 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 25)
                                {
                                    @Html.DropDownListFor(model => model.MAST_STATE_CODE, new SelectList(Model.STATES, "Value", "Text"), new { @id = "stateCodeATR" })

                                }
                                else if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 22 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 54 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 69 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 48)
                                {
                                    @Html.HiddenFor(model => model.MAST_STATE_CODE)
                                    @PMGSY.Extensions.PMGSYSession.Current.StateName
                                }
                            </td>

                            <td style="text-align:left;width:15%;padding-right:20px;">
                                Schedule From :
                            </td>
                            <td style="width:15%;">
                                @Html.LabelFor(model => model.FROM_MONTH)
                            </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.FROM_MONTH, new SelectList(Model.FROM_MONTHS_LIST, "Value", "Text"), new { @id = "frmMonthATR" })
                            </td>
                            <td style="width:15%;padding-left:25px;">
                                @Html.LabelFor(model => model.FROM_YEAR)
                            </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.FROM_YEAR, new SelectList(Model.FROM_YEARS_LIST, "Value", "Text"), new { @id = "frmYearATR" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%;padding-left:25px;">
                                @Html.LabelFor(model => model.ADMIN_QM_CODE)
                            </td>
                            <td style="width:20%">
                                <div class="ui-widget">
                                    @*@Html.TextBoxFor(model => model.ADMIN_QM_CODE)*@
                                    @Html.DropDownListFor(model => model.ADMIN_QM_CODE, new SelectList(Model.MONITORS, "Value", "Text"), new { @id = "monitorCodeATR" })
                                    @Html.ValidationMessageFor(model => model.ADMIN_QM_CODE)
                                </div>
                            </td>
                            <td style="text-align:left;width:15%;padding-right:20px;">
                                Schedule To :
                            </td>
                            <td style="text-align:left;width:15%;">
                                @Html.LabelFor(model => model.TO_MONTH)
                            </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.TO_MONTH, new SelectList(Model.TO_MONTHS_LIST, "Value", "Text"), new { @id = "toMonthATR" })
                            </td>
                            <td style="text-align:left;width:15%;padding-left:25px;">
                                @Html.LabelFor(model => model.TO_YEAR)
                            </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.TO_YEAR, new SelectList(Model.TO_YEARS_LIST, "Value", "Text"), new { @id = "toYearATR" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%;padding-left:25px;">
                                @Html.LabelFor(model => model.ATR_STATUS)
                            </td>
                            <td style="width:20%">
                                <div class="ui-widget">
                                    @*@Html.TextBoxFor(model => model.ADMIN_QM_CODE)*@
                                    @Html.DropDownListFor(model => model.ATR_STATUS, new SelectList(Model.ATR_STATUS_LIST, "Value", "Text"), new { @id = "atrStatus" })
                                    @Html.ValidationMessageFor(model => model.ATR_STATUS)
                                </div>
                            </td>
                            <td style="text-align:left;width:10%;"></td>
                            <td style="text-align:left;width:10%;">
                                @Html.LabelFor(model => model.ROAD_STATUS)
                            </td>
                            <td style="width:10%;padding-left:0px;">
                                @Html.DropDownListFor(model => model.ROAD_STATUS, new SelectList(Model.ROAD_STATUS_LIST, "Value", "Text"), new { @id = "rdStatusATR" })
                                @Html.ValidationMessageFor(model => model.ROAD_STATUS)
                            </td>
                            <td style="width:10%;padding-left:25px;">  @Html.Label("Scheme") </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.schemeType, new SelectList(Model.schemeList, "Value", "Text"), new { @title = "Scheme", @id = "Schemeddl", @tabindex = 6 })
                                <br />
                                @Html.ValidationMessageFor(m => m.schemeType)
                            </td>
                        </tr>

                        <tr>


                            <td style="width:12%;padding-left:25px;">
                                @Html.Label("Sanctioned Status")
                            </td>
                            <td style="width:10%">
                                @Html.DropDownListFor(model => model.imsSanctioned, new SelectList(Model.imsSanctionedList, "Value", "Text"), new { @id = "frmSanctionedATR" })
                            </td>
                            <td> </td>

                            <td> </td>

                            <td style="text-align:left;width:15%;padding-right:20px;"> </td>

                            <td>  </td>
                            <td> </td>
                        </tr>

                        <tr>
                            <td colspan="8" style="text-align:center;">

                                @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 9 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 25)
                                {
                                    <span>&nbsp;</span><input type='button' style='margin-left:1px' id='AtrReport' class='jqueryButton' value='View ATR' />
                                }
                            </td>
                        </tr>
                    </table>
                </form>
            </center>
        </div>
    </div>

    <div id="ATRStatus"></div>

</body>
</html>
