@model PMGSY.Areas.QMSSRSReports.Models.QualityReportsViewModel





@*@if (Layout == null)
{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
}*@

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.dialog.js")"> </script>
<script src="~/Areas/QMSSRSReports/Scripts/QMOngoingWorksInspections.js"></script>




<script src="~/Scripts/custom/Generic.js"></script>

<div id="dvhdQMATRLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;Ongoing Works Inspections</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>
<div id="dvQMATRLayout" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    
    <form id="frmQMATRLayout">
        <table class="rowstyle" style="margin-top: 0px; text-align: center;">
            <tr>
                <td style="width: 10%; font-weight: bold;">
                    @*@Html.LabelFor(model => model.FROM_MONTH)*@
                    @Html.Label("From Month")
                </td>
                <td style="width: 15%">
                    @*@Html.DropDownListFor(model => model.FROM_MONTH, new SelectList(Model.FROM_MONTH_LIST, "value", "text"), new { @id = "ddlFromMonthGradingAndATR" })*@
                    @Html.DropDownListFor(model => model.FromMonth, new SelectList(Model.FromMonthList, "Value", "Text"), new { @id = "ddlFromMonthGradingAndATR", @title = "From Month", @tabindex = 1 })
                    <br />
                    @Html.ValidationMessageFor(m => m.FromMonth)
                </td>
                <td style="width: 10%; font-weight: bold;">
                    @*@Html.LabelFor(model => model.FROM_YEAR)*@
                    @Html.Label("From Year")
                </td>
                <td style="width: 15%">
                    @*@Html.DropDownListFor(model => model.FROM_YEAR, new SelectList(Model.FROM_YEAR_LIST, "value", "text"), new { @id = "ddlFromYearGradingAndATR" })*@
                    @Html.DropDownListFor(model => model.FromYear, new SelectList(Model.FromYearList, "Value", "Text"), new { @id = "ddlFromYearGradingAndATR", @title = "From Year", @tabindex = 2 })
                    <br />
                    @Html.ValidationMessageFor(m => m.FromYear)
                </td>

                @*</tr>
            <tr>*@
                <td style="width: 10%; font-weight: bold;">
                    @*@Html.LabelFor(model => model.TO_MONTH)*@
                    @Html.Label("To Month")
                </td>
                <td style="width: 15%">
                    @*@Html.DropDownListFor(model => model.TO_MONTH, new SelectList(Model.TO_MONTH_LIST, "value", "text"), new { @id = "ddlToMonthGradingAndATR" })*@
                    @Html.DropDownListFor(model => model.ToMonth, new SelectList(Model.ToMonthList, "Value", "Text"), new { @id = "ddlToMonthGradingAndATR", @title = "To Month", @tabindex = 3 })
                    <br />
                    @Html.ValidationMessageFor(m => m.ToMonth)
                </td>
                <td style="width: 10%; font-weight: bold;">
                    @*@Html.LabelFor(model => model.TO_YEAR)*@
                    @Html.Label("To Year")
                </td>
                <td style="width: 15%">
                    @*@Html.DropDownListFor(model => model.TO_YEAR, new SelectList(Model.TO_YEAR_LIST, "value", "text"), new { @id = "ddlToYearGradingAndATR" })*@
                    @Html.DropDownListFor(model => model.ToYear, new SelectList(Model.ToYearList, "Value", "Text"), new { @id = "ddlToYearGradingAndATR", @title = "To Year", @tabindex = 4 })
                    <br />
                    @Html.ValidationMessageFor(m => m.ToYear)
                </td>

                <td style="text-align: left;">
                    <input type="button" id="btnViewGradingAndATRDetails" value="View Details" class="jquerybutton" style="margin-left: 20px;" />
                </td>
                <td style="width:5%;"></td>
            </tr>

            <tr>
                <td style="width: 10%; font-weight: bold;">
                    
                    @Html.Label("Level")
                </td>
                <td style="width: 15%">
                   @Html.DropDownListFor(model => model.Level, new SelectList(Model.LevelList, "Value", "Text"), new { @id = "ddlLevel", @title = "Level", @tabindex = 5 })
                    <br />
                    @Html.ValidationMessageFor(m => m.Level)
                </td>

            </tr>

        </table>
        @*<div style="width: 100%;">
        <ul>
            <li>&nbsp;<b>ATR : </b>Action Taken Report &nbsp;<b>S : </b>Satisfactory &nbsp;&nbsp;&nbsp;&nbsp; <b>SRI : </b>Satisfactory Required Improvement &nbsp;&nbsp;&nbsp;&nbsp; <b>U : </b>Unsatisfactory
            </li>
            <li>&nbsp;<b>R-S : </b>Satisfactory after Regraded &nbsp;&nbsp;&nbsp;&nbsp;<b> R-SRI : </b>SRI after Regraded &nbsp;&nbsp;&nbsp;&nbsp; <b>R-U : </b>Unsatisfactory after Regraded
            </li>
        </ul>
    </div>*@
    </form>
</div>
<div id="dvQMWorksInpections"></div>
