@model PMGSY.Models.ChequeAcknowledgement.CheckAckSelectionModel

@*
    Name : GetChequeAckMasterList.aspx
    Path : ~\Views\ChequeAcknowledgement\GetChequeAckMasterList.aspx
    Description : GetChequeAckMasterList.aspx is View file used display the cheques for acknowledgment.
    Author : Amol Jadhav (PE, e-gov)
    Company : C-DAC,E-GOV
    Dates of modification :15/06/2013

*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetChequeAckMasterList</title>

    <script src="~/Scripts/jquery.ui.datepicker.js"></script>
    <script src="~/Scripts/custom/Generic.js"></script>
    <script src="~/Scripts/ChequeAcknowledgement/ChequeAcknowledgement.js"></script>
    <style type="text/css" media="screen">
        th.ui-th-column div {
            white-space: normal !important;
            height: auto !important;
            padding: 2px;
        }

        .ui-jqgrid .ui-jqgrid-resize {
            height: 100% !important;
        }
    </style>

</head>
<body>


    <div class="ui-widget-header innerDivHeader">
        Cheque Acknowledgement
    </div>

    <div class="ui-state-default ui-corner-all jqueryButton" id="btnViewVouchers" title="Click here to go Back" style="margin-top:10px">
        <span style="float: left" class="ui-icon ui-icon-circle-plus"></span>
        <span style="float: left; margin-right: 5px">Back To List</span>
    </div>


    <div id="divError" style="margin-left: 10px; margin-right: 15px;margin-top:5px;height:20px; display: none" class="ui-state-error ui-corner-all">
        <span class="ui-icon ui-icon-alert " style="float: left"></span>
        <span id="errorSpan"></span>
    </div>


    <div id="MasterDiv" style="height:600px;overflow-x: hidden; overflow-y: auto;width:100%">



        <form id="FrmSelectionOptions">

            <table id="tblMonthYearDPIUOptions" class="table-content ui-corner-all" style="width: 98%; border: .1em solid gray;margin-top:10px">
                @Html.HiddenFor(m => m.Mode)
                @Html.HiddenFor(m => m.AckUnackFlag)

                @*Added Abhishek kamble 8-June-2014*@
                @Html.Hidden("hdBillID", Model.hdnBillID.ToString())
                <tr>
                    <td style="text-align: center;width: 10%">
                        DPIU <label style="color:red">*</label>
                    </td>
                    <td style="text-align: center; width: 15%">

                        @Html.DropDownListFor(model => model.DPIU, new SelectList(Model.DPIU_LIST, "Value", "Text"), new { Title = "DPIU", tabindex = "3", @class = "dropdown" })
                        @Html.ValidationMessageFor(model => model.DPIU)
                    </td>
                    <td style="text-align: center; width: 10%">
                        Month <label style="color:red">*</label>

                    </td>
                    <td style="text-align: center; width: 15%">

                        @Html.DropDownListFor(model => model.BILL_MONTH, new SelectList(Model.BILL_MONTH_LIST, "Value", "Text"), new { Title = "Voucher Month", tabindex = "1", @class = "dropdown" })
                        @Html.ValidationMessageFor(model => model.BILL_MONTH)
                    </td>
                    <td style="text-align: center; width:10%">
                        Year <label style="color:red">*</label>
                    </td>
                    <td style="text-align: center; width: 15%">

                        @Html.DropDownListFor(model => model.BILL_YEAR, new SelectList(Model.BILL_YEAR_LIST, "Value", "Text"), new { Title = "Voucher Year", tabindex = "2", @class = "dropdown" })
                        @Html.ValidationMessageFor(model => model.BILL_YEAR)
                    </td>



                    @if (PMGSY.Extensions.PMGSYSession.Current.FundType != "P")
                    {
                        <td style="text-align: center;">
                            <input type="button" class="jqueryButton"
                                   name="btnViewDetails" id="btnViewDetails" title="Click To See Cheque List" value='View Details' />
                        </td>
                    }
                </tr>

                @*Added by Srishti on 03-03-2023*@
                @if (PMGSY.Extensions.PMGSYSession.Current.FundType == "P")
                {
                    <tr>

                        <td style="text-align: center; width:10%">
                            Account Type <label style="color:red">*</label>
                        </td>

                        <td style="text-align: center; width: 15%">

                            @Html.DropDownListFor(model => model.ACCOUNT_TYPE, new SelectList(Model.ACCOUNT_TYPE_LIST, "Value", "Text"), new { Title = "Account Type", tabindex = "2", @class = "dropdown" })
                            @Html.ValidationMessageFor(model => model.ACCOUNT_TYPE)
                        </td>

                        <td style="text-align: center;">
                            <input type="button" class="jqueryButton"
                                   name="btnViewDetails" id="btnViewDetails" title="Click To See Cheque List" value='View Details' />
                        </td>
                    </tr>
                }

            </table>

        </form>

        <div id="ackVoucherDiv">


        </div>


        <div style="width:98%;margin-top:10px;display:none" id="gridDiv">
            <table id="ChequeList"></table>
            <div id="Chequepager"></div>
        </div>
        <table id="tblButtons" class="table-content ui-corner-all" style="width: 98%; border: .1em solid gray;margin-top:10px;display:none">

            <tr>
                <td style="text-align: center;" id="tdButtons">
                    @if (Model.AckUnackFlag == "A")
                    {
                        <input type="button" id="btnSubmit" name="btnSubmit" value="Acknowledge" title="Click here to Acknowledge" class="jqueryButton" />
                        <input type="button" id="btnSubmitFinalize" name="btnSubmitFinalize" value="Finalize" title="Click here to finalize" class="jqueryButton" />
                    }
                    else
                    {
                        <input type="button" id="btnUnauth" name="btnUnauth" value="UnAcknowledge" title="Click here to UnAcknowledge" class="jqueryButton" />
                    }

                </td>

            </tr>
        </table>


    </div>



</body>
</html>
