
@model PMGSY.Models.AccountsReports.AbstractBankAuthViewModel

@{
    ViewBag.Title = "AbstractBankAuthDetails";
}


<script src="~/Scripts/AccountsReports/AbstractBankAuthDetails.js"></script>


 <div id="dvAbstractBankAuthReportHeader" class="CBHeader ui-corner-all" style="width:99%">
    
     <table class="ui-state-default ui-corner-all" style="border: 0.1em solid gray; width: 100%; margin-top: 1px" id="rptMAAnnex">
        <tr>
            @Html.HiddenFor(model=>model.FundTypeName)
            <td colspan="7" style="color: green;text-align:right">@Html.DisplayFor(model=>model.ReportFormNumber)</td>
        </tr>
        <tr>
            <td colspan="7" style="color: green;text-align:center">@Html.DisplayFor(model=>model.FundTypeName)</td>
        </tr>
        <tr>
            <td colspan="7" style="color: green;text-align:center">@Html.DisplayFor(model=>model.ReportName)</td>
        </tr>
        <tr>
            <td colspan="7" style="color: green;text-align:center">@Html.DisplayFor(model=>model.ReportParagraphName)</td>
        </tr>
        <tr>
            <td colspan="7"><br /></td>
        </tr>

        <tr>
            <td style="width:9%"></td>
            <td style="color:green;font-weight:bold;width:5%">@Html.LabelFor(model=>model.Year) : </td>
            <td style="font-weight:bold;width:15%">@Html.DisplayFor(model=>model.DisplayYear)</td>

            <td style="color:green;font-weight:bold;width:10%">@Html.Label("State - SRRDA : ") </td>
            <td style="font-weight:bold;width:25%"> @Html.DisplayFor(model=>model.DisplayState)</td>

            <td style="color:green;font-weight:bold;width:5%">@Html.LabelFor(model=>model.DPIU) : </td>
            <td style="font-weight:bold;width:20%">@Html.DisplayFor(model=>model.DisplayDPIU)</td>
        </tr>
    </table>
</div>

<div id="dvAbstractBankAuthList" style="width:99%">
    <table id="tblAbstractBankAuthList"></table>    
    <div id="dvAbstractBankAuthPager"></div>
</div>
