@model PMGSY.Areas.GPSVTSInstallationDetails.Models.GPSVTSReportModel
@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/custom/Generic.js")" type="text/javascript"></script>
<script src="~/Areas/GPSVTSInstallationDetails/Scripts/GPSVTSReport.js"></script>


<center>
    @{


        <div id="dvhdCreateNewReportDetails" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px; width: 100%;">
            <span class="ui-jqgrid-title" style="float: left">&nbsp;GPS VTS Report</span>
           
        </div>
        <div style="width: 100%; border:none; margin-top:-15px; margin-bottom:10px;" class="ui-state-default">
            <div id="divFilterForm">
                <form id="GPSVTSForm">
                    <center>
                        <table style="margin-top:10px; margin-bottom:5px">
                            <tr>

                                <td style="text-align:left;width:5%">

                                <td style="text-align: left; width: 5%">
                                    @Html.LabelFor(model => model.StateCode)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.StateCode, new SelectList(Model.StateList, "Value", "Text"), new { @id = "ddlState", @title = "State", @style = "width:200px;", @tabindex = 1 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.StateCode)
                                </td>
                                <td style="text-align: left; width: 5%">
                                    @Html.LabelFor(model => model.DistrictCode)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.DistrictCode, new SelectList(Model.DistrictList, "Value", "Text"), new { @id = "ddlDistrict", @title = "District", @style = "width:200px;", @tabindex = 2 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.DistrictCode)
                                </td>
                                <td style="text-align: left; width: 5%">
                                    @Html.LabelFor(model => model.BlockCode)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.BlockCode, new SelectList(Model.BlockList, "Value", "Text"), new { @id = "ddlBlock", @title = "Block", @style = "width:200px;", @tabindex = 3 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.BlockCode)
                                </td>

                            </tr>

                            <tr>
                                <td style="text-align:left;width:5%">

                                <td style="text-align: left; width: 7%">
                                    @Html.LabelFor(model => model.Sanction_Year)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.Sanction_Year, new SelectList(Model.Sanction_Year_List, "Value", "Text"), new { @id = "ddlYear", @title = "Year", @style = "width:200px;", @tabindex = 4 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Sanction_Year)
                                </td>

                                <td style="text-align: left; width: 5%">
                                    @Html.LabelFor(model => model.Batch)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.Batch, new SelectList(Model.BatchList, "Value", "Text"), new { @id = "ddlBatch", @title = "Batch", @style = "width:200px;", @tabindex = 5 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Batch)
                                </td>

                                <td style="text-align: left; width: 5%">
                                    @Html.LabelFor(model => model.Scheme)<label style="color: red;"> *</label>
                                </td>
                                <td style="text-align: left; width: 15%">
                                    @Html.DropDownListFor(model => model.Scheme, new SelectList(Model.SchemeList, "Value", "Text"), new { @id = "ddlScheme", @title = "Scheme", @style = "width:200px;", @tabindex = 5 })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Scheme)
                                </td>
                            </tr>
                            <tr>

                            </tr>
                            <tr>
                                <td colspan="7" style="text-align:center">
                                    <input type="button" style="border: 2px solid #989898;" class="jqueryButton" value="GPS VTS Report" title="Click here to view GPS VTS Report" id="btnGPSVTS" name="btnGPS_VTS" />
                                </td>
                            </tr>
                        </table>
                    </center>
                </form>
            </div>
        </div>
    }
</center>

<div id="loadReport" class="divLoadReport"></div>
