@model PMGSY.Areas.EFORMArea.Model.EFORM_PIU_VIEWMODEL

<!DOCTYPE html>
<html lang="en">

<head>
    <title>PIU PDF View</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
</head>
<style>

    /*=========== Common Stylesheet ============*/

    input[type="text"] {
        font-size: 22px;
    }

    /* inputbox width for values like codes,length,dates, */
    .inputCodeWidth {
        width: 100px;
        min-height: 32px;
    }

    .inputShortWidth {
        width: 150px;
        min-height: 32px;
    }

    .inputMediumWidth {
        width: 250px;
        min-height: 32px;
    }

    .inputMidlLargeWidth {
        width: 400px;
        min-height: 32px;
    }

    .inputLargeWidth {
        width: 700px;
        min-height: 32px;
    }

    .SectionUnderline {
        border: 0.5px solid gray;
    }

    .PageBreakLine {
        border: 3px solid gray;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .table-borderless td {
        border: none;
    }

    .table-bordered thead th {
        vertical-align: top;
        text-align: center;
        background-color: #8c8c8c24;
    }

    .table-hover tbody tr:hover td {
        background-color: #d5bcbc24;        
    }

    .fontPIUPdf {
        font-size: 22px;
        font-family: Calibri;
    }

    .detailtablesPiuLeftHeading {
        width: 300px;
    }

</style>
<body>
    <div class="container-fluid" style="background-color:lightgray; border: 1px solid gray; margin-top: auto;margin-bottom: auto;">
        <div class="container-fluid mt-6 p-4" style="width: 90%; background-color: #fff; margin-top: 50px; margin-bottom: 50px; margin-left: 60px">

            <!-- 1. Headings and General Details -->
            <div id="GeneralDetails_PIU">
                <div class="container-fluid">
                    <!-- HEADLINES -->
                    <div id="HeadingsPIU" style="text-align: center;">
                        <h1> <b> National Rural Infrastructure Development Agency </b> </h1>
                        <h2>Ministry of Rural Development, Government of India</h2>
                        <h4 style="text-align:left;"> FORM ID <input type="text" value="@Model.Prefilled_Details.EFORM_ID" class="inputShortWidth" disabled> <span style="float:right;">Format QR Version 2021.0- Part I </span>   </h4>
                        <h3> <b> Format for information to QM for Inspection of Ongoing/Completed Work </b> </h3>
                        <h3> <u><b> PART I- Work Information  </b> <i> (To be filled-up by PIU) </i> </u> </h3>
                    </div>

                    <h3><b> 1. GENERAL DETAILS </b></h3>
                    <hr style="border: 0.5px solid gray">
                    <div class="container-fluid">
                        <table class="table table-hover table-borderless fontPIUPdf">
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> I. Work is </td>
                                <td colspan="2">
                                    @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("P") || Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("M"))
                                    {
                                        <input type="checkbox" checked disabled /> <label> ONGOING  &emsp; &emsp;</label>
                                        <input type="checkbox" disabled /> <label>COMPLETED </label>
                                    }
                                    else if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("C"))
                                    {
                                        <input type="checkbox" disabled /> <label> ONGOING  &emsp; &emsp;</label>
                                        <input type="checkbox" checked disabled /> <label> COMPLETED </label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled /> <label> ONGOING &emsp; &emsp;</label>
                                        <input type="checkbox" disabled /> <label> COMPLETED </label>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> II. Current stage of work </td>
                                <td colspan="2">
                                    @if (Model.Prefilled_Details.CURRENT_STAGE == null)
                                    {
                                        <input type="checkbox" disabled /> <label> Stage-1 &emsp;&emsp; </label>
                                        <input type="checkbox" disabled /> <label> Stage-2 &emsp;&emsp;</label>
                                        <input type="checkbox" disabled /> <label> Complete </label>
                                    }
                                    else if (Model.Prefilled_Details.CURRENT_STAGE == "1")
                                    {
                                        <input type="checkbox" checked disabled /> <label> Stage-1 &emsp;&emsp; </label>
                                        <input type="checkbox" disabled /> <label> Stage-2 &emsp;&emsp;</label>
                                        <input type="checkbox" disabled /> <label> Complete </label>
                                    }
                                    else if (Model.Prefilled_Details.CURRENT_STAGE == "2")
                                    {
                                        <input type="checkbox" disabled /> <label> Stage-1 &emsp;&emsp; </label>
                                        <input type="checkbox" checked disabled /> <label> Stage-2 &emsp;&emsp; </label>
                                        <input type="checkbox" disabled /> <label> Complete </label>
                                    }
                                    else if (Model.Prefilled_Details.CURRENT_STAGE == "3")
                                    {
                                        <input type="checkbox" disabled /> <label> Stage-1  &emsp;&emsp;</label>
                                        <input type="checkbox" disabled /> <label> Stage-2 &emsp;&emsp;</label>
                                        <input type="checkbox" checked disabled /> <label> Complete </label>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td class="detailtablesPiuLeftHeading"> IV. Name of Quality Monitor (QM)</td>
                                <td colspan="2">
                                    <input type="text" value="@Model.Prefilled_Details.QM_NAME" data-toggle="tooltip" data-placement="bottom" title="Name of Quality Monitor (QM)" class="inputMidlLargeWidth" disabled>
                                    &emsp;&emsp;

                                    @if (Model.Prefilled_Details.QM_TYPE.Equals("I"))
                                    {
                                        <input type="checkbox" checked disabled> <label> NQM &emsp; </label> <input type="checkbox" disabled> <label> SQM </label>
                                    }
                                    else if (Model.Prefilled_Details.QM_TYPE.Equals("S"))
                                    {
                                        <input type="checkbox" disabled> <label> NQM &emsp; </label> <input type="checkbox" checked disabled> <label> SQM </label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled> <label> NQM &emsp; </label> <input type="checkbox" disabled> <label> SQM </label>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> V. State </td>
                                <td colspan="2">
                                    <input type="text" value="@Model.Prefilled_Details.STATE" data-toggle="tooltip" data-placement="bottom" title="State" disabled>
                                    &emsp;&emsp;
                                    District   <input type="text" value="@Model.Prefilled_Details.DISTRICT" data-toggle="tooltip" data-placement="bottom" title="District" disabled>
                                    &emsp;&emsp;
                                    Block  <input type="text" value="@Model.Prefilled_Details.BLOCK" data-toggle="tooltip" data-placement="bottom" title="Block" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> VI. Name of Road </td>
                                <td colspan="2">
                                    <div class="grow-wrap p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee;min-height:30px;" data-toggle="tooltip" data-placement="bottom" title="Name of Road">
                                        <p class="fontPIUPdf px-2">
                                            @Model.Prefilled_Details.ROAD_NAME
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> VII. Package Number </td>
                                <td colspan="2"> <input type="text" value="@Model.Prefilled_Details.PACKAGE_ID" data-toggle="tooltip" data-placement="bottom" title="Package Number" class="inputMediumWidth" disabled> </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading" rowspan="2"> VIII. Sanctioned Length </td>
                                <td rowspan="2">
                                    <input type="text" value="@Model.Prefilled_Details.SANCTION_LENGTH" data-toggle="tooltip" data-placement="bottom" title="Sanctioned Length" class="inputShortWidth" disabled> km

                                <td> Flexible pavement &emsp;&emsp;&emsp;&emsp; <input type="text" value="@Model.GENERAL_INFO_PIU_view.SAN_FLEX_PAVEMENT" data-toggle="tooltip" data-placement="bottom" title="Flexible pavement" class="inputShortWidth" disabled> km</td>

                            <tr>
                                <td> Rigid/Semi-Rigid pavement  <input type="text" value="@Model.GENERAL_INFO_PIU_view.SAN_RIGID_PAVEMENT" data-toggle="tooltip" data-placement="bottom" title="Rigid/Semi-Rigid pavement" class="inputShortWidth" disabled> km </td>
                            </tr>
                            </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading" rowspan="2"> IX. Executed Length <br> <b><i>(in case of completed works only)</i></b></td>
                                <td rowspan="2">
                                    <input type="text" value="@Model.Prefilled_Details.EXECUTED_LENGTH" data-toggle="tooltip" data-placement="bottom" title="Executed Length" class="inputShortWidth" disabled> km

                                <td> Flexible pavement &emsp;&emsp;&emsp;&emsp; <input type="text" value="@Model.GENERAL_INFO_PIU_view.EXEC_FLEX_PAVEMENT" data-toggle="tooltip" data-placement="bottom" title="Flexible pavement" class="inputShortWidth" disabled> km</td>

                            <tr>
                                <td> Rigid/Semi-Rigid pavement  <input type="text" value="@Model.GENERAL_INFO_PIU_view.EXEC_RIGID_PAVEMENT" data-toggle="tooltip" data-placement="bottom" title="Rigid/Semi-Rigid pavement" class="inputShortWidth" disabled> km </td>
                            </tr>
                            </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> X. Reasons for deviation <i>(if any)</i> </td>
                                <td colspan="2">
                                    <div class="grow-wrap p-2 border border-grey" style="background-color: #cccccc3d; color: #333333cf;min-height:30px;" data-toggle="tooltip" data-placement="bottom" title="Reasons for deviation">
                                        @Model.GENERAL_INFO_PIU_view.DEVIATION_REASON
                                    </div>
                                </td>
                            </tr>
                            @if (Model.NewTechnology_PIU_List != null)
                            {
                                for (int row = 0; row < Model.NewTechnology_PIU_List.Count; row++)
                                {
                                    if (row == 0 && @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME != null && @Model.NewTechnology_PIU_List[row].TECH_ID != 1)
                                    {
                                        <tr>
                                            <td class="detailtablesPiuLeftHeading"> XI. Name of new technology  <i> (if used) </i> </td>

                                            <td>
                                                <input type="checkbox" checked disabled />
                                                <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 1">
                                                    @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME
                                                </div>
                                            </td>

                                            <td colspan="2">
                                                <b> RD From </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_FROM" data-toggle="tooltip" data-placement="bottom" title="RD From 1" class="inputShortWidth" disabled /> km
                                                &emsp;
                                                <b> To </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_TO" data-toggle="tooltip" data-placement="bottom" title="RD To 1" class="inputShortWidth" disabled /> km
                                            </td>
                                        </tr>
                                    }
                                    else if (row == 1 && @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME != null && @Model.NewTechnology_PIU_List[row].TECH_ID != 1)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="checkbox" checked disabled />
                                                <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 2">
                                                    @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <b> RD From </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_FROM" data-toggle="tooltip" data-placement="bottom" title="RD From 2" class="inputShortWidth" disabled /> km
                                                &emsp;
                                                <b> To </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_TO" data-toggle="tooltip" data-placement="bottom" title="RD To 2" class="inputShortWidth" disabled /> km
                                            </td>
                                        </tr>
                                    }
                                    else if (row == 2 && @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME != null && @Model.NewTechnology_PIU_List[row].TECH_ID != 1)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="checkbox" checked disabled />
                                                <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 3">
                                                    @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <b> RD From </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_FROM" data-toggle="tooltip" data-placement="bottom" title="RD From 3" class="inputShortWidth" disabled /> km
                                                &emsp;
                                                <b> To </b> <input type="text" value="@Model.NewTechnology_PIU_List[row].RD_TO" data-toggle="tooltip" data-placement="bottom" title="RD To 3" class="inputShortWidth" disabled /> km
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input type="checkbox" disabled />
                                                <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology">
                                                    @Model.NewTechnology_PIU_List[row].MAST_TECH_NAME
                                                </div>
                                            </td>
                                            <td colspan="2">
                                                <b> RD From </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD From" class="inputShortWidth" disabled /> km
                                                &emsp;
                                                <b> To </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD To" class="inputShortWidth" disabled /> km
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="detailtablesPiuLeftHeading"> XI. Name of new technology  <i> (if used) </i> </td>

                                    <td>
                                        <input type="checkbox" disabled />
                                        <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 1">

                                        </div>
                                    </td>

                                    <td colspan="2">
                                        <b> RD From </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD From 1" class="inputShortWidth" disabled /> km
                                        &emsp;
                                        <b> To </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD To 1" class="inputShortWidth" disabled /> km
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" disabled />
                                        <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 2">

                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <b> RD From </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD From 2" class="inputShortWidth" disabled /> km
                                        &emsp;
                                        <b> To </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD To 2" class="inputShortWidth" disabled /> km
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" disabled />
                                        <div class="grow-wrap p-2 border border-grey text-wrap" style="float: right;min-width:250px;max-width: 250px;min-height:30px; background-color: #cccccc3d; color: #333333cf;" data-toggle="tooltip" data-placement="bottom" title="New Technology 3">

                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <b> RD From </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD From 3" class="inputShortWidth" disabled /> km
                                        &emsp;
                                        <b> To </b> <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="RD To 3" class="inputShortWidth" disabled /> km
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> XII. Estimated cost <i>(as cleared by GOI)</i> </td>
                                <td> Rs. <input type="text" value="@Model.Prefilled_Details.ESTIMATED_COST" data-toggle="tooltip" data-placement="bottom" title="Estimated cost (as cleared by GOI)" class="inputShortWidth" disabled> Lakh </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> XIII. Technical Sanction cost </td>
                                <td> Rs. <input type="text" value="@Model.GENERAL_INFO_PIU_view.TECHNICAL_SANC_COST" data-toggle="tooltip" data-placement="bottom" title="Technical Sanction cost" class="inputShortWidth" disabled> Lakh </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> XIV. Awarded cost : </td>
                                <td> Rs. <input type="text" value="@Model.Prefilled_Details.AWARDED_COST" data-toggle="tooltip" data-placement="bottom" title="Awarded cost" class="inputShortWidth" disabled> Lakh </td>
                            </tr>
                            <tr>
                                <td class="detailtablesPiuLeftHeading"> XV. Expenditure <b><i>(If work is ongoing)</i></b> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="detailtablesPiuLeftHeading"> a. Expenditure done </td>
                                @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("P"))
                                {
                                    <td> Rs. <input type="text" value="@Model.Prefilled_Details.EXPENDITURE_DONE" data-toggle="tooltip" data-placement="bottom" title="Expenditure done" class="inputShortWidth" disabled> Lakh</td>

                                }
                                else
                                {
                                    <td> Rs. <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Expenditure done" class="inputShortWidth" disabled> Lakh</td>

                                }
                            </tr>
                            <tr>
                                <td></td>
                                <td class="detailtablesPiuLeftHeading"> b. Bills pending </td>
                                @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("P"))
                                {
                                    <td> Rs. <input type="text" value="@Model.GENERAL_INFO_PIU_view.BILLS_PENDING" data-toggle="tooltip" data-placement="bottom" title="Bills Pending" class="inputShortWidth" disabled> Lakh</td>

                                }
                                else
                                {
                                    <td> Rs. <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Bills Pending" class="inputShortWidth" disabled> Lakh</td>

                                }
                            </tr>
                            <tr>
                                <td></td>
                                <td class="detailtablesPiuLeftHeading"> c. Total expenditure (a+b) </td>
                                @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("P"))
                                {
                                    <td> Rs. <input type="text" value="@(@Model.Prefilled_Details.EXPENDITURE_DONE + @Model.GENERAL_INFO_PIU_view.BILLS_PENDING)" data-toggle="tooltip" data-placement="bottom" title="Total expenditure" class="inputShortWidth" disabled> Lakh</td>

                                }
                                else
                                {
                                    <td> Rs. <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Total expenditure" class="inputShortWidth" disabled> Lakh</td>

                                }
                            </tr>
                            @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("C"))
                            {
                                <tr>
                                    <td class="detailtablesPiuLeftHeading" colspan="2"> XVI.Completion cost<b><i>(If work is completed)</i></b> </td>
                                    <td> Rs. <input type="text" value="@Model.Prefilled_Details.COMPLETION_COST" data-toggle="tooltip" data-placement="bottom" title="Completion cost" class="inputShortWidth" disabled> Lakh</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="detailtablesPiuLeftHeading" colspan="2"> XVI.Completion cost<b><i>(If work is completed)</i></b> </td>
                                    <td> Rs. <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Completion cost" class="inputShortWidth" disabled> Lakh</td>
                                </tr>
                            }

                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> XVII. The work is a case of <b><i>(check boxes as applicable)</i></b> </td>
                            </tr>

                            @if (Model.GENERAL_INFO_PIU_view.WORK_TYPE == null)
                            {
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13; A) <input type="checkbox" disabled /> New Connectivity
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title=" New Connectivity Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading"> &emsp13;&emsp13; (i) Carriageway width (m) </td>
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> 3m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 3.75m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 5.5m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 7m &emsp13; &emsp13;
                                    </td>
                                </tr>

                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13;  B) <input type="checkbox" disabled /> Up-gradation
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Up-gradation Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading" colspan="2"> &emsp13;&emsp13; (i) Carriageway width and length </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"> &emsp13; &emsp13; <input type="checkbox" disabled /> With widening </td>
                                    <td colspan="2">
                                        Existing width &emsp13; <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Existing width" class="inputShortWidth" disabled> m
                                        &emsp;    Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                    </td>
                                <tr>
                                    <td colspan="2"> Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m </td>
                                </tr>
                                </tr>

                                <tr>
                                    <td> &emsp13; &emsp13; <input type="checkbox" disabled /> Without widening </td>
                                    <td colspan="2">
                                        Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m
                                        &emsp; Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                            }
                            else if (Model.GENERAL_INFO_PIU_view.WORK_TYPE == "N")
                            { <!-- CHECK FOR NEW CONNECTIVITY  -->
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13; A) <input type="checkbox" checked disabled /> New Connectivity
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="@Model.GENERAL_INFO_PIU_view.TOTAL_LEN" data-toggle="tooltip" data-placement="bottom" title=" New Connectivity Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align:center">
                                        (i) &nbsp;Carriageway width (m)
                                    </td>

                                    @if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_NEW == "1")
                                    {
                                        <td colspan="4">
                                            <input type="checkbox" disabled checked /> 3m &emsp;
                                            <input type="checkbox" disabled /> 3.75m &emsp;
                                            <input type="checkbox" disabled /> 5.5m &emsp;
                                            <input type="checkbox" disabled /> 7m &emsp;
                                        </td>
                                    }
                                    else if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_NEW == "2")
                                    {
                                        <td colspan="4">
                                            <input type="checkbox" disabled /> 3m &emsp;
                                            <input type="checkbox" disabled checked /> 3.75m &emsp;
                                            <input type="checkbox" disabled /> 5.5m &emsp;
                                            <input type="checkbox" disabled /> 7m &emsp;
                                        </td>
                                    }
                                    else if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_NEW == "3")
                                    {
                                        <td colspan="4">
                                            <input type="checkbox" disabled /> 3m &emsp;
                                            <input type="checkbox" disabled /> 3.75m &emsp;
                                            <input type="checkbox" disabled checked /> 5.5m &emsp;
                                            <input type="checkbox" disabled /> 7m &emsp;
                                        </td>
                                    }
                                    else if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_NEW == "4")
                                    {
                                        <td colspan="4">
                                            <input type="checkbox" disabled /> 3m &emsp;
                                            <input type="checkbox" disabled /> 3.75m &emsp;
                                            <input type="checkbox" disabled /> 5.5m &emsp;
                                            <input type="checkbox" disabled checked /> 7m &emsp;
                                        </td>
                                    }
                                    else
                                    {
                                        <td colspan="4">
                                            <input type="checkbox" disabled /> 3m &emsp;
                                            <input type="checkbox" disabled /> 3.75m &emsp;
                                            <input type="checkbox" disabled /> 5.5m &emsp;
                                            <input type="checkbox" disabled /> 7m &emsp;
                                        </td>
                                    }
                                </tr>

                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13;  B) <input type="checkbox" disabled /> Up-gradation
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Up-gradation Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading" colspan="2"> &emsp13;&emsp13; (i) Carriageway width and length </td>
                                </tr>
                                <tr>
                                    <td rowspan="2"> &emsp13; &emsp13; <input type="checkbox" disabled /> With widening </td>
                                    <td colspan="2">
                                        Existing width &emsp13; <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Existing width" class="inputShortWidth" disabled> m
                                        &emsp;    Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                    </td>
                                <tr>
                                    <td colspan="2"> Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m </td>
                                </tr>
                                </tr>

                                <tr>
                                    <td> &emsp13; &emsp13; <input type="checkbox" disabled /> Without widening </td>
                                    <td colspan="2">
                                        Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m
                                        &emsp; Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                            }
                            else if (Model.GENERAL_INFO_PIU_view.WORK_TYPE == "U")
                            { <!-- CHECK FOR UP-GRADATION -->
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13; A) <input type="checkbox" disabled /> New Connectivity
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title=" New Connectivity Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading"> &emsp13;&emsp13; (i) Carriageway width (m) </td>
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> 3m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 3.75m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 5.5m &emsp13; &emsp13;
                                        <input type="checkbox" disabled /> 7m &emsp13; &emsp13;
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">
                                        &emsp13;  B) <input type="checkbox" checked disabled /> Up-gradation
                                    </td>
                                    <td colspan="2" class="detailtablesPiuLeftHeading">
                                        Total length &emsp13;&emsp13;
                                        <input type="text" value="@Model.GENERAL_INFO_PIU_view.TOTAL_LEN" data-toggle="tooltip" data-placement="bottom" title="Up-gradation Total length" class="inputShortWidth" disabled> km
                                    </td>
                                </tr>
                                <!-- CHECK FOR With widening  -->
                                if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_TYPE == "W")
                                {
                                    <tr>
                                        <td class="detailtablesPiuLeftHeading" colspan="2"> &emsp13;&emsp13; (i) Carriageway width and length </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2"> &emsp13; &emsp13; <input type="checkbox" checked disabled /> With widening </td>
                                        <td colspan="2">
                                            Existing width &emsp13; <input type="text" value="@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_EXISTING" data-toggle="tooltip" data-placement="bottom" title="Existing width" class="inputShortWidth" disabled> m
                                            &emsp;    Length <input type="text" value="@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_LENGTH" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    <tr>
                                        <td colspan="2"> Proposed width <input type="text" value="@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_PROPOSED" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m </td>
                                    </tr>
                                    </tr>

                                    <tr>
                                        <td> &emsp13; &emsp13; <input type="checkbox" disabled /> Without widening </td>
                                        <td colspan="2">
                                            Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m
                                            &emsp; Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    </tr>
                                }
                                else if (@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_TYPE == "O")
                                {
                                    <!--CHECK FOR WITHOUT WIDENING -->
                                    <tr>
                                        <td class="detailtablesPiuLeftHeading" colspan="2"> &emsp13;&emsp13; (i) Carriageway width and length </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2"> &emsp13; &emsp13; <input type="checkbox" disabled /> With widening </td>
                                        <td colspan="2">
                                            Existing width &emsp13; <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Existing width" class="inputShortWidth" disabled> m
                                            &emsp;    Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    <tr>
                                        <td colspan="2"> Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m </td>
                                    </tr>
                                    </tr>

                                    <tr>
                                        <td> &emsp13; &emsp13; <input type="checkbox" checked disabled /> Without widening </td>
                                        <td colspan="2">
                                            Proposed width <input type="text" value="@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_WIDTH_PROPOSED" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m
                                            &emsp; Length <input type="text" value="@Model.GENERAL_INFO_PIU_view.CARRIAGEWAY_LENGTH" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <!-- DEFAULT OPTIONS -->
                                    <tr>
                                        <td class="detailtablesPiuLeftHeading" colspan="2"> &emsp13;&emsp13; (i) Carriageway width and length </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2"> &emsp13; &emsp13; <input type="checkbox" disabled /> With widening </td>
                                        <td colspan="2">
                                            Existing width &emsp13; <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Existing width" class="inputShortWidth" disabled> m
                                            &emsp;    Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    <tr>
                                        <td colspan="2"> Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m </td>
                                    </tr>
                                    </tr>

                                    <tr>
                                        <td> &emsp13; &emsp13; <input type="checkbox" disabled /> Without widening </td>
                                        <td colspan="2">
                                            Proposed width <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Proposed width" class="inputShortWidth" disabled> m
                                            &emsp; Length <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Length" class="inputShortWidth" disabled> km
                                        </td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td class="detailtablesPiuLeftHeading"> XVIII. Terrain </td>
                                @if (Model.Prefilled_Details.TERRAIN_TYPE == null)
                                {
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" disabled /> Step
                                    </td>
                                }
                                else if (Model.Prefilled_Details.TERRAIN_TYPE.Equals("1"))
                                {
                                    <td colspan="2">
                                        <input type="checkbox" checked disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" disabled /> Steep
                                    </td>
                                }
                                else if (Model.Prefilled_Details.TERRAIN_TYPE.Equals("2"))
                                {
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" checked disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" disabled /> Steep
                                    </td>
                                }
                                else if (Model.Prefilled_Details.TERRAIN_TYPE.Equals("3"))
                                {
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" checked disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" disabled /> Steep
                                    </td>
                                }
                                else if (Model.Prefilled_Details.TERRAIN_TYPE.Equals("4"))
                                {
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" checked disabled /> Steep
                                    </td>
                                }
                                else
                                {
                                    <td colspan="2">
                                        <input type="checkbox" disabled /> Plain &emsp;&emsp;
                                        <input type="checkbox" disabled /> Rolling &emsp;&emsp;
                                        <input type="checkbox" disabled /> Hilly &emsp;&emsp;
                                        <input type="checkbox" disabled /> Steep
                                    </td>
                                }
                            </tr>

                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> XIX. Date of award of work  <i>(date/ month/ year)</i></td>
                                <td> <input type="text" value="@Model.Prefilled_Details.DATE_OF_AWARD_WORK" data-toggle="tooltip" data-placement="bottom" title="Date of award of work" class="inputShortWidth" disabled> </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> XX. Date of start of work  <i>(date/ month/ year)</i></td>
                                <td> <input type="text" value="@Model.Prefilled_Details.DATE_OF_START_WORK" data-toggle="tooltip" data-placement="bottom" title="Date of start of work" class="inputShortWidth" disabled> </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> XXI. Stipulated date of completion  <i>(date/ month/ year)</i></td>
                                <td> <input type="text" value="@Model.Prefilled_Details.STIPULATED_COMPLETION_DATE" data-toggle="tooltip" data-placement="bottom" title="Stipulated date of completion" class="inputShortWidth" disabled> </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> XXII. Actual date of completion <i>(date/ month/ year)</i> <br> &emsp13; <b><i>(in case of completed work)</i></b></td>
                                <td> <input type="text" value="@Model.GENERAL_INFO_PIU_view.ACTUAL_COMPLETION_DATE" data-toggle="tooltip" data-placement="bottom" title="Actual date of completion" class="inputShortWidth" disabled> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div> <!-- Close Headings and General Details -->
            <br>

            <hr class="PageBreakLine">

            <!-- 2. PHYSICAL PROGRESS: (Ongoing/Completed) -->
            <div id="PhysicalProgress_PIU">
                <div class="container-fluid">
                    <h3><b> 2. PHYSICAL PROGRESS (Ongoing/Completed) </b></h3>
                    <hr style="border: 0.5px solid gray">

                    <div class="table-responsive m-3">
                        <p class="fontPIUPdf"> I. Construction Programme and Physical Progress </p>
                        <table class="table table-hover table-bordered fontPIUPdf">
                            <thead>
                                <tr>
                                    <th rowspan="2"> Item of work <br /> (1) </th>
                                    <th rowspan="2"> Unit (length/number) <br /> (2) </th>
                                    <th rowspan="2"> Quantity As per DPR <br /> (3) </th>
                                    <th rowspan="2"> Quantity executed <br /> (4) </th>
                                    <th rowspan="2"> Completed percentage of item <br /> (5) </th>
                                    <th colspan="3"> Fill in start and completion dates </th>
                                    <th rowspan="2"> Delay in months <br /> (9) </th>

                                <tr>
                                    <th> Progress status <br /> (6) </th>
                                    <th> Start Date <br /> (7) </th>
                                    <th> Completion Date <br /> (8) </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.Physical_Progress_List)
                                {
                                    foreach (var thd in @Model.Work_Item_List)
                                    {
                                        if (thd.ITEM_ID == item.ITEM_ID)
                                        {
                                            <tr>
                                                <td>@(@thd.ITEM_DESC == null || thd.ITEM_DESC =="" ? "" : thd.ITEM_DESC)</td>
                                                <td>@(@item.IEM_UNIT  == null || @item.IEM_UNIT  =="" ? "" : @item.IEM_UNIT)</td>
                                                <td>@(@item.DPR_QUANTITY)</td>
                                                <td>@(@item.EXECUTED_QUANTITY)</td>
                                                <td>@(@item.COMPLETED_PERC)</td>

                                                <td>
                                                    Due
                                                    <hr style="border: 0.5px solid lightgrey" />
                                                    Actual
                                                </td>
                                                <td>
                                                    @(@item.DUE_START_DATE == null ? "" : @item.DUE_START_DATE)
                                                    <hr style="border: 0.5px solid lightgrey" />
                                                    @(@item.ACTUAL_START_DATE == null ? "" : @item.ACTUAL_START_DATE)
                                                  
                                                </td>

                                                <td>
                                                    @(@item.DUE_END_DATE == null ? "" : @item.DUE_END_DATE)
                                                    <hr style="border: 0.5px solid lightgrey" />
                                                    @(@item.ACTUAL_END_DATE == null ? "" : @item.ACTUAL_END_DATE)

                                                </td>
                                                <td>
                                                    @item.DELAY_MONTH

                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- Close PHYSICAL PROGRESS: (Ongoing/Completed) -->
            <br>

            <hr class="PageBreakLine">

            <!-- 3. QUALITY CONTROL -->
            <div id="PhysicalProgress_PIU">
                <div class="container-fluid">
                    <h3><b> 3. QUALITY CONTROL </b></h3>
                    <hr style="border: 0.5px solid gray">

                    <div class="container-fluid">
                        <table class="table table-hover table-borderless fontPIUPdf">
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> I. Location of field laboratory  </td>
                                <td>
                                    <input type="text" value="@Model.QC_DETAILS_PIU_view.LAB_LOCATION" data-toggle="tooltip" data-placement="bottom" title="Location of field laboratory" class="inputMidlLargeWidth" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> II. Geo-tagged photograph of laboratory uploaded on <i>(date/ month/ year)</i> </td>
                                <td>
                                    @if (Model.Prefilled_Details.PHYSICAL_WORK_STATUS.Contains("C"))
                                    {
                                        <input type="text" value="" data-toggle="tooltip" data-placement="bottom" title="Geo-tagged photograph of laboratory uploaded on date" class="inputShortWidth" disabled>
                                    }
                                    else
                                    {
                                        <input type="text" value="@Model.QC_DETAILS_PIU_view.PHOTO_UPLOAD_DATE" data-toggle="tooltip" data-placement="bottom" title="Geo-tagged photograph of laboratory uploaded on date" class="inputShortWidth" disabled>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="detailtablesPiuLeftHeading"> III. Reason for delay in establishment of field laboratory <i>(if so)</i> </td>
                                <td>
                                    <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 50px; " data-toggle="tooltip" data-placement="bottom" title="Reason for delay in establishment of field laboratory">
                                        @Model.QC_DETAILS_PIU_view.ESTB_DELAY_REASON
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3"> IV. Details of contractor, executing the work </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead>
                            <th>Sl No.</th>
                            <th> Name of contractor </th>
                            <th> PAN number </th>
                            <th> Mobile number </th>
                            <th> E-mail ID </th>
                            </thead>
                            <tbody>
                                @{int rowcountContractor = 1;}
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("C"))
                                    {
                                        <tr>
                                            <td> @rowcountContractor @{rowcountContractor++;} </td>
                                            <td>@item.OFFICIAL_NAME</td>
                                            <td>@item.PAN</td>
                                            <td>@item.MOBILE_NO</td>
                                            <td>@item.EMAIL_ID</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3"> V. Details of contractor's engineer available at site: (Responsible for maintaining quality control register part-1)  </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead>
                                <tr>
                                    <th rowspan="2"> Sl No. </th>
                                    <th rowspan="2"> Name of contractor's engineer at site </th>
                                    <th rowspan="2"> Identity number </th>
                                    <th rowspan="2"> Mobile number </th>
                                    <th colspan="2"> Duration of posting at site </th>

                                <tr>
                                    <th> From </th>
                                    <th> To </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowcountEngineer = 1;}
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("E"))
                                    {
                                <tr>
                                    <td> @rowcountEngineer @{rowcountEngineer++;} </td>
                                    <td> @item.OFFICIAL_NAME </td>
                                    <td> @item.IDENTITY_NUMBER </td>
                                    <td> @item.MOBILE_NO </td>
                                    <td> @item.FROM_DATE </td>
                                    <td> @item.TO_DATE </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3"> VI. Details of contractor's lab technician </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead>
                                <tr>
                                    <th rowspan="2"> Sl No. </th>
                                    <th rowspan="2"> Name of contractor's lab technician </th>
                                    <th rowspan="2"> Identity number </th>
                                    <th rowspan="2"> Mobile number </th>
                                    <th colspan="2"> Duration of posting at site </th>
                                <tr>
                                    <th> From </th>
                                    <th> To </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowcountLabTech = 1;}                                                                
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("L"))
                                    {
                                        <tr>
                                            <td> @rowcountLabTech @{rowcountLabTech++;} </td>
                                            <td> @item.OFFICIAL_NAME </td>
                                            <td> @item.IDENTITY_NUMBER </td>
                                            <td> @item.MOBILE_NO </td>
                                            <td> @item.FROM_DATE </td>
                                            <td> @item.TO_DATE </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3"> VII. Details of Head of PIU supervising the work </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead>
                                <tr>
                                    <th rowspan="2"> Sl No. </th>
                                    <th rowspan="2"> Head of PIU <br> (Executive engineer) </th>
                                    <th rowspan="2"> Employ number </th>
                                    <th colspan="2"> Duration of posting at site </th>
                                <tr>
                                    <th> From </th>
                                    <th> To </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowcountSuperviser = 1;}                                
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("S"))
                                    {
                                        <tr>
                                            <td> @rowcountSuperviser @{rowcountSuperviser++;} </td>
                                            <td>@item.OFFICIAL_NAME </td>
                                            <td>@item.IDENTITY_NUMBER </td>
                                            <td>@item.FROM_DATE </td>
                                            <td>@item.TO_DATE </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3">  VIII. Details of Assistant engineer supervising the work and maintaining quality control register Part-II </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead style="vertical-align: top; text-align: center;">
                                <tr>
                                    <th rowspan="2"> Sl No. </th>
                                    <th rowspan="2"> Name of Assistant engineer </th>
                                    <th rowspan="2"> Employ number </th>
                                    <th rowspan="2"> Mobile number </th>
                                    <th colspan="2"> Duration of posting at site </th>

                                <tr>
                                    <th> From </th>
                                    <th> To </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowcountAssistant = 1;}
                                
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("A"))
                                    {
                                        <tr>
                                            <td> @rowcountAssistant @{rowcountAssistant++;} </td>
                                            <td>@item.OFFICIAL_NAME </td>
                                            <td>@item.IDENTITY_NUMBER </td>
                                            <td>@item.MOBILE_NO </td>
                                            <td>@item.FROM_DATE </td>
                                            <td>@item.TO_DATE </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <p class="fontPIUPdf m-3"> IX. Details of the Junior engineer supervising the work </p>
                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf" align="center" style="width: 75%;">
                            <thead style="vertical-align: top; text-align: center;">
                                <tr>
                                    <th rowspan="2"> Sl No. </th>
                                    <th rowspan="2"> Name of Junior engineer </th>
                                    <th rowspan="2"> Employ number </th>
                                    <th rowspan="2"> Mobile number </th>
                                    <th colspan="2"> Duration of posting at site </th>

                                <tr>
                                    <th> From </th>
                                    <th> To </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowcountJuniorEng = 1;}                                                                
                                @foreach (var item in @Model.QC_OFFICIAL_DETAILS_LIST)
                                {
                                    if (item.OFFICIAL_TYPE.Equals("J"))
                                    {
                                        <tr>
                                            <td> @rowcountJuniorEng @{rowcountJuniorEng++;} </td>
                                            <td>@item.OFFICIAL_NAME</td>
                                            <td>@item.IDENTITY_NUMBER</td>
                                            <td>@item.MOBILE_NO</td>
                                            <td>@item.FROM_DATE</td>
                                            <td>@item.TO_DATE</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="container-fluid">
                        <table class="table table-hover table-borderless fontPIUPdf">
                            <tbody>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">X. List of equipments available in field lab</td>
                                    <td>
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 50px;" data-toggle="tooltip" data-placement="bottom" title="List of equipments available in field lab">
                                            @Model.QC_DETAILS_PIU_view.LAB_EQUIP_AVBL
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading"> Table (IX) a </td>
                                </tr>
                                <tr style="border: 1px solid grey;">
                                    <th class="detailtablesPiuLeftHeading" style="border: 1px solid grey; vertical-align: text-bottom;text-align: center;"> Available equipments that are in working condition (1) </th>
                                    <th class="detailtablesPiuLeftHeading" style="border: 1px solid grey; vertical-align: text-bottom;text-align: center;"> Available equipments that are not in working condition (2) </th>
                                </tr>
                                <tr style="border: 1px solid grey;">
                                    <td style="border: 1px solid grey;">
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 80px;" data-toggle="tooltip" data-placement="bottom" title="Available equipments that are in working condition (1)">
                                            @Model.QC_DETAILS_PIU_view.EQUIP_WORKING
                                        </div>
                                    </td>
                                    <td style="border: 1px solid grey;">
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 80px;" data-toggle="tooltip" data-placement="bottom" title="Available equipments that are not in working condition (2)">
                                            @Model.QC_DETAILS_PIU_view.EQUIP_NOT_WORKING
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="detailtablesPiuLeftHeading">XI. List of equipments not available in field lab</td>
                                    <td>
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 50px;" data-toggle="tooltip" data-placement="bottom" title="List of equipments not available in field lab">
                                            @Model.QC_DETAILS_PIU_view.LAB_EQUIP_NOT_AVBL
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">XII. Reasons put forth by PIU for non availability of equipments in field lab</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 50px;" data-toggle="tooltip" data-placement="bottom" title="Reasons put forth by PIU for non availability of equipments in field lab">
                                            @Model.QC_DETAILS_PIU_view.REASON_LAB_EQUIP_NOT_AVBL
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">XIII. Equipments and documents ready to be made available to QM before or during the inspection</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="grow-wrap rounded p-2 border border-grey text-wrap fontPIUPdf" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-height: 50px;" data-toggle="tooltip" data-placement="bottom" title="Equipments and documents ready to be made available to QM before or during the inspection">
                                            @Model.QC_DETAILS_PIU_view.DOCUMENT_FOR_QM
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- Close QUALITY CONTROL -->
            <br>

            <hr class="PageBreakLine">

            <!-- 4.DETAILS OF MIX DESIGN(s)-->
            <div id="PhysicalProgress_PIU">
                <div class="container-fluid">
                    <h3><b> 4. DETAILS OF MIX DESIGN(s) <span style="font-size: medium;">(if provided in the sanctioned project)</span> </b></h3>
                    <hr style="border: 0.5px solid gray">
                    @if (Model.GENERAL_INFO_PIU_view.MIX_DESIGN_APPLICABLE.Equals("Y"))
                    {
                        <p class="fontPIUPdf m-3">Is it applicable <b>(check the box)</b> &emsp;&emsp;&emsp;&emsp; <input type="checkbox" checked disabled /> Yes &emsp;&emsp; <input type="checkbox" disabled /> No </p>
                    }
                    else if (Model.GENERAL_INFO_PIU_view.MIX_DESIGN_APPLICABLE.Equals("N"))
                    {
                        <p class="fontPIUPdf m-3">Is it applicable <b>(check the box)</b> &emsp;&emsp;&emsp;&emsp; <input type="checkbox" disabled /> Yes &emsp;&emsp; <input type="checkbox" checked disabled /> No </p>
                    }
                    else {
                        <p class="fontPIUPdf m-3">Is it applicable <b>(check the box)</b> &emsp;&emsp;&emsp;&emsp; <input type="checkbox" disabled /> Yes &emsp;&emsp; <input type="checkbox" disabled /> No </p>
                    }

                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf">
                            <thead style="vertical-align: top; text-align: center;">
                            <th> Sl No. </th>
                            <th> Mix Design </th>
                            <th> Mix Design Strength </th>
                            <th> Institute/laboratory where mix design was done </th>
                            <th> Date </th>
                            </thead>
                            <tbody>
                                @{int rowcountMixDesign = 1;}
                                @foreach (var item in @Model.MIX_DESIGN_DETAILS_LIST)
                                {
                                    foreach (var thd in @Model.Work_Item_List)
                                    {
                                        if (thd.ITEM_ID == item.ITEM_ID)
                                        {
                                            <tr>
                                                <td> @rowcountMixDesign @{rowcountMixDesign++;} </td>
                                                <td> @thd.ITEM_DESC </td>
                                                <td> @item.DESIGN_STRENGTH </td>
                                                <td> @item.DESIGN_LAB </td>
                                                <td> @item.DESIGN_DATE </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- Close DETAILS OF MIX DESIGN(s) -->
            <br>

            <hr class="PageBreakLine">

            <!-- 5.EARLIER INSPECTIONS BY NQM, SQM or SENIOR DEPARTMENTAL OFFICERS (SEs & CEs) AND ACTION TAKEN STATEMENT -->
            <div id="PhysicalProgress_PIU">
                <div class="container-fluid">
                    <h3><b> 5. EARLIER INSPECTIONS BY NQM, SQM or SENIOR DEPARTMENTAL OFFICERS (SEs & CEs) AND ACTION TAKEN STATEMENT </b></h3>
                    <p class="fontPIUPdf">  (Details about departmental officers who inspected the work should be added after the NQM/SQM details.) </p>
                    <hr style="border: 0.5px solid gray">

                    <div class="table-responsive m-3">
                        <table class="table table-hover table-bordered fontPIUPdf">
                            <thead style="vertical-align: top; text-align: center;">
                                <tr>
                                    <th> Date of visit </th>
                                    <th> Name and Designation of inspecting officer (NQM/SQM/CE/SE) </th>
                                    <th colspan="2"> Road distance (RD) </th>
                                    <th> Level of work at the time of inspection </th>
                                    <th> Major observations </th>
                                    <th> Action taken by PIU with  date </th>

                                <tr>
                                    <th> (1) </th>
                                    <th> (2) </th>
                                    <th> From <br> (3) </th>
                                    <th> To <br> (4) </th>
                                    <th> (5) </th>
                                    <th> (6) </th>
                                    <th> (7) </th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.PREVIOUS_INSP_DETAILS_LIST)
                                {
                                    <tr>
                                        <td>@(@item.VISIT_DATE == null ? "" : @item.VISIT_DATE)</td>
                                        <td>@(@item.VISITOR_NAME_DESG == null || @item.VISITOR_NAME_DESG == "" ? "" : @item.VISITOR_NAME_DESG)</td>
                                        <td>@(@item.ROAD_FROM)</td>
                                        <td>@(@item.ROAD_TO)</td>
                                        <td>@(@item.INSP_LEVEL  == null || @item.INSP_LEVEL  =="" ? "" : @item.INSP_LEVEL)</td>
                                        <td>@(@item.OBSERVATIONS  == null || @item.OBSERVATIONS  == "" ? "" : @item.OBSERVATIONS)</td>
                                        <td>@(@item.ACTION  == null || @item.ACTION  == "" ? "" : @item.ACTION)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- Close EARLIER INSPECTIONS BY NQM, SQM or SENIOR DEPARTMENTAL OFFICERS (SEs & CEs) AND ACTION TAKEN STATEMENT -->
            <br>

            <p class="fontPIUPdf" style="margin-left: 130px;"> <b>Seal of PIU</b> </p>
            <div class="container-fluid m-3" style="display: flex; justify-content: space-between;">

                <div class="m-3" id="piuSEAL" style="border: 1px solid black; height: 200px; width: 20%; border-radius: 4px;">

                </div>
                <div id="piuInformation" style="margin-left:auto;margin-right: 25px;">
                    <table class="table table-hover table-borderless fontPIUPdf w-30">
                        <tr>
                            <td>Signature of the Head of PIU</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Name and Designation of the Head of PIU</td>
                            <td>
                                <div class="grow-wrap text-wrap rounded p-1 border border-grey" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-width: 350px; min-height: 30px; " data-toggle="tooltip" data-placement="bottom" title="Name and Designation of the Head of PIU">
                                    @Model.GENERAL_INFO_PIU_view.PIU_HEAD_NAME
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile Number of the Head of PIU</td>
                            <td><input type="text" value="@Model.GENERAL_INFO_PIU_view.PIU_HEAD_MOBILE_NO" data-toggle="tooltip" data-placement="bottom" title="Mobile Number of the Head of PIU" class="inputShortWidth" disabled>  </td>
                        </tr>
                        <tr>
                            <td>E-mail of the Head of PIU</td>
                            <td><input type="text" value="@Model.GENERAL_INFO_PIU_view.PIU_HEAD_EMAIL" data-toggle="tooltip" data-placement="bottom" title="E-mail of the Head of PIU" class="inputMediumWidth" disabled>  </td>
                        </tr>
                        <tr>
                            <td>Address of the PIU</td>
                            <td>
                                <div class="grow-wrap text-wrap rounded p-1 border border-grey" style="border: 1px solid lightgray; color: #666; background-color: #eee; min-width: 350px; min-height: 30px;" data-toggle="tooltip" data-placement="bottom" title="Address of the PIU">
                                    @Model.GENERAL_INFO_PIU_view.PIU_ADDR
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><input type="text" value="@Model.GENERAL_INFO_PIU_view.PIU_SIGN_DATE" data-toggle="tooltip" data-placement="bottom" title="Date" class="inputShortWidth" disabled>  </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>  <!-- Main div -->
    </div>
</body>
</html>