@model PMGSY.Models.EremittnaceOrderModel
@using Mvc.Mailer;
@{
    Layout = null;
}
<html>
    <head>

<script src="~/Scripts/custom/Generic.js"></script>
                

  @* @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 21)
    {

       <script>
           
           //call from list view erem details
           $("#btnPrintERemOrderDetails").click(function () {

               if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {   // Chrome Browser Detected?


                   var windowSummary = window.open('', 'ERemittace', 'height=850,width=700');
                   windowSummary.document.write('<html><head><title></title>');
                   windowSummary.document.write('<style type="text/css">td, th{border:1px solid black;}#first {border-collapse:collapse;}th.ui-th-column div {white-space: normal !important;height: auto !important;padding: 2px;}</style>');
                   windowSummary.document.write('</head><body>');
                   windowSummary.document.write('<h3 style="text-align:center">E-Remittance Details</h3>');
                   windowSummary.document.write($("#dvPrintEremittanceOrderDetails").html());
                   
                   if ('@Model.ShowPasswordRow' == "Y") {
                       windowSummary.document.write('<h4 style="text-align:left">Note : This Voucher is not finalize by Authorized Signatory.</h4>');
                   }

                   windowSummary.document.write('</body></html>');

                   windowSummary.PPClose = false;                                     // Clear Close Flag
                   windowSummary.onbeforeunload = function () {                         // Before Window Close Event
                       if (windowSummary.PPClose === false) {                           // Close not OK?
                           return 'Leaving this page will block the parent window!\nPlease select "Stay on this Page option" and use the \nCancel button instead to close the Print Preview Window.\n';
                       }
                   }
                   windowSummary.print();
                   //windowSummary.close();
                   return true;
               }
               else {

                   var windowSummary = window.open('', 'ERemittace', 'height=850,width=700');
                   windowSummary.document.write('<html><head><title></title>');
                   windowSummary.document.write('<style type="text/css">td, th{border:1px solid black;}#first {border-collapse:collapse;}th.ui-th-column div {white-space: normal !important;height: auto !important;padding: 2px;}</style>');
                   windowSummary.document.write('</head><body>');
                   windowSummary.document.write('<h3 style="text-align:center">E-Remittance Details</h3>');
                   windowSummary.document.write($("#dvPrintEremittanceOrderDetails").html());

                   if ('@Model.ShowPasswordRow' == "Y") {
                       windowSummary.document.write('<h4 style="text-align:left">Note : This Voucher is not finalize by Authorized Signatory.</h4>');
                   }

                   windowSummary.document.write('</body></html>');
                   windowSummary.print();
                   windowSummary.close();
                   return true;

               }
                 });
       </script>       
      }*@
    </head>


   
<body>
     <div class="ui-corner-all" style="border: solid gray 1px; margin-top: 3px;height:6%;width:100%">
    @* @Html.InlineImage("logo", "Company Logo")      *@
    </div>
 
    <div id="dvPrintEremittanceOrderDetails">
        <table class="rowstyle">

            <tr>
                <td colspan="2" style="vertical-align: central">
                    <div class="ui-widget-header"><b> E-Remittance Instruction Details :</b></div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">Email Sender</td>
                <td style="width: 20%">omms.pmgsy@nic.in</td>

            </tr>
            <tr>
                <td style="width: 20%">Email Recepient </td>
                <td id="EmailRecepient"><b>@Model.EmailRecepient</b></td>
            </tr>
            <tr>
                <td style="width: 20%">Email Subject</td>
                <td><b>An E-Remittance transaction is made by DPIU of <span id="DPIUName">@Model.DPIUName</span> of <span id="STATEName">@Model.STATEName</span> on https://omms.nic.in,
                     E-Remittance No:<span id="EpayNo">@Model.EpayNumber</span></b>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">Email Date</td>
                <td id="EmailDate"><b>@Model.EmailDate</b></td>
            </tr>
            <tr>
                <td style="width: 20%">Email is for</td>
                <td id="Bankaddress"><b>@Model.Bankaddress</b></td>
            </tr>
            <tr>
                <td style="width: 20%">Account Number </td>
                <td id="BankAcNumber"><b>@Model.BankAcNumber</b></td>
            </tr>
             <tr>
                <td>Authorised Signatory Name </td>
                <td id ="AuthSignName">@Model.AuthorisedSignName</td>
             </tr>
            <tr>
                <td>Authorised Signatory Phone Number  </td>
                <td id ="AuthSignPhoneNumber">@Model.AuthorisedSignMobile</td>
            </tr>
        </table>
        <br />
        <table class="rowstyle" style="width: 100%">
            <tr>
                <td>
                    <div class="ui-widget-header"><b>E-Remittance Transaction Details For: @Model.DepartmentName</b></div>
                </td>
            </tr>
        </table>

        <table class="rowstyle">
            <tr>
                <td style="width: 20%; height: 0">E-Remittance </td>
                <td id="EpayNumber" style="width: 70%; height: 0"><b>@Model.EpayNumber </b></td>
            </tr>
            <tr>
                <td style="width: 20%">E-Remittance Date </td>
                <td id="EpayDate"><b>@Model.EpayDate </b></td>
            </tr>
            <tr>
                <td style="width: 20%">State </td>
                <td id="EpayState"><b>@Model.EpayState </b></td>
            </tr>

            <tr>
                <td style="width: 30%">DPIU</td>
                <td id="EpayDPIU"><b>@Model.EpayDPIU </b></td>
            </tr>
            <tr>
                <td style="width: 20%">Voucher Number</td>
                <td id="EpayVNumber"><b>@Model.EpayVNumber </b></td>
            </tr>
            <tr>
                <td style="width: 30%">Voucher Date </td>
                <td id="EpayVDate"><b>@Model.EpayVDate </b></td>
            </tr>
            <tr>
                <td style="width: 20%">Department Name </td>
                <td id="EpayVPackages"><b>@Model.DepartmentNameFull </b></td>
            </tr>
            <tr>
                <td style="width: 20%">Department Bank Account Number </td>
                <td id="EpayConName"><b>@Model.DepartmentAcNum </b></td>
            </tr>

            <tr>
                <td style="width: 20%">DPIU TAN Number </td>
                <td id="EpayConAcNum"><b>@Model.DPIUTANNumber </b></td>
            </tr>


        </table>
        <br />
        <table class="rowstyle">
            @if (Model.ContractorList != null && Model.ContractorList.Count() != 0)
            {
                <tr>
                    <td style="width: 5%">
                        <div class="ui-widget-header" style="text-align:center">Sr.<br />No </div>
                    </td>
                    <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Contractor(Company)<br />Name </div>
                    </td>
                     <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Contractor Bank <br />Name </div>
                    </td>
                     <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Account <br />Number</div>
                    </td>
                    <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Contractor <br />PAN No </div>
                    </td>
                    <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Agreement <br />Number </div>
                    </td>
                    <td style="width: 20%">
                        <div class="ui-widget-header" style="text-align:center">Amount <br />(in Rs) </div>
                    </td>
                </tr>
            }
            @{ int i = 1;}
            @foreach (var item in Model.ContractorList)
            {  <tr>
                <td style="text-align: center"><b>@i </b></td>

                <td id=""><b>@item.EpayConName </b></td>

                <td id=""><b>@item.EpayConBankName </b></td>
                <td id=""><b>@item.EpayConAcNum </b></td>


                <td id=""><b>@item.EpayConPanNumber </b></td>


                <td id=""><b>@item.EpayConAggreement </b></td>


                <td style="text-align: right"><b>@item.EpayAmount </b></td>

            </tr>
                i++;
            }
            <tr>
                <td colspan="6" style="text-align: right">Total </td>
                <td style="text-align: right"><b>@Model.TotalAmount </b></td>

            </tr>
            <tr>
                <td colspan="7" style="text-align: right">@Model.EpayTotalAmountInWord
                    <input type="hidden" value="@Model.ShowPasswordRow" id="RemShowPassword"/>

                </td>


            </tr>
        </table>
    </div>

 @*   @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode != 26)
    {
        <br />
        <div id="PrintEremDetails">
            <div class="ui-state-default ui-corner-all jqueryButton" id="btnPrintERemOrderDetails" title="Print Eremittance Details">
                <span style="float: left" class="ui-icon ui-icon-print"></span>
                <span style="float: left; margin-right: 5px">Print</span>
            </div>
        </div>
    }*@

   @*   <br />
              <br />
                    <b>Dear Sir / Madam,</b><br /><br />

            An E-Remittance transaction has been made on https://online.omms.nic.in. <br /><br />

            Please see the attached PDF File: @Model.PdfFileName for details.<br /><br />

            This PDF file is protected by a password, which is required to open it and view its details. The password is already mailed to you.<br /><br />
            
            With Regards,<br /><br />
            OMMAS Team<br /><br /><br />
            
            Note: <span style="font-family: Zurich BT; color: #444444;">This is a system generated mail. Please do not reply back to this email ID. If you have a query or need any clarification you may contact the concerned PIU / SRRDA.</span><br /><br />

            <span style="font-family: Times New Roman; color: #444444;"><b>CONFIDENTIALITY INFORMATION AND DISCLAIMER</b></span><br />
            <span style="font-family: Zurich BT; color: #444444;">This email message and its attachments may contain confidential, proprietary or legally privileged information and is intended solely for the use of the individual or entity to whom it is addressed. If you have erroneously received this message, please delete it immediately and notify the sender. If you are not the intended recipient of the email message you should not disseminate, distribute or copy this e-mail.E-mail transmission can not be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, incomplete or contain viruses and the OMMAS team accepts no liability for any damage caused by the limitations of the e-mail transmission.</span>*@
</body>
</html>

