@model PMGSY.Models.QualityMonitoring.ProficiencyTestScoreModel

@{
    ViewBag.Title = "TestScoreReport";
}

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/QualityMonitoring/MonitorProficiencyTestScore.js"></script>

<center>
    <form id="formDownloadTemplate">
        @Html.AntiForgeryToken()
        <center>@Html.ValidationSummary(true)</center>

        <div id="divAddScore" class="ui-corner-top ui-widget-header panelheader" style="text-align: center; margin-top: 20px; height: 20px; width: 100%">
            <span class="ui-jqgrid-title" id="inspOperation" style="float: left">&nbsp;&nbsp;Download Template Sheet</span>
            <span id="spCollapseIconDownload" class="ui-icon ui-icon-circle-close" style="float: right"></span>
        </div>
        <table class="rowstyle" style="width: 100%; margin-top: 0px; border: 1px solid grey; border-radius:0.5rem; padding: 0.5%">

            <tr>
                <td style="padding:0.5rem; width:20rem">
                    @Html.LabelFor(model => model.NQM_SQM)<label style="color: red">*</label>
                </td>
                <td style="width:20rem">
                    @Html.DropDownListFor(model => model.NQM_SQM, new SelectList(Model.NQM_SQM_LIST, "Value", "Text"), new { @id = "monitorType" })
                    @Html.ValidationMessageFor(model => model.NQM_SQM)
                </td>

                <td style="display: none; padding: 0.5rem; width: 20rem" class="stateDropdown">
                    @Html.LabelFor(model => model.STATE_CODE)<label style="color: red">*</label>
                </td>
                <td style="display: none; width: 20rem;" class="stateDropdown">
                    @Html.DropDownListFor(model => model.STATE_CODE, new SelectList(Model.STATE_LIST, "Value", "Text"), new { @id = "stateCode" })
                    @Html.ValidationMessageFor(model => model.STATE_CODE)
                </td>
                <td style="width:50rem">
                    <input type="button" id="btnDownloadTemplate" name="btnSave" value="Download" class="jqueryButton" title="Download Template" tabindex="5" />
                </td>
            </tr>

        </table>

    </form>

</center>