@**
        * Project Id    :
        * Project Name  :   OMMAS II
        * Name          :   QMATRAccpetedObsDetails.cshtml
        * Description   :   View for QMATRAccpetedObsDetails
        * Author        :   Shyam Yadav 
        * Creation Date :   10/Jun/2013
 **@


@model PMGSY.Models.QualityMonitoring.QMFillObservationModel

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/QualityMonitoring/QMObservationDetails.js"></script>

<form id="frmGradeCorrection">
    <div id="divFillObservationsError" class="ui-state-error ui-corner-all" style="text-align: left; display: none; width: 100%">
        <span class="ui-icon ui-icon-alert" style="float: left;"></span>
        <span></span>
    </div>
    @Html.HiddenFor(model => model.ADMIN_SCHEDULE_CODE)
    @Html.HiddenFor(model => model.IMS_PR_ROAD_CODE)
    @Html.HiddenFor(model => model.QM_OBSERVATION_ID)
    @Html.HiddenFor(model => model.IMS_ISCOMPLETED)
    @Html.HiddenFor(model => model.IS_ATR_PAGE)
    @Html.Hidden("hdnRole", PMGSY.Extensions.PMGSYSession.Current.RoleCode.ToString())
    <center>
        <table class="rowstyle" id="tblObsDetails" style="margin-top:0px; text-align:left; border:ridge 0.1em #ccc; width:100%; padding:5px 5px 5px 5px;">

            <tr style="text-align:left;">
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.MONITOR_NAME)
                </td>
                <td style="width:15%;">
                    @Html.DisplayFor(model => model.MONITOR_NAME)
                </td>
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.STATE_NAME)
                </td>
                <td style="width:10%">
                    @Html.DisplayFor(model => model.STATE_NAME)
                </td>
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.DISTRICT_NAME)
                </td>
                <td style="width:10%">
                    @Html.DisplayFor(model => model.DISTRICT_NAME)
                </td>
            </tr>
            <tr style="text-align:left;">

                @if (Model.IMS_PROPOSAL_TYPE.Equals("P"))
                {
                    <td style="width:10%">
                        @Html.LabelFor(model => model.IMS_ROAD_NAME)
                    </td>
                    <td colspan="7">
                        @Html.DisplayFor(model => model.IMS_ROAD_NAME)
                    </td>
                }
                else
                {
                    <td style="width:12%;font-weight:bold;">
                        @Html.LabelFor(model => model.IMS_ROAD_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IMS_ROAD_NAME)
                    </td>
                    <td style="width:12%;font-weight:bold;">
                        @Html.LabelFor(model => model.IMS_BRIDGE_NAME)
                    </td>
                    <td colspan="3">
                        @Html.DisplayFor(model => model.IMS_BRIDGE_NAME)
                    </td>

                }
            </tr>
            <tr>
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.IMS_YEAR)
                </td>
                <td style="width:10%">
                    @Html.DisplayFor(model => model.IMS_YEAR)
                </td>
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.IMS_PACKAGE_ID)
                </td>
                <td style="width:15%">
                    @Html.DisplayFor(model => model.IMS_PACKAGE_ID)
                </td>
                @if (Model.IMS_PROPOSAL_TYPE.Equals("P"))
                {
                    <td style="width:10%;font-weight:bold;">
                        @Html.LabelFor(model => model.IMS_PAV_LENGTH)
                    </td>
                    <td style="width:10%">
                        @Html.DisplayFor(model => model.IMS_PAV_LENGTH)
                    </td>
                }
                else
                {
                    <td style="width:10%;font-weight:bold;">
                        @Html.LabelFor(model => model.IMS_BRIDGE_LENGTH)
                    </td>
                    <td style="width:10%">
                        @Html.DisplayFor(model => model.IMS_BRIDGE_LENGTH)
                    </td>
                }
            </tr>

            <tr style="text-align:left;">
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.IMS_ISCOMPLETED)
                </td>
                <td style="width:10%;">
                    @if (Model.IMS_ISCOMPLETED.Equals("C"))
                    {
                        <b>Completed</b>
                    }
                    else if (Model.IMS_ISCOMPLETED.Equals("P"))
                    {
                        <b>In Progress</b>
                    }
                    else if (Model.IMS_ISCOMPLETED.Equals("M"))
                    {
                        <b>Maintenance</b>
                    }
                </td>
                <td style="width:12%;font-weight:bold;">
                    @Html.LabelFor(model => model.COMPLETION_DATE)
                </td>
                <td style="width:15%;">
                    @Html.DisplayFor(model => model.COMPLETION_DATE)
                </td>
                <td style="width:15%;font-weight:bold;">
                    @Html.LabelFor(model => model.QM_INSPECTION_DATE)
                </td>
                <td colspan="7">
                    @Html.DisplayFor(model => model.QM_INSPECTION_DATE)
                </td>
            </tr>
            @if (Model.IMS_PROPOSAL_TYPE.Equals("P"))
            {
                <tr style="text-align:left;">
                    <td style="width:15%;font-weight:bold;">
                        @Html.LabelFor(model => model.FROM_ROAD_LENGTH)
                    </td>
                    <td style="width:10%;">
                        @Html.DisplayFor(model => model.FROM_ROAD_LENGTH)
                    </td>
                    <td style="width:12%;font-weight:bold;">
                        @Html.LabelFor(model => model.TO_ROAD_LENGTH)
                    </td>
                    <td style="width:15%;">
                        @Html.DisplayFor(model => model.TO_ROAD_LENGTH)
                    </td>
                    <td></td>
                    <td colspan="3"></td>
                </tr>
            }
        </table>


        @if (Model.IMS_ISCOMPLETED.Equals("M"))
        {
            <div class="ui-state-default ui-corner-top" style="text-align:left; width:98.5%;height:20px;padding-left:15px; padding-top:3px; font-size:11px; font-weight:bold;">
                Note : Overall Grading denotes, [ <strong> U </strong> - No Maintenance | <strong> SRI </strong> - Low Maintenance | <strong> S </strong> - Maintenance Not Required / Proper Maintenance ]
            </div>
        }
        <table id="tblObsGradeDetails" style="margin-top:0px; text-align:left; border:ridge 0.1em #ccc; width:100%; padding:5px 5px 5px 5px;">

            <tr>
                @{
                    int i = 0;
                    int srno = 1;
                }
                @if (Model.IMS_PROPOSAL_TYPE.Equals("P"))
                {
                    if (Model.IMS_ISCOMPLETED.Equals("C") || Model.IMS_ISCOMPLETED.Equals("P"))
                    {
                        <td style="width:99%; vertical-align:top;">
                            <table class="rowstyle" id="tblObsGrading" style="margin-top:1px; text-align:left; border:ridge 0.1em #ccc; width:100%; padding:5px 5px 5px 5px;">
                                <tr style="text-align:left;">
                                    <td style="width:10%;font-weight:bold;">Sr.No.</td>
                                    <td style="width:40%;font-weight:bold;">Item Description</td>
                                    <td style="width:20%;font-weight:bold;">Grade</td>
                                    <td style="width:30%;font-weight:bold;">Remarks</td>
                                </tr>

                                @while (i < Model.GRADE_DETAILS_LIST_ATR.Count)
                                {
                                    if (Model.GRADE_DETAILS_LIST_ATR[i].MAST_SUB_ITEM_CODE == 0)
                                    {
                                        <tr>
                                            @if (Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 4 || Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 5 || Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 6 || Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 7)
                                            {
                                                <td style="width:10%;text-align:center;color:red;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE</td>
                                            }
                                            else
                                            {
                                                <td style="width:10%;text-align:center">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE</td>
                                            }
                                            <td style="width:40%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_NAME</td>
                                            <td style="width:20%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_GRADE_NAME</td>
                                            <td style="width:30%;font-weight:normal;">@Model.GRADE_DETAILS_LIST_ATR[i].REMARKS</td>
                                        </tr>

                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="width:10%;text-align:center">&nbsp;</td>
                                            <td style="width:40%;text-align:left">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_SUB_ITEM_CODE &nbsp; @Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_NAME</td>
                                            <td style="width:20%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_GRADE_NAME</td>
                                            <td style="width:30%;font-weight:normal;">@Model.GRADE_DETAILS_LIST_ATR[i].REMARKS</td>
                                        </tr>
                                    }
                                    srno++;
                                    i++;
                                }       @*While ends here*@
                            </table>
                        </td>
                    }
                    else if (Model.IMS_ISCOMPLETED.Equals("M"))
                    {
                        <td style="width:98%; vertical-align:top;">
                            <table class="rowstyle" id="tblObsGrading" style="margin-top:1px; text-align:left; border:ridge 0.1em #ccc; width:100%; padding:5px 5px 5px 5px;">
                                <tr style="text-align:left;">
                                    <td style="width:10%;font-weight:bold;text-align:center;">Sr.No.</td>
                                    <td style="width:40%;font-weight:bold;">Item Description</td>
                                    <td style="width:20%;font-weight:bold;">Grade</td>
                                    <td style="width:30%;font-weight:bold;">Remarks</td>
                                </tr>

                                @while (i < Model.GRADE_DETAILS_LIST_ATR.Count - 1)
                                {
                                    @*//---------------------------------------------------------- NQM / CQC Grading for Maintenance Roads Starts Here ------------------------------------------------------------------------------------*@

                                    if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 9)        //for CQCAdmin & SQC for Maintenance Road
                                    {
                                        <tr>
                                            <td style="width:10%;text-align:center">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_SUB_ITEM_CODE</td>
                                            <td style="width:40%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_NAME</td>
                                            <td style="width:20%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_GRADE_NAME</td>
                                            <td style="width:30%;font-weight:normal;">@Model.GRADE_DETAILS_LIST_ATR[i].REMARKS</td>
                                        </tr>
                                    }
                                    i++;
                                }       @*While ends here*@
                            </table>
                        </td>
                    }
                }
                else if (Model.IMS_PROPOSAL_TYPE.Equals("L"))
                {

                    <td style="width:49%; vertical-align:top;">
                        <table class="rowstyle" id="tblObsGrading" style="margin-top:1px; text-align:left; border:ridge 0.1em #ccc; width:100%; padding:5px 5px 5px 5px;">
                            <tr style="text-align:left;">
                                <td style="width:10%;font-weight:bold;text-align:center;">Sr.No.</td>
                                <td style="width:40%;font-weight:bold;">Item Description</td>
                                <td style="width:20%;font-weight:bold;">Grade</td>
                                <td style="width:30%;font-weight:bold;">Remarks</td>
                            </tr>

                            @while (i < Model.GRADE_DETAILS_LIST_ATR.Count)
                            {
                                @*//---------------------------------------------------------- NQM/CQC Grading for Completed & In Progress Bridge Starts here ------------------------------------------------------------------------*@

                                if (Model.GRADE_DETAILS_LIST_ATR[i].MAST_SUB_ITEM_CODE == 0)
                                {
                                    <tr>
                                        @if (Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 2 || Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 3 || Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE == 4)
                                        {
                                            <td style="width:10%;text-align:center;color:red;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE</td>
                                        }
                                        else
                                        {
                                            <td style="width:10%;text-align:center;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_CODE</td>
                                        }
                                        <td style="width:40%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_NAME</td>
                                        <td style="width:20%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_GRADE_NAME</td>
                                        <td style="width:30%;font-weight:normal;">@Model.GRADE_DETAILS_LIST_ATR[i].REMARKS</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td style="width:10%">&nbsp;</td>
                                        <td style="width:70%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_SUB_ITEM_CODE<b>. </b>@Model.GRADE_DETAILS_LIST_ATR[i].MAST_ITEM_NAME</td>
                                        <td style="width:20%;font-weight:bold;">@Model.GRADE_DETAILS_LIST_ATR[i].MAST_GRADE_NAME</td>
                                    </tr>

                                }

                                //---------------------------------------------------------- NQM / CQC Grading for Completed & In Progress Bridge Ends here ------------------------------------------------------------------------

                                i++;
                            }       @*While ends here*@
                        </table>
                    </td>
                }
            </tr>
            <tr class="ui-state-default">
                <td style="font-weight:bold;text-align:center" colspan="2">
                    @Model.GRADE_DETAILS_LIST_ATR[Model.GRADE_DETAILS_LIST_ATR.Count - 1].MAST_ITEM_NAME
                &nbsp;&nbsp; - &nbsp;&nbsp;@Model.GRADE_DETAILS_LIST_ATR[Model.GRADE_DETAILS_LIST_ATR.Count - 1].MAST_GRADE_NAME
            </td>
        </tr>
    </table>

    <div id="dvFiles" style="margin-top: 20px; width: 45%;text-align:left;float:left;">
        <table id="tbFilesList"></table>
        <div id="dvFilesListPager"></div>
    </div>

    @* If latlong for any of the corresponding Images are available then only show Google Map *@
    @if (Model.IsLatLongAvailable)
    {
        <table style='width: 53%;margin-left:10px;'>
            <tr>
                <td style="width:100%;">
                    <span id="spnDistanceGMap"></span>
                </td>
            </tr>
        </table>

        <div id='gmapDivRoadPath' style='width: 53%; height:350px; margin-top:5px;'> Location Map  </div>
    }
</center>
</form>