@*
    * Project Id    :
    * Project Name  :   OMMAS II
    * Name          :   QMCompletedInspDetailsLayout.cshtml
    * Description   :   Renders QM Phase Inspection Layout Filter Layout in HTML Format.
    * Author        :   Rohit Jadhav
    * Creation Date :   01/Sept/2014
*@

<script src="~/Scripts/QualityMonitoring/QMPhaseInspectionViewDetails.js"></script>
@model PMGSY.Models.QualityMonitoring.QMPhaseInspectionViewModel
<script src="@Url.Content("~/Scripts/custom/Generic.js")" type="text/javascript" ></script>
<div id="dvhdDistRating" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">@*margin-left:0px;margin-right:0px;margin-top:0px; *@
    <span class="ui-jqgrid-title" style="float: left">&nbsp;Phase Inspection Details</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>

<div id="dvSearchParameter" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">
    <form id="frmDistRating">
        @Html.ValidationSummary(true)
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Mast_State_Code)
        @Html.HiddenFor(model => model.Mast_District_Code)
        @Html.HiddenFor(model => model.Mast_Block_Code)
        @Html.HiddenFor(model => model.StateName)
        @Html.HiddenFor(model => model.DistName)
        @Html.HiddenFor(model => model.AgencyName)
        @*@Html.HiddenFor(model => model.FundingAgencyName)*@
        <table style="width: 100%;" class="rowstyle">
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 4%;">
                    @Html.LabelFor(model => model.StateCode)
                </td>
                <td style="width: 15%;">
                    @if (Model.Mast_State_Code == 0)
                    {
                        @Html.DropDownListFor(model => model.StateCode, new SelectList(Model.StateList, "Value", "Text"), new { @title = "State", @tabindex = 1, @id = "StateList_DistRatingDetail", @style = "width:150px" })
                        <br />
                        @Html.ValidationMessageFor(m => m.StateCode)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.StateName) 
                        @Html.Hidden("StateCode", Model.Mast_State_Code)                            
                    }
                </td>
                <td style="text-align: left; width: 2%;">
                    @Html.LabelFor(model => model.DistrictCode)
                </td>
                <td style="width: 15%;">
                    @if (Model.Mast_District_Code == 0)
                    {
                        @Html.DropDownListFor(model => model.DistrictCode, new SelectList(Model.DistrictList, "Value", "Text"), new { @title = "District", @id = "DistrictList_DistRatingDetail", @tabindex = 2, @style = "width:150px" })
                        @Html.ValidationMessageFor(m => m.DistrictCode)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.DistName)
                        @Html.Hidden("DistrictCode", Model.Mast_District_Code)     
                    }
                </td>
                <td style="text-align: left; width: 2%;">
                    @*@Html.LabelFor(model => model.BlockCode)*@
                    @Html.LabelFor(model => model.AgencyCode)
                </td>

                <td style="width: 15%;">
                    @* @if (Model.Mast_Block_Code == 0)
                    {
                        @Html.DropDownListFor(model => model.BlockCode, new SelectList(Model.BlockList, "Value", "Text"), new { @title = "Block", @id = "BlockList_DistRatingDetail", @tabindex = 3, @style = "width:150px" })
                        @Html.ValidationMessageFor(m => m.BlockCode)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.BlockName)
                        @Html.Hidden("BlockCode", Model.Mast_Block_Code)  
                    }*@
                    @Html.DropDownListFor(model => model.AgencyCode, new SelectList(Model.AgencyList, "Value", "Text"), new { @title = "Agency", @tabindex = 3, @id = "AgencyList_DistRatingDetail", @style = "width:150px" })
                    @Html.ValidationMessageFor(m => m.AgencyCode)
                </td>
                @* <td style="text-align: left; width: 10%;">
                    @Html.Label("Sanction Year")
                </td>
                <td style="width: 23%;">
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new { @id = "ddlQMPhaseInspYear", @title = "Year", @tabindex = 4, })
                    <br />
                    @Html.ValidationMessageFor(m => m.Year)
                </td>*@
                <td style="width: 23%;">
                    <input type="button" id="btnViewDistRatingDetail" value="View" class="jqueryButton" title="View Details" tabindex="8" />
                </td>
            </tr>
            @*<tr>
                <td style="width: 2%;"></td>

                <td style="width: 12%; font-weight: bold;">
                    @Html.Label("Quality Monitor Type")
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(model => model.qmType, new SelectList(Model.qmTypeList, "Value", "Text"), new { @id = "ddlQMPhaseInspQmType", @title = "Quality Monitor Type", @tabindex = 5, })
                    <br />
                    @Html.ValidationMessageFor(m => m.qmType)
                </td>
                <td style="width: 7%; font-weight: bold;">
                    @Html.Label("Road Status")
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(model => model.RoadStatus, new SelectList(Model.RoadStatusList, "Value", "Text"), new { @id = "ddlQMPhaseInspRoadStatus", @title = "Road Status", @tabindex = 6, })
                    <br />
                    @Html.ValidationMessageFor(m => m.RoadStatus)
                </td>
                <td style="width: 5%; font-weight: bold;">
                    @Html.Label("Status")
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(model => model.Status, new SelectList(Model.StatusList, "Value", "Text"), new { @id = "ddlQMPhaseInspStatus", @title = "Status", @tabindex = 7, })
                    <br />
                    @Html.ValidationMessageFor(m => m.Status)
                </td>
            </tr>*@

        </table>
    </form>
</div>
<div id="LoadQMInspDetailsReport" class="divLoadReport"></div>




