@model PMGSY.Models.QualityMonitoring.NQMNotAvailableInspectionViewModel
@{
    ViewBag.Title = "InspectionTargetLayout";
}
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/QualityMonitoring/SearchNQMNAForInspectionLayout.js"></script>

<form id="frmSearchNQMNAForInspectionLayout">

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(m=>m.flg)*@

    <div id="dvhdNQMNAForInspectionLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
        <span class="ui-jqgrid-title" style="float: left">&nbsp;Search NQM Not Available for Inspection Details</span>
    </div>
    <div class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8; width: 99.9%">
        <table style="width: 100%;" class="rowstyle">
            <tr>
                <td style="width: 5%;"></td>

                <td style="width: 10%;">
                    @Html.Label("Month")
                </td>
                <td style="width: 25%;">
                    @Html.DropDownListFor(model => model.Month, new SelectList(Model.lstMonth, "Value", "Text"), new { @id = "ddlMonth", style = "width:170px;", title = "Month" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Month)
                </td>

                <td style="width: 10%;">
                    @Html.Label("Year")
                </td>
                <td style="width: 25%;">
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.lstYear, "Value", "Text"), new { @id = "ddlYear", style = "width:170px;", title = "Year" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Year)
                </td>

                <td style="text-align: left;" style="width: 5%;">
                    <input type="button" id="btnView" value="View" class="jqueryButton" />
                </td>
                <td style="width: 5%;"></td>
            </tr>
        </table>
    </div>
</form>
<br />
@*Inspection target List*@
<div style="width: 99%; margin-bottom: 12px; margin-left: 1px;" id="dvNQMNAForInspectionLayoutGrid">
    <table id="tblNQMNAForInspectionLayoutGrid"></table>
    <div id="divNQMNAForInspectionLayoutPager"></div>
</div>









