@model PMGSY.Models.QualityMonitoring.TourAddPaymentModel
@using PMGSY.Extensions

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/jquery.ui.datepicker.js" type="text/javascript"></script>
<script src="~/Scripts/QualityMonitoring/TourPaymentAdd.js"></script>

<style type="text/css">
    td {
        text-align: left;
    }
</style>

<center>
   
    <div id="divError" class="ui-state-error ui-corner-all" style="text-align: left;width: 90%">
                <span class="ui-icon ui-icon-alert" style="float: left;"></span>                   
                <span></span>
    </div>     
    
    <form id="frmTourPayment">
@Html.AntiForgeryToken()
    <div style="margin-left: 100px">
            @Html.ValidationSummary(true)             
    </div>            

    <div id="divNote" style="height:20px;width:90%;text-align:left; padding-top: 0.6em;" class="ui-state-default ui-corner-all;" > 
        &nbsp;<strong> Note: </strong> 1) Fields marked with * are mandatory.
    </div>

        @Html.HiddenFor(model => model.IMS_INVOICE_CODE)
        @Html.HiddenFor(model => model.EncryptedIMS_Payment_CODE)
        @Html.Hidden("RoleID", PMGSYSession.Current.RoleCode)
        @Html.HiddenFor(model => model.EncryptedIMS_Invoice_Code)
        @Html.HiddenFor(model => model.Invoice_Generate_DATE)
    
     

    <table class="rowstyle" id="tblTourPaymentDetails"  style="border:ridge 0.1em #ccc; padding:5px 5px 5px 5px;width:90%;">
        <tr>
            <td style="width:5%" ></td>
            
             <td style="font-weight:bold;width:10%">
                @Html.LabelFor(model => model.Payment_Type)<span style="color:red">*</span>                
            </td>
            <td style="width:15%">
                @if (Model.EncryptedIMS_Payment_CODE == null)
                {
                        @Html.RadioButtonFor(model => model.Payment_Type, "C", new { @id = "radioPayment_TypeCheque", @tabindex = 1, @title = "Cheque", @checked = true })
                        @Html.Label("Cheque")
                         @Html.RadioButtonFor(model => model.Payment_Type, "N", new { @id = "radioPayment_TypeNEFT", @tabindex = 2, @title = "NEFT" })
                        @Html.Label("NEFT")
                }
                else
                {
                                              
                        @Html.RadioButtonFor(model => model.Payment_Type, "C", new { @id = "radioPayment_TypeCheque", @tabindex = 1, @title = "Cheque" })
                        @Html.Label("Cheque")
                        @Html.RadioButtonFor(model => model.Payment_Type, "N", new { @id = "radioPayment_TypeNEFT", @tabindex = 2, @title = "NEFT" })
                        @Html.Label("NEFT")

                }
            </td>
            <td style="font-weight:bold;width:08%">
                @Html.LabelFor(model => model.IMS_NEFT_CHEQUE_NUMBER, new { @id = "lblPaymentTypeNumber" })<span style="color:red">*</span>
                @*@Html.Label("Cheque Number",new { @id = "lblPaymentTypeNumber" })*@
            </td>
            <td style="table-layout:fixed;width:15%">
                 @Html.TextBoxFor(model => model.IMS_NEFT_CHEQUE_NUMBER, new { @placeholder = "Enter Amount...", @tabindex = 3, maxlength = 25 })
                @Html.ValidationMessageFor(model => model.IMS_NEFT_CHEQUE_NUMBER)
           </td>           
        </tr>
                
        <tr>
            <td style="width:5%" ></td>

            <td style="font-weight:bold">           
                @Html.LabelFor(model => model.IMS_Payment_DATE)<span style="color:red">*</span>
            </td>
            <td style="font-weight:bold">
                @Html.TextBoxFor(model => model.IMS_Payment_DATE, new { @title = "Enter Payment  Date", @placeholder = "Enter Payment Date...", @tabindex = 4 })
                @Html.ValidationMessageFor(model => model.IMS_Payment_DATE)
            </td>

            <td style="font-weight:bold">         
              
            </td>
            <td style="font-weight:bold">
               
            </td>
        </tr>

        <tr>
        @if (Model.EncryptedIMS_Payment_CODE == null)
        { 
             <td colspan="6" style="text-align:center">
                <input type="button" id="btnSave" name="btnSave" value="Save" class="jqueryButton" tabindex="4" />
                <input type="reset" id="btnReset" name="btnSave" value="Reset" class="jqueryButton" tabindex="5"/>
            </td>    
        }
        else
        {
            <td colspan="6" style="text-align:center">
                <input type="button" id="btnUpdate" name="btnUpdate" value="Update" class="jqueryButton" tabindex="4" />
                <input type="button" id="btnCancel" name="btnCancel" value="Cancel" class="jqueryButton" tabindex="5"/>
            </td>            
        }

         </tr>
</table>

    </form>
</center>




