@model PMGSY.Models.Feedback.FeedbackDetails.DetailsFB
@{
    ViewBag.Title = "DetailsFB";
}

<script src="~/Scripts/custom/Generic.js"></script>
@*<script src="~/Scripts/jquery.ui.accordion.js"></script>*@

<script src="~/Scripts/jquery.ui.tabs.js"></script>
<script src="@Url.Content("~/Scripts/Feedback/DetailsFBNew.js")"></script>


<div style="width: 98%; height: 20px; border: none; margin-top: 5px; margin-bottom: -15px;" class="ui-state-default">
    <span style="float: right; margin-right: 2Px; margin-top: 2px" id="idFilterDiv" class="ui-icon ui-icon-circle-triangle-n"></span>
</div>
<div style="width: 98%; border: none; margin-top: -15px; margin-bottom: 10px;" class="ui-state-default">
    <div id="divFeedbackMain">
        <form id="frmDetailsFB">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table style="margin-top: 10px; margin-bottom: 5px">
                <tr>
                    <td style="width: 7%"></td>
                    <td>
                        @Html.HiddenFor(m => m.hdnRoleId, new { @id = "hdnRole" })
                        @Html.LabelFor(m => m.MONTHs, new { @id = "lblMonths" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.MONTHs, new SelectList(Model.Months_List, "Value", "Text"), new { @id = "ddlMonths" })
                        @* @Html.ValidationMessageFor(m=>m.MONTHs)*@
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }
                    <td>
                        @Html.LabelFor(m => m.YEARs, new { @id = "lblYears" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.YEARs, new SelectList(Model.Years_List, "Value", "Text"), new { @id = "ddlYears" })
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }

                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 25 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5)
                    {
                        <td>
                            @Html.LabelFor(m => m.State, new { @id = "lblStates" })
                        </td>
                        <td>@Html.DropDownListFor(m => m.State, new SelectList(Model.State_List, "Value", "Text"), new { @id = "ddlStates" })
                        </td>
                    }
                    <td>
                        @Html.LabelFor(m => m.Category, new { @id = "lblCatagories" })
                    </td>
                    <td>@Html.DropDownListFor(m => m.Category, new List<SelectListItem>
                     {
                         new SelectListItem{Text="All Categories", Value = "0"},
                        new SelectListItem{ Text="Comment", Value = "F" }, 
                        new SelectListItem{ Text="Query", Value = "Q" }, 
                        new SelectListItem{ Text="Complaint", Value = "C" }, 
                        new SelectListItem{ Text="General", Value = "G" }
                     }, new { @id = "ddlCategories" })
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }

                    <td style="display:none;">
                        @*@Html.LabelFor(m => m.Approved, new { @id = "lblApproved" })*@
                        @Html.Label("Acceptance", new { @id = "lblApproved" })
                    </td>
                    <td style="display:none;">@Html.DropDownListFor(m => m.Approved, new List<SelectListItem>
                     {
                         new SelectListItem{ Text="All", Value = "0" },
                        new SelectListItem{ Text="Yes", Value = "Y" }, 
                        new SelectListItem{ Text="No", Value = "N" }
                     }, new { @id = "ddlApproved" })
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }
@* <td></td>
                    <td></td>*@
                </tr>
                <tr>
                    <td style="width: 7%"></td>
                    <td>
                        @Html.LabelFor(m => m.Status, new { @id = "lblStatus" })
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.Status, new SelectList(Model.Status_List, "Value", "Text"), new { @id = "ddlStatus", @title = "Status" })
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }
                    <td>
                        @Html.LabelFor(m => m.feedbackThrough, new { @id = "lblfbThrough" })
                    </td>
                    <td>@Html.DropDownListFor(m => m.feedbackThrough, new List<SelectListItem>
                     {
                         new SelectListItem{ Text="Both", Value = "0" },
                        new SelectListItem{ Text="Mobile", Value = "M" }, 
                        new SelectListItem{ Text="Web", Value = "W" }
                     }, new { @id = "ddlfbThrough" })
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td style="width: 05%"></td>
                    }
                </tr>
                <tr>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td></td>
                        <td colspan="14">
                            @Html.ValidationMessageFor(m => m.MONTHs)
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td colspan="12">
                            @Html.ValidationMessageFor(m => m.MONTHs)
                        </td>
                    }


                </tr>
                <tr>
                    @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 8)
                    {
                        <td colspan="15" style="text-align: center">
                            <input type="button" id="btnSubmit" class="jqueryButton" value="Search" title="Search" />
                            @* @Html.HiddenFor(m => m.feedId, new { @id="hdfFdId"})*@
                        </td>
                    }
                    else
                    {
                        <td colspan="12" style="text-align: center">
                            <input type="button" id="btnSubmit" class="jqueryButton" value="Search" title="Search" />
                            @* @Html.HiddenFor(m => m.feedId, new { @id="hdfFdId"})*@
                        </td>
                    }
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="divFBDetails" style="width: 98%; padding: 10px 0px 5px 0px;">
    <table id="tbFBDetailsJqGrid"></table>
    <div id="divFBDetailsReportPager"></div>
</div>


<div id="accordion" style="display: none; width: 98%; margin-top: 10px;">
    <h3 style="text-align: left"><a id="" href="#" style="font-size: .9em;">...</a>
        <a href="#" style="float: right;">
            <img alt="" style="border: none" src="" class="ui-icon ui-icon-closethick" onclick="CloseProposalDetails();" /></a>
    </h3>

    <div id="dvFeedbackDtls" style="width: 95.8%; margin-top: -5px;">
        <div id="dvTabs" style="width: 99%; display: none;">
            <ul>
                <li><a href="#tbFBDetailsForm">Feedback Details</a></li>
               <li><a href="#tbFBFilesForm" style="display: none;" >Feedback Files</a></li>
                <li><a href="#tbFBApproval" style="display: none;">Acceptance</a></li>

                @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 22)
                {
                    
                <li><a href="#tbReplyStatus">PIU Reply Details</a></li>
                }
                else if (PMGSY.Extensions.PMGSYSession.Current.RoleCode==8)
                {
                     <li><a href="#tbReplyStatus">SQC Reply Details</a></li>
                }
                else
                {
                     //MORD
                  <li><a href="#tbReplyStatus">PIU / SQC Reply Details</a></li>
                
                }
            </ul>
            <div id="tbFBDetailsForm" style="display: none;"></div>
            <div id="tbFBFiles" style="display: none;"></div>
            <div id="tbFBApproval" style="display: none;"></div>
            <div id="tbReplyStatus" style="display: none; width: 99%;"></div>
        </div>
    </div>

</div>


