@model PMGSY.Models.Master.EndDateDistrictViewModel


<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.js")"></script>
<script src="@Url.Content("~/Scripts/custom/Generic.js")"></script>
<script src="@Url.Content("~/Scripts/Master/AddEndDateDistrict.js")"></script>

@*<div id="dvhdAddEndDateDistrict" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;District End Date</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>

<div id="dvAddEndDateDistrict" style="display: block; border: 1px solid #B5B8C8;">*@

    <div id="dvErrorMessageEndDteDistrict" class="ui-widget ui-state-error ui-corner-all" style="padding: 0.7em .7em; display: none; margin: 5px 5px 5px 5px; text-align: left">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        <strong>Alert:</strong> <span id="messageEndDateDistrict"></span>
    </div>

    <form id="frmEndDateDistrict">

         @Html.AntiForgeryToken()
        <center>@Html.ValidationSummary(true)</center>

       @* <div id="endDateStateDistrict" style="float:inherit;display:block;margin-left: 0px; margin-right: 0px; border: 0px solid #B5B8C8;" class="ui-corner-bottom"   >*@
           <table style="width: 100%; margin-top: 10px;" class="rowstyle">
               
               <tr>
                   <td colspan="3">
                    @if (!(string.IsNullOrEmpty(Model.EncryptedAdminId)))
                    {
                        @Html.HiddenFor(model=>model.EncryptedAdminId)     
                    }
                       </td>
               </tr>
               <tr></tr>
               <tr>
                   <td style="width:7%;">
                   </td>
                     <td style="width:20%;"> 
                        @Html.LabelFor(model=>model.DistrictName) 
                    </td>
                   <td style="width:40%">
                       @Html.Label(Model.DistrictName)
                   </td>
                   <td style="width:17%">
                       @Html.LabelFor(model=>model.StartDateDistrict)
                   </td>
                   <td>
                       @Html.Label(Model.StartDateDistrict)
                   </td>
               </tr>
               <tr>
                   <td ></td>
                    <td> 
                        @Html.LabelFor(model=>model.EndDateDistrict) <label style="color:red;"> *</label> 
                    </td>
                
                    <td>
        
                           @Html.TextBoxFor(model => model.EndDateDistrict, new { @id = "txtEndDateDistrict", @title =  "End Date of District", @tabindex = 5002, @placeholder="dd/mm/yyyy..." })
                            @Html.ValidationMessageFor(model => model.EndDateDistrict)
                      
                    </td>

                 
               </tr>
               <tr></tr>
                <tr>
                <td colspan="5" style="text-align: center">
                   
                        <input type="button" id="btnSaveEndDateDistrict" name="btnSave" value="Save" class="jqueryButton" title="Save End Date" tabindex="19" /> 
                        <input type="reset" id="btnResetEndDateDistrict" name="btnReset" value="Reset" class="jqueryButton" title="Reset" tabindex="20" />
                   
                </td>
            </tr>
                <tr>
                    <td colspan="3">
                        <label style="border: none">[ Note: Fields marked with<label style="color: red;"> * </label>are mandatory.]</label>
                    </td>
                </tr>
            </table>
     @*   </div>*@
   </form>

@*</div>*@