 @model PMGSY.Models.CoreNetwork.CNPMGSY3ViewModel
@{
    ViewBag.Title = "ListCoreNetWorksPMGSY3";
}

<script src="~/Scripts/custom/Generic.js"></script>
@* Model.isPMGSY3Finalized *@
@{ if (true)
   {
    
    <script src="~/Scripts/CoreNetwork/ListCoreNetworkPMGSY3ITNO.js"></script>
    <script src="~/Scripts/jquery.ui.accordion.js"></script>
    <script src="~/Scripts/jquery.ui.tabs.js"></script>

    <center>

<div style="width:96%; height:20px;border:none; margin-top:5px; margin-bottom:-15px; " class="ui-state-default">
            <span style="float:right;margin-right:2Px; margin-top:2px" id="idFilterDiv" class="ui-icon ui-icon-circle-triangle-n"></span>     
        </div>
<div style="width: 96%; border:none; margin-top:-15px; margin-bottom:10px;" class="ui-state-default">

<div id="filterForm" >
   <form id="frmSearchCoreNetworks">
       @Html.Hidden("RoleCode", PMGSY.Extensions.PMGSYSession.Current.RoleCode)
       @Html.ValidationSummary(true) 
       @Html.AntiForgeryToken()
         <table style="margin-top:10px; margin-bottom:5px";>
          <tr>
              @Html.Hidden("Scheme", ViewBag.Scheme as String)
         </tr>
             <tr>
                 @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 25 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 53 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 65 )//Changes by SAMMED A. PATIL for mordviewuser
                 {
                     <td style="text-align:right;width:10%">
                        @Html.Label("State")
                     </td>
                     <td style="text-align:center;width:20%">
                             @Html.DropDownListFor(model => model.StateCode, new SelectList(Model.lstStateCode, "Value", "Text"), new { @id = "ddlStates", @title = "States", @tabindex = 1 })
                     </td>
                     <td style="text-align:right;width:10%">
                        @Html.Label("District")
                     </td>
                     <td style="text-align:center;width:20%">
                             @Html.DropDownListFor(model => model.DistrictCode, new SelectList(Model.lstDistrictCode, "Value", "Text"), new { @id = "ddlDistricts", @title = "Districts", @tabindex = 2 })
                     </td>
                 }
                 else if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 2 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 36)
                 {
                     <td style="text-align:right;width:10%">
                        @Html.Label("District")
                     </td>
                     <td style="text-align:center;width:20%">
                             @Html.DropDownListFor(model => model.DistrictCode, new SelectList(Model.lstDistrictCode, "Value", "Text"), new { @id = "ddlDistricts", @title = "Districts", @tabindex = 1 })
                     </td>
                     
                 }

                 <td style="text-align:right;width:10%">
                     @Html.Label("Block")
                 </td>
                 <td style="text-align:center;width:20%">
                     @Html.DropDownListFor(model => model.BlockCode, new SelectList(Model.lstBlockCode, "Value", "Text"), new { @id = "ddlBlocks", @title = "Blocks", @tabindex = 1 })
                 </td>
                 <td style="text-align:right;width:10%">
                     @Html.Label("Category")
                 </td>
                 <td style="text-align:center;width:20%">
                     @Html.DropDownListFor(model => model.Category, new SelectList(Model.lstCategory, "Value", "Text"), new { @id = "ddlCategory", @title = "Categories", @tabindex = 1 })
                 </td>
                 <td style="text-align:right;width:10%">
                     @Html.Label("Route Type")
                 </td>
                 <td style="text-align:center;width:20%">
                     @Html.DropDownListFor(model => model.RouteType, new SelectList(Model.lstRouteType, "Value", "Text"), new { @id = "ddlRoute", @title = "Route", @tabindex = 1 })
                 </td>
             </tr>
             <tr>
                 <td colspan="10">
                <center>
                <table>
                    <tr>
                         <td>
                        <input type="button" class="jqueryButton" value="List TR/MRL Roads" id="btnListNetworks" name ="btnListNetworks" title="Click here to list TR/MRL Roads"/>
                        </td>
                        @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 22 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 25)
                        {
                        <td>
                            <input type="button" value="Add TR/MRL Road" class="jqueryButton" title="Click here to add TR/MRL Roads" id="btnAddCoreNetwork" name="btnAddCoreNetwork"/>                        
                        </td>
                        }
                    </tr>
                </table>
                </center>
            </td>
           </tr>
         </table>
        
   </form>
</div>
    </div>
</center>
    <center>

<div id="divNetworkList" style="margin-top:20px; width:96%">
            
    <table id="networkCategory">

    </table>

    <div id="pager">

    </div>
</div>
<br />

<div id="accordion" style="display:none;width:96%" >
    <h3 style="text-align:left"><a id="" href="#" style=" font-size:.9em;" >Add TR/MRL Road Details PMGSY3</a>
                <a href="#"  style="float: right;">
                    <img class="ui-icon ui-icon-closethick" onclick="CloseCoreNetworkDetails();" /></a>
            </h3>
    <div id="divAddForm" style="display:none">

    </div>
</div>
</center>

   }
   else
   {
    <table class="rowstyle">
        <tr>
            <td style="width: 5%;"></td>
            <td style="width: 25%;">
                <strong>

                    <label>Please finalize DRRP, Facility & Trace Route for @PMGSY.Extensions.PMGSYSession.Current.DistrictName District</label>
                </strong>
            </td>
            <td style="width: 5%;"></td>
            <td style="width: 15%;"></td>
        </tr>
    </table>
   }
}