@{
    ViewBag.Title = "SearchNetworks";
}


<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/CoreNetwork/SearchCoreNetworks.js"></script>

@*<div id="dvhdSearch" class="ui-corner-top ui-widget-header panelheader" style="text-align:left; margin-left:10px;margin-right:10px;margin-top:10px; height:20px;"> 
     <span class="ui-jqgrid-title" style="float:left">&nbsp;Search</span>
     
      <span  id="spCollapseIconS" class="ui-icon ui-icon-circle-triangle-n" style="float:right"></span>
      </div>

<div id="dvSearchParameter" class="ui-corner-bottom" style="margin-left: 10px; margin-right: 10px; display: block; border: 1px solid #B5B8C8; ">*@



<div style="width:98%; height:20px;border:none; margin-top:5px; margin-bottom:-15px; " class="ui-state-default">
            <span style="float:right;margin-right:2Px; margin-top:2px" id="idFilterDiv" class="ui-icon ui-icon-circle-triangle-n"></span>     
        </div>
        <div style="width: 98%; border:none; margin-top:-15px; margin-bottom:10px;" class="ui-state-default">
   <form id="frmSearchCoreNetworks">

       <center>@Html.ValidationSummary(true) </center>

         <table style="margin-top:10px; margin-bottom:5px">
          <tr>

         </tr>
          <tr>  
              <td style="width:5%">

              </td>
              <td style="text-align:left;width:10%;" >
                    @Html.Label("District")
                </td>
                <td style="width:17%;">
                    @Html.DropDownList("ddlDistrict", ViewData["Districts"] as IEnumerable<SelectListItem>,"All Districts", new {@id="ddlDistricts", @title = "District", @tabindex = 1 })                                     
                </td>             
                <td style="text-align:left;width:7%;"  >
                    @Html.Label("Block")
                </td>
                <td style="width:17%;">                                          
                     @Html.DropDownList("ddlBlock", ViewData["Blocks"] as IEnumerable<SelectListItem>,"All Blocks",new {@id="ddlBlocks", @title = "Blocks", @tabindex = 2 })
                </td>
                @*<td style="text-align:left;width:10%;" >
                    @Html.Label("Road Category")
                </td>
                <td style="width:17%;">
                    @Html.DropDownList("ddlRoadCategory", ViewData["RoadCategories"] as IEnumerable<SelectListItem>,"All Road Categories", new {@id="ddlRoadCategory", @title = "Road Category", @tabindex = 1 })                                     
                </td>*@
                @*<td>
                   <input type="button" id="btnRoadSearch" name="btnRoadSearch" value="Search" class= "jqueryButton" title="Search Road Plan" tabindex="4"  style="margin-left:20px"/> 
                </td>     *@                
            </tr>
            <tr>
             <td colspan="6">
                <center>
                <table>
                    <td>
                        <input type="button" class="jqueryButton" value ="List Core Networks" id="btnListNetworks" name ="btnListNetworks"/>
                    </td>
                    <td>
                        <input type="button" value="Add Core Network" class="jqueryButton" title="Click here to add Core Network" id="btnAddCoreNetwork" name="btnAddCoreNetwork"/>                        
                    </td>
                </table>
                </center>
            </td>
           </tr>
         </table>
   </form>
    </div>
