@{
    ViewBag.Title = "Test";
}

<div class="ui-jqgrid-view" style="width:958px">
    <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top"  style="width:958px">
        <table style="width: 958px" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th class="ui-th-column">1</th>
                <th>1</th>
                <th>1</th>              
            </tr>
        </table>
        <div class="ui-state-default ui-jqgrid-hdiv" style="width:958px">
            <table class="ui-jqgrid-htable" style="width:100%">
                <tr class="ui-jqgrid-labels">
                    <th class="ui-state-default ui-th-column ui-th-ltr">1</th>
                    <th class="ui-state-default ui-th-column ui-th-ltr">2</th>
                    <th class="ui-state-default ui-th-column ui-th-ltr">3</th>
     
                </tr> 
            </table>
        </div> 
       @* <div class="ui-jqgrid-bdiv" style="height: 100%; width: 958px;">
        <table class="ui-jqgrid-btable" style="width: 958px;">
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <td style="text-align:center;">1</td>
                <td style="text-align:center;">1</td>
                <td style="text-align:center;">1</td>
            </tr>
        </table>
        </div>   *@
    </div>
        </div>

<center>
<table>
    <tr class="ui-jqgrid-titlebar ui-widget-header ui-corner-top">
        <th>Name</th>
        <th>Value</th>
        <th>Narration</th>
    </tr>
    <tr class="ui-state-hover ui-widget-content ">
        <td>
            @Html.Label("Enter Proposal Id:")

        </td>
        <td>
            @Html.TextBox("Test")
        </td>
        <td>
            Test Color
        </td>
    </tr>
     <tr class="ui-widget-content">
        <td>
            @Html.Label("Enter Proposal Id:")

        </td>
        <td>
            @Html.TextBox("Test")
        </td>
         <td>
            Test Color
        </td>
    </tr>
     <tr class="ui-state-default ui-th-column ui-th-ltr">
        <td>
            @Html.Label("Enter Proposal Id:")

        </td>
        <td>
            @Html.TextBox("Test")
        </td>
         <td>
            Test Color
        </td>
    </tr>
     <tr class="ui-tr-up">
        <td>
            @Html.Label("Enter Proposal Id:")

        </td>
        <td>
            @Html.TextBox("Test")
        </td>
         <td>
            Test Color
        </td>
    </tr>
     <tr class="ui-tr-down">
        <td>
            @Html.Label("Enter Proposal Id:")

        </td>
        <td>
            @Html.TextBox("Test")
        </td>
         <td>
            Test Color
        </td>
    </tr>
</table>
    </center>


<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" style="width: 958px;">

    <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
        <span class="ui-jqgrid-title">User Grid</span>
    </div>

    <div style="width: 958px;" class="ui-state-default ui-jqgrid-hdiv">
            <table style="width: 958px;" cellspacing="0" cellpadding="0" border="0" class="ui-jqgrid-htable">
                <tr class="ui-jqgrid-labels">
                    <th class="ui-state-default ui-th-column ui-th-ltr">1</th>
                    <th class="ui-state-default ui-th-column ui-th-ltr">3</th>
                    <th class="ui-state-default ui-th-column ui-th-ltr">3</th>
                    <th class="ui-state-default ui-th-column ui-th-ltr">4</th>
                </tr>

            </table>
    </div>

    <div class="ui-jqgrid-bdiv" style="width: 958px;">
       @* <table class="ui-jqgrid-btable" style="width: 958px; border-spacing:0; border-collapse:collapse; border:0">*@
        <table class="ui-jqgrid-btable" style="width: 958px;" cellspacing="0" cellpadding="0" border="0">
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">testuser</td>
                <td style="text-align: center;">Edit</td>
                <td style="text-align: center;">Delete</td>
            </tr>
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">testuser</td>
                <td style="text-align: center;">Edit</td>
                <td style="text-align: center;">Delete</td>
            </tr>
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">testuser</td>
                <td style="text-align: center;">Edit</td>
                <td style="text-align: center;">Delete</td>
            </tr>
            <tr class="ui-widget-content jqgrow ui-row-ltr">
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">testuser</td>
                <td style="text-align: center;">Edit</td>
                <td style="text-align: center;">Delete</td>
            </tr>
        </table>

    </div>
</div>


<div class="table-master">
    <div class="table-div-title" >
        <span class="ui-span-title">User Grid</span>
    </div>

</div>

<br/>

<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">

    <div class="ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix">
        <span class="ui-jqgrid-title">User Grid</span>
    </div>


    </div>
