@*----------------------------------------------------------------------------------------

 * Project Id:

 * Project Name:OMMAS2

 * File Name: ViewMaintenanceAgreementDetails.cshtml

 * Author : Koustubh Nakate

 * Creation Date :09/Aug/2013

 * Desc : This is partial view to view  maintenance agreement details.
 * ---------------------------------------------------------------------------------------*@

@model PMGSY.Models.MaintenanceAgreement.RenewalMaintenanceViewModel

<script src="@Url.Content("~/Scripts/custom/Generic.js")" type="text/javascript" ></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnClose').click(function () {

            $("#dvViewAgreementMaster").dialog('close');
        });


    });

</script>

<form id="frmViewAgreementDetails">

    @*    <table id="tblContractor" class=" rowstyle ui-corner-all" style="width:100%; margin-top: 10px; border:1px solid #808080"   >*@
    <div>
        <table style="width: 100%; border: 1px solid #808080;" class="rowstyle ui-corner-all">
            <tr>
                <td style="text-align: left; width: 20%;">
                    @Html.LabelFor(model => model.MAST_CON_ID)
                </td>
                <td style="text-align: left; width: 30%;">
                    @if (!string.IsNullOrEmpty(Model.ContractorName))
                    {
                        @Html.DisplayFor(m => m.ContractorName)
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td style="text-align: left; width: 20%;">

                    @Html.LabelFor(model => model.IMS_WORK_CODE)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(ViewBag.WorkName))
                    {
                        @Html.DisplayFor(m => m.WorkName)
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td style="text-align: left; width: 20%;">
                    @Html.LabelFor(model => model.MANE_AGREEMENT_NUMBER)
                </td>
                <td style="text-align: left; width: 30%;">
                    @if (!string.IsNullOrEmpty(Model.MANE_AGREEMENT_NUMBER))
                    {
                        @Model.MANE_AGREEMENT_NUMBER
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td style="text-align: left; width: 20%;">
                    @Html.LabelFor(model => model.MANE_CONSTR_COMP_DATE)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.MANE_CONSTR_COMP_DATE))
                    {
                        @Model.MANE_CONSTR_COMP_DATE
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MANE_AGREEMENT_DATE)
                </td>
                <td id="tdAgreementDate">
                    @if (!string.IsNullOrEmpty(Model.MANE_AGREEMENT_DATE))
                    {
                        @Model.MANE_AGREEMENT_DATE
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.MANE_MAINTENANCE_START_DATE)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.MANE_MAINTENANCE_START_DATE))
                    {
                        @Model.MANE_MAINTENANCE_START_DATE
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Renewal Agreement Cost (Rs in Lakhs)")
                </td>
                <td>
                    @if (Model.MANE_RENEWAL_AMOUNT != null)
                    {
                        @Model.MANE_RENEWAL_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR1_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR1_AMOUNT != null)
                    {
                        @Model.MANE_YEAR1_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR2_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR2_AMOUNT != null)
                    {
                        @Model.MANE_YEAR2_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR3_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR3_AMOUNT != null)
                    {
                        @Model.MANE_YEAR3_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR4_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR4_AMOUNT != null)
                    {
                        @Model.MANE_YEAR4_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR5_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR5_AMOUNT != null)
                    {
                        @Model.MANE_YEAR5_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MANE_YEAR6_AMOUNT)
                </td>
                <td>
                    @if (Model.MANE_YEAR6_AMOUNT != null)
                    {
                        @Model.MANE_YEAR6_AMOUNT.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MANE_HANDOVER_DATE)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.MANE_HANDOVER_DATE))
                    {
                        @Model.MANE_HANDOVER_DATE
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.MANE_HANDOVER_TO)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.MANE_HANDOVER_TO))
                    {
                        @Model.MANE_HANDOVER_TO
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IncompleteReason)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.IncompleteReason))
                    {
                        @Model.IncompleteReason
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
                <td>
                    @Html.LabelFor(model => model.ValueOfWorkDone)
                </td>
                <td>
                    @if (Model.ValueOfWorkDone != null)
                    {
                        @Model.ValueOfWorkDone.Value.ToString("F")
                    }
                    else
                    {
                        @Html.Label("NA")
                    }
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center">
                    <input type="button" id="btnClose" name="btnClose" value="Close" class="jqueryButton" title="Close" tabindex="300" />
                </td>
            </tr>
        </table>
    </div>
</form>
