@{
    ViewBag.Title = "MaintenanceFinancialProgressDetails";
}


@model PMGSY.Models.ProposalReports.ProposalReportsModel

@Html.Hidden("hdnLevelId", PMGSY.Extensions.PMGSYSession.Current.LevelId.ToString())

@if (PMGSY.Extensions.PMGSYSession.Current.StateCode != 0)
{           
    @Html.Hidden("STATE_NAME", PMGSY.Extensions.PMGSYSession.Current.StateName.ToString())
}

@if (PMGSY.Extensions.PMGSYSession.Current.DistrictCode != 0)
{
    @Html.Hidden("DISTRICT_NAME", PMGSY.Extensions.PMGSYSession.Current.DistrictName.ToString())   
}


@Html.HiddenFor(model => model.BLOCK_NAME)
@Html.HiddenFor(model => model.MAST_STATE_CODE)
@Html.HiddenFor(model => model.MAST_DISTRICT_CODE)
<div style="width: 100%">
    <table class="ui-state-default ui-corner-all" style="width: 100%;">
        <tr>
            <td style="width: 2%;"></td>
            <td style="text-align: left; width: 5%;">
                @Html.Label("State")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("StateList_MaintenFinProgressDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })
            </td>
            <td style="text-align: left; width: 5%;">
                @Html.Label("District")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("DistrictList_MaintenFinProgressDetails", ViewData["DISTRICT"] as IEnumerable<SelectListItem>, new { @title = "District", @tabindex = 2 })
            </td>
            <td style="text-align: left; width: 5%;">
                @Html.Label("Block")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("BlockList_MaintenFinProgressDetails", ViewData["BLOCK"] as IEnumerable<SelectListItem>, new { @title = "Block", @tabindex = 3 })
            </td>
             <td style="text-align: left; width: 5%;">
                @Html.Label("Type")
            </td>
            <td style="width: 10%;">
                @Html.DropDownList("TypeList_MaintenFinProgressDetails", ViewData["TYPE"] as IEnumerable<SelectListItem>, new { @title = "Type", @tabindex = 4 })
            </td>
        </tr>
        <tr>
            <td style="width: 2%;"></td>

            <td style="text-align: left; width: 5%;">
                @Html.Label("Year")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("YearList_MaintenFinProgressDetails", ViewData["YEAR"] as IEnumerable<SelectListItem>, new { @title = "Year", @tabindex = 5 })
            </td>
            <td style="text-align: left; width: 5%;">
                @Html.Label("Batch")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("BatchList_MaintenFinProgressDetails", ViewData["BATCH"] as IEnumerable<SelectListItem>, new { @title = "Batch", @tabindex = 6 })
            </td>
            <td style="text-align: left; width: 5%;">
                @Html.Label("Collaboration")
            </td>
            <td style="width: 15%;">
                @Html.DropDownList("CollaborationList_MaintenFinProgressDetails", ViewData["COLLABORATION"] as IEnumerable<SelectListItem>, new { @title = "Collaboration", @tabindex = 7 })
            </td>
            <td colspan="2" style="text-align: center; width: 15%; margin-left: 5px;">
                <input type="button" id="MaintenFinProgressDetailsButton" value="View" class="jqueryButton" title="View Details" tabindex="8" />
            </td>
        </tr>

    </table>
</div>
<br />
<div id="MaintenFinProgressDetails">
    <table id="tbMaintenFinProgressDetails"></table>
</div>
<div id="dvMaintenFinProgressDetailsPager"></div>

<script src="~/Scripts/ProposalReports/MaintenanceFinancialProgressDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>
