@model PMGSY.Models.Agreement.BankGuaranteeDetailsModel
<!-- ----------------------------------------------------------------------------------------

 * Project Id:

 * Project Name:OMMAS2

 * File Name: AddBankGuarantee.cshtml

 * Author : Pradip Patil

 * Creation Date :20/March/2017

 * Desc : This page contains filter for listing asgreement
 * --------------------------------------------------------------------------------------- -->
<style>
    .ui-datepicker td {
        border: 1px solid #CCC;
        padding: 0;
    }

    .fileremove {
     float:left;
    }
</style>

<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script async src="~/Scripts/Agreement/AddBankGuarantee.js"></script>

 
<div id="dvhdBankDetails" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px; width: 76%">
    <span class="ui-jqgrid-title" id="bgOperation" style="float: left">&nbsp;&nbsp;Add Bank Guarantee/FDR Details</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-closethick" style="float: right"></span>
</div>

<div id="dvBankDetails" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8; width: 76%">
    <div id="dvErrorMessage" class="ui-widget ui-state-error ui-corner-all" style="padding: 0.7em .7em; display: none; margin: 5px 5px 5px 5px; text-align: left">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        <strong>Alert:</strong> <span id="message"></span>
    </div>

    <form id="frmBankguaranteeDetails"   enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AGREEMENT_CODE)
        @Html.HiddenFor(model=>model.TendBgCode)
        <center>@Html.ValidationSummary(true)</center>

        <table style="width: 100%; margin-top: 10px;" class="rowstyle ">
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.AGREEMENT_CODE)
                    <label style="color: red">*</label>
                </td>

                <td>
                    <label id="bkagreement"></label>
                </td>

                <td>
                    @Html.Label("Contractor")
                </td>
                <td>
                    <label id="lblContName"></label>
                </td>
            </tr>

            <tr>
                <td></td>

                <td>
                    @Html.LabelFor(model => model.BG_BANK_NAME)<b style="color: red">*</b>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BG_BANK_NAME, new { @id = "txtBankName",tabindex="11", @placeholder = "Enter Bank Name" })

                </td>

                <td>
                    @Html.LabelFor(model => model.BG_AMOUNT, new { @class = " " })<b style="color: red">*</b>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.BG_AMOUNT, new { @id = "txtBGAmount",tabindex="12", @placeholder = "Enter Amount" })

                </td>
            </tr>
            <tr>
                <td></td>

                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.BG_BANK_NAME)
                </td>

                <td></td>

                <td>

                    @Html.ValidationMessageFor(model => model.BG_AMOUNT)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.BG_ISSUE_DATE)<b style="color: red">*</b>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BG_ISSUE_DATE, new { @id = "txtIssueDate", tabindex="13" ,@readonly="readonly",@placeholder = "Enter Guarantee Issue Date" })

                </td>
                <td>
                    @Html.LabelFor(model => model.BG_EXPIRY_DATE, new { @class = " " })<b style="color: red">*</b>

                </td>
                <td>
                    @Html.TextBoxFor(model => model.BG_EXPIRY_DATE, new { @id = "txtExpiryDate",tabindex="14",@readonly="readonly", @placeholder = "Enter Guarantee Expiry Date" })

                </td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.BG_ISSUE_DATE)
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.BG_EXPIRY_DATE) 
                    <span id="expdateError" style="color: #e80c4d; font-weight: bold;"></span>
                </td>

            </tr>
             <tr>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.BG_VERIFICATION_DATE)<b style="color: red">*</b>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BG_VERIFICATION_DATE, new { @id = "txtverifiedDate",tabindex=15, @readonly="readonly", @placeholder = "Enter verification Date" })
                     
                </td>
                <td>
                    @Html.LabelFor(model => model.VERIFIEDBY, new { @class = " " })<b style="color: red">*</b>

                </td>
                <td>
                    @Html.TextBoxFor(model => model.VERIFIEDBY, new {  tabindex=16,@placeholder = "" })

                </td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.BG_VERIFICATION_DATE) 
                     <span id="verificationdateError" style="color: #e80c4d; font-weight: bold;"></span>
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.VERIFIEDBY)
                    
                </td>

            </tr>
            @if (Model.Operation == "U")
            { 
                <tr>
                    <td></td>
                    <td>
                        @Html.Label("Expired")<b style="color: red">*</b>
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.TEND_BG_STATUS, "E") <span>Yes </span>
                        @Html.RadioButtonFor(model => model.TEND_BG_STATUS, "A")  <span>No </span>
                    </td>


                </tr>
     
     
            }
            <tr>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.BGFile)<b style="color: red">*</b>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BGFile, new { @id="BGFile",type="file",tabindex=17 ,@placeholder = "Enter verification Date" })
                    @if (Model.Operation == "U")
                    { 
                    <span class="fileremove" id="spnBgFileName">@Html.DisplayFor(model=>model.BGfileName)</span> <span  id="spnIconCloseFile" style="cursor:pointer" title="Remove file to upload new file." class="fileremove ui-icon ui-icon-circle-close"></span>
                    }
                </td>
                <td colspan="2">
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.BGFile) 
                </td>
                <td colspan="2"></td>
            </tr>


            <tr>
                <td></td>
                <td></td>
                @if (Model.Operation == "A")
                { 
                    <td style="text-align: right">
                        <input type="button" id="btnSave" name="btnSave" value="Save" class="jqueryButton" title="Save Bank Guarante Details" tabindex="17" /></td> 
                    <td colspan="2" style="text-align: left">
                        <input type="reset" id="btnReset" name="reset" value="Reset" class="jqueryButton" title="Reset" tabindex="18" /></td>
                }
                else
                {
                    <td style="text-align: right">
                        <input type="button" id="btnUpdate" name="btnUpdate" value="Update" class="jqueryButton" title="Update Bank Guarante Details" tabindex="17" />
                    </td>
                    <td colspan="2" style="text-align: left">
                        <input type="button" id="btnCancel" name="btnCancel" value="Cancel" class="jqueryButton" title="Cancel" tabindex="18" /></td>
                }
            </tr>
            <tr>
                <td colspan="5">
                    <label style="border: none">[ Note: Fields marked with <span style="color: red">* </span>are mandatory. ] </label>
                </td>
            </tr>
        </table>
    </form>
</div>
