@model PMGSY.Areas.PackageAgreementSanctionList.Models.MonthwiseAgreement
<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<script src="~/Areas/PackageAgreementSanctionList/Scripts/YearwiseAgreement.js"></script>

<div id="dvhdSLRLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;Details of works unawarded under PMGSY-II (Yearwise)</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>

<div id="loadFilters" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8; text-align: left">
 <form id="frmStateListRoadLayout">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Mast_State_Code)
        @Html.HiddenFor(model => model.Mast_District_Code)
       
        @Html.HiddenFor(model => model.StateName)
        @Html.HiddenFor(model => model.DistName)
      
       @{
            System.Globalization.CultureInfo CultureInfo = null;
            CultureInfo = new System.Globalization.CultureInfo(Request.Cookies["language"] == null ? "en" : Request.Cookies["language"].Value.ToString());
        }
   <table style="width: 100%;" class="rowstyle">
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 8%;">
                    @Html.LabelFor(model => model.StateCode)
                </td>

                <td style="width: 25%;">
                    @if (Model.Mast_State_Code == 0)
                    {
                        @Html.DropDownListFor(model => model.StateCode, new SelectList(Model.StateList, "Value", "Text"), new { @title = "State", @tabindex = 1, @id = "StateList_StateListRoadDetails", @style = "width:150px" })
                        @Html.ValidationMessageFor(m => m.StateCode)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.StateName) 
                        @Html.Hidden("StateCode", Model.Mast_State_Code)                            
                    }
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.LabelFor(model => model.DistrictCode)
                </td>
                <td style="width: 25%;">
                    @if (Model.Mast_District_Code == 0)
                    {
                        @Html.DropDownListFor(model => model.DistrictCode, new SelectList(Model.DistrictList, "Value", "Text"), new { @title = "District", @id = "DistrictList_StateListRoadDetails", @tabindex = 2, @style = "width:150px" })
                        @Html.ValidationMessageFor(m => m.DistrictCode)

                    }
                    else
                    {
                        @Html.DisplayFor(model => model.DistName)
                        @Html.Hidden("DistrictCode", Model.Mast_District_Code)     
                              
                    }
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Scheme")
                </td>

                <td style="width: 25%;">
                     @Html.DropDownListFor(model => model.SchemeCode, new SelectList(Model.SchemeList, "Value", "Text"), new { @title = "Scheme ", @id = "SchemeList", @tabindex = 3, @style = "width:150px" })
                        @Html.ValidationMessageFor(m => m.SchemeCode)
                  
                </td>
                <td style="text-align: left; width: 8%;">
                 
                </td>
                <td style="width: 25%;">
                
                </td>
            </tr>
            <tr>
                <td style="width: 2%;"></td>
                <td >
                    <input type="button" id="btnViewStateListRoad" value="View" class="button" title="View" tabindex="4" />
                </td>
            </tr>
        </table>
    </form>
  
</div>

<div id="dvloadSLRReport" class="divLoadReport"></div>


