@model PMGSY.Models.Report.Account.AccountFilterModel
@using PMGSY.Extensions

<script src="~/Scripts/Report/Account/ScheduleCurrentAssetsFilter.js"></script>
@Html.HiddenFor(m=>m.LevelId)
@if (Model.LevelId == 5)
{
    @Html.HiddenFor(m=>m.Piu)
}
@Html.Hidden("DpiuCode",Model.Piu)
<table class="ui-state-default ui-corner-all" style="border:0.1em solid gray; width:99%; margin-top:1px" id="tblFilter" align="center">
           @if(Model.LevelId!=5){
        <tr>
            <td  style="width:07%">
                 @Html.Label("Report Level:")
            </td>
            <td style="text-align:left;width:07%">                
               <span >@*id="spanState"*@
                     @Html.RadioButtonFor(model => model.ReportLevel,4, new {@id="rdbState",@tabindex = 101 ,@class="rdbClassReportLevel",@title="State"}) <label  for="rdbState">State</label>
               </span>   
                         
            </td>
            <td style="text-align:left;width:07%">
                
                <span id="spanSrrda">
                    @Html.RadioButtonFor(model => model.ReportLevel, 1, new {@id="rdbSrrda", @tabindex = 102 ,@class="rdbClassReportLevel",@title="SRRDA"}) <label for="rdbSrrda"> SRRDA</label>                      
                </span>
               
            </td>
            <td style="text-align:left;width:05%">

                
                <span id="spanDPIU">
                    @Html.RadioButtonFor(model => model.ReportLevel, 2, new {@id="rdbPiu", @tabindex = 103 ,@class="rdbClassReportLevel",@title="DPIU"}) <label for="rdbPiu"> DPIU</label>                      
                </span>
                
            </td>

            <td style="text-align:left; font-weight:bold; width:600px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.Label("Select Agency:")
                @Html.DropDownListFor(m => m.Agency, Model.ListAgency, new { @title="Agency"})
                @*@Html.ValidationMessageFor(m=>m.Agency)*@
           
               <span id="spanPIU" style="display:none">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 @Html.Label("Select DPIU:")
                 @Html.DropDownListFor(m => m.Piu, Model.ListPiu, new { @title="DPIU"})
               </span>
            </td>
            <td>&nbsp;</td>
        </tr>
           }
   <tr> 
            <td style="width:07%">
                @Html.Label("Report Type:")
            </td>
            <td style="width:07%">
                @Html.RadioButtonFor(model => model.ReportType, 2, new {@id="rdbMonth", @tabindex = 105 ,@class="rdbClassReportType",@title="Monthly"}) 
                <label for="rdbMonth"> Monthly</label>  
            </td>
            <td style="width:07%">
                 @Html.RadioButtonFor(model => model.ReportType,1, new {@id="rdbAnnual",@tabindex = 104 ,@class="rdbClassReportType",@title="Annual"}) 
                <label  for="rdbAnnual">Annual</label>
                
           </td>
            <td></td>
            <td style="text-align:left; font-weight:bold;width:900px">
               <span id="spanMonth" style=" width:300px">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.Label("Select Month:")
                    @Html.DropDownListFor(m => m.Month, Model.ListMonth, new { @title="Month"})
                  
                   @Html.ValidationMessageFor(m=>m.Month)                   
                   </span>
                
                <span id="spanYear" style="display: inline-block; width:400px">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.Label("Select Year:")
                    @Html.DropDownListFor(m=>m.Year,Model.ListYear, new { @title="Year"})                   
                    @Html.ValidationMessageFor(m=>m.Year)
                </span>@*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               *@
           </td> 
       <td></td>                       
    </tr>
    <tr>
        <td id="tdOtherBthViewDetails" style="text-align:center; " colspan="6" ><input type="button" id="btnView" value="View Details" class="jqueryButton" title="Click here to view details"></td>        
    </tr>       
    </table>