@model PMGSY.Models.EAuthorization.EAuthorizationListModel

@{
    ViewBag.Title = "GetEAuthorizationList";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPaymentList</title>

    <script src="~/Scripts/jquery.ui.datepicker.js"></script>
    <script src="~/Scripts/custom/Generic.js"></script>
    <script src="~/Scripts/jquery.ui.dialog.js"></script>
    <script src="~/Scripts/EAuthorization/GetEAuthorizationList.js"></script>

    <style type="text/css" media="screen">
        th.ui-th-column div {
            white-space: normal !important;
            height: auto !important;
            padding: 3px;
        }

        .ui-jqgrid .ui-jqgrid-resize {
            height: 100% !important;
        }
        /*.ui-jqgrid-bdiv
        {
        overflow-x : hidden !important;
        }*/
        #first td, th {
            border: 1px solid black;
        }

        #first {
            border-collapse: collapse;
        }
    </style>

  

</head>
<body>
    <br />
    <div class="ui-widget-header innerDivHeader">
         e-Authorization
    </div>

    <div id="divError" style="margin-left: 10px; margin-right: 15px; margin-top: 5px; margin-bottom: 5px; display: none" class="ui-state-error ui-corner-all">
        <span class="ui-icon ui-icon-alert " style="float: left"></span>
        <span id="errorSpan"></span>
    </div>


    <table style="margin-left: 10px; margin-right: 15px; width: 99%">
        <tr>
            <td style="width: 20%">
                <div id="AccountStatusDiv" style="float: left">
                    <table>
                        <tbody>
                            <tr id="TrMonthlyClosing" style="display: none">
                                <td style="text-align: center">
                                    <div style="text-align: right; width: 100%;" id="1">
                                        <label style="color: red">
                                            <b>Last Month Closed
                                        -
                         
                                        <label id="lblMonth">
                                        </label>

                                                <label id="lblYear">
                                                </label>
                                            </b>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr id="AccountNotClosedTr">
                                <td style="text-align: center">
                                    <div style="text-align: right; width: 100%;" id="2">
                                        <label style="color: red"><b>Last Month Closed - -  </b></label>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    @Html.Hidden("levelID")
    @Html.Hidden("fundtype", @PMGSY.Extensions.PMGSYSession.Current.FundType)


    <table style="margin-left: 10px; margin-right: 15px; margin-top: 2px; margin-bottom: 10px">
        <tbody>
            <tr>
                <td>
                    <div style="padding: 0pt 0.7em; cursor: pointer;" class="jqueryButton" id="btnAddNewAuthorizationDetails">
                        <span class="ui-icon ui-icon-circle-plus" style="float: left; margin-right: 0.3em;"></span><strong>Add new  e-Authorization
                        </strong>
                    </div>
                </td>
                @*  <td>
                    <div style="float: left; padding: 0pt 0.7em; cursor: pointer;" class="jqueryButton"
                        id="Search">
                        <span class="ui-icon ui-icon-circle-zoomin " style="float: left; margin-right: 0.3em;"></span>
                        <strong>Search Payment  </strong>
                    </div>
                </td>*@
            </tr>
        </tbody>
    </table>

    <center>
             
  
    <table id="tblOptions" class="ui-state-default ui-corner-all" style="width:98%;border:.1em solid gray">
   
        <tr>
        <td  style="text-align: right;width:30%">
            Month <label style="color:red">*</label>
        
        </td>
        <td  style="text-align: left;width:10%">
         @Html.DropDownList("months", ViewData["months"] as SelectList, new { Title = "Month", tabindex = "1", @class = "dropdown" })
           
        </td>
        <td  style="text-align: right;width:10%">
            Year <label style="color:red">*</label>
        </td>
        <td  style="text-align: left;width:15%">
          @Html.DropDownList("year", ViewData["year"] as SelectList, new { Title = "year", tabindex = "2", @class = "dropdown" })
            
        </td>
        <td style="text-align: left;width:30%" >
            <input type="submit" class="jqueryButton"
                name="btnViewFirstListing" id="btnViewFirstListing" title="Click here" value='View Details' />
        </td>
    </tr>
</table>
</center>


    <form id="listForm" style="margin-top: 5px; margin-bottom: 5px">
        @Html.AntiForgeryToken()
        <center>
<table id="tblSearch"  class="ui-state-default ui-corner-all" style="display:none;width:98%;border:.1em solid gray">


    <tr>
<td class="ui-widget ui-corner-bottom" colspan="2" style="text-align:left; border-bottom:0.1em solid gray">
<span class="ui-icon ui-icon-info" style="float: left;"></span>
<span style="float: left; font-weight:bold">Search Criteria</span>
<span id="iconCloseAuthRequest" class="ui-icon ui-icon-circle-close" title="Close" style="float: right;"></span>
</td>
</tr>

        <tr class="class-head-tr">
            <td  style="text-align: right;width:50%">
                @Html.LabelFor(model => model.fromDate)
        
            </td>
            <td style="text-align: left;width:50%">
             @Html.TextBox("fromDate", null, new { maxlength = 10, @title = "From Date" })
           <br />
                 @Html.ValidationMessageFor(model => model.fromDate)
            </td>
            </tr>
     <tr class="class-head-tr">
        <td  style="text-align: right;width:50%">
         @Html.LabelFor(model => model.toDate)
        </td>
        <td  style="text-align: left;width:50%">
         @Html.TextBox("toDate", null, new { maxlength = 10, @title = "To Date" })   
             <br /> 
            @Html.ValidationMessageFor(model => model.toDate)
            </td>
        
        </tr>  

   

         <tr class="class-head-tr">  
            <td  style="text-align:right;width:50%">
                 <input type="button" class="jqueryButton"
                 name="btnSearch" id="btnSearch" title="Click here to search" value='Search Details' />
            </td>
                   
            <td  style="text-align:left;width:50%">
                 <input type="button" class="jqueryButton"
                 name="btnClearSearch" id="btnClearSearch" title="Click here to cancel" value='Cancel' />
            </td>
           

      </tr> 
</table>
</center>

       
    </form>






  


    <center> 

<div style="width: 98%">
    <form>
        @Html.AntiForgeryToken()
         <input type='text' hidden='hidden' id='hiddenAUTH_NO' value="" />
    </form>

<table id="EAuthList" ></table>
<div id="EAuthpager"></div>
 </div>
               
</center>

    <br />

    <br />



      <div id="divEauthDetailNote" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 25px;width:98%;margin-left:1%;">
        <span class="ui-jqgrid-title" style="float: none; text-align: left;"><b>e-Authorization Details For:<label id="lblEAuthNO"></label></b>
        </span>
    </div>
    <br />




    <center> 
<div style="width: 98%">
    
<table id="TransactionList" ></table>
<div id="Transactionpager"></div>
 </div>
               
</center>




    <div id="maindialog">
        <div id="dvViewDetails"></div>

    </div>

</body>
</html>
