@{
    ViewBag.Title = "ViewAuthSignatory";
}

@using PMGSY.Extensions
<script src="~/Scripts/custom/Generic.js"></script>
@*<script src="~/Scripts/jquery.ui.draggable.js"></script>*@
@*<script src="~/Scripts/jquery.ui.dialog.js"></script>*@

<script src="~/Scripts/Bank/ViewAuthSignatory.js"></script>

<style>
    .ui-jqgrid-bdiv {
        overflow-x: hidden !important;
    }
</style>
<center>
<div style="margin-top:10px;margin-bottom:10px;width:98%">
    <table id="tblstAuthSignatory"></table>
    <div id="dvpgAuthSignatory"></div>
    <div class="ui-state-default ui-corner-bottom" style="margin-left:0; margin-right:0; margin-bottom:0; text-align:left;">
     Note: SRRDA can Add or Update the email address, for any change in email address please contact - @PMGSYSession.Current.DepartmentName
    </div>
</div>
    @*ui-widget-header*@
 

</center>

<div id="dvDialogGenerateKey" style="display:none" title="Generate Key">

    <form id="frmGenerateKey">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.Hidden("hdnAdminNoOfficerCode")
        @Html.Hidden("hdnGeneratedKey")
    
@*<div class="ui-widget-header ui-corner-top" style="margin-left:0; margin-right:0; margin-bottom:0; text-align:left">Generate Key
    <a href="#"  style="float: right;"><img style="margin-right:5px" alt="Close" src="" class="ui-icon ui-icon-closethick" id="imgCloseGenerateKeyDetails" /></a>
</div>*@

        <table class="ui-state-default ui-corner-all" style="border:0.1em solid gray; width:100%;height:100px" id="tblGenerateKey">
            <tr>
                <td colspan="3">
                    <div id="dvErrorMessage" class="ui-widget ui-state-error ui-corner-all" style="padding: 0.9em .9em; display: none; height:5px; text-align: left">
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Alert:</strong> <span id="message"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:30px"></td>
                <td style="width:10px">
                    @*@Html.Label("Key is : ", new { @id="lblKey"})*@
                    <div id="dvKeyLabel" style="display:none;">Key is :</div>
                </td>
                <td style="width:10px">
                    <div id="dvGeneratedKey" style="color:green;display:none"></div>
                </td>
            </tr>
            <tr>
                <center>
                    <td style="text-align:center" colspan="3">
                      @*<input type="button" id="btnGenerateKeyDetails" value="Generate Key" class="jqueryButton" tabindex="1" title="Click here to Generate Key">*@
                      <input type="button" id="btnSaveKeyDetails" value="Send email" class="jqueryButton" tabindex="2" title="Send email">
                    </td>
               </center>
            </tr>
    </table>
   </form>
</div>





