@{
    ViewBag.Title = "FundSanctionReleaseDetails";
}

@model PMGSY.Areas.ProposalSSRSReports.Models.FundSanctionReleaseViewModel

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.dialog.js")"> </script>
<script type="text/javascript" src="~/Scripts/ProposalReports/FundSanctionReleaseDetails.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>

@*@Html.Hidden("hdnLevelId", PMGSY.Extensions.PMGSYSession.Current.LevelId.ToString())

@if (PMGSY.Extensions.PMGSYSession.Current.StateCode != 0)
{           
    @Html.Hidden("STATE_NAME", PMGSY.Extensions.PMGSYSession.Current.StateName.ToString())
}

@if (PMGSY.Extensions.PMGSYSession.Current.DistrictCode != 0)
{
    @Html.Hidden("DISTRICT_NAME", PMGSY.Extensions.PMGSYSession.Current.DistrictName.ToString())   
}

@Html.HiddenFor(model => model.BLOCK_NAME)
@Html.HiddenFor(model => model.MAST_STATE_CODE)
@Html.HiddenFor(model => model.MAST_DISTRICT_CODE)*@
<form id="frmFundSanctionReleaseLayout">
    <div style="width: 100%">
        <table class="ui-state-default ui-corner-all" style="width: 100%;">
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("State")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddState_FundSanctRelDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Collaboration")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddCollaboration_FundSanctRelDetails", ViewData["COLLABORATION"] as IEnumerable<SelectListItem>, new { @title = "Collaboration", @tabindex = 2 })
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Year")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddYear_FundSanctRelDetails", ViewData["YEAR"] as IEnumerable<SelectListItem>, new { @title = "Year", @tabindex = 3 })
                </td>
                <td style="width: 10%;"></td>
            </tr>
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Agency")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddAgency_FundSanctRelDetails", ViewData["AGENCY"] as IEnumerable<SelectListItem>, new { @title = "Agency", @tabindex = 4 })
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Fund Type")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddFundType_FundSanctRelDetails", ViewData["FUNDTYPE"] as IEnumerable<SelectListItem>, new { @title = "Fund Type", @tabindex = 5 })
                </td>
                <td style="text-align: left; width: 5%;">
                    @Html.Label("Type")
                </td>
                <td style="width: 15%;">
                    @Html.DropDownList("ddReleaseType_FundSanctRelDetails", ViewData["RELEASETYPE"] as IEnumerable<SelectListItem>, new { @title = "Type", @tabindex = 6 })
                </td>
                <td style="text-align: center; width: 10%; margin-left: 5px;">
                    <input type="button" id="btnGoFundSanctRel" value="View" class="jqueryButton" title="View Details" tabindex="7" />
                </td>
            </tr>
        </table>
    </div>
</form>
<div id="dvLoadFundSanctionReleaseReport" style="width: 100%; margin-top: 20px;">
</div>

