@model PMGSY.Areas.ProposalSSRSReports.Models.ExecutionFinancialProgressViewModel

@if (Layout == null)
{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
}

<script src="~/Areas/ProposalSSRSReports/Scripts/MaintenanceInspectionLayout.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>


<div id="dvhdMaintenanceInspectionLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;Maintenance Inspection Details</span>

    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>
<div id="dvMaintenanceInspectionLayout" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">

    <form id="frmMaintenanceInspectionLayout">
        @* @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.District)
        @Html.HiddenFor(model => model.Block)
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.Batch)
        @Html.HiddenFor(model => model.Collaboration)
        @Html.HiddenFor(model => model.Type)*@
        @Html.HiddenFor(model => model.StateName)
        @Html.HiddenFor(model => model.DistName)
        @Html.HiddenFor(model => model.BlockName)
        @Html.HiddenFor(model => model.CollabName)
        <div style="width: 100%">
            <table class="rowstyle" style="width: 100%;">
                <tr>
                    <td style="width: 2%;"></td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("State")
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.StateCode > 0)
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("StateList_MaintenInspectionDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })*@
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "StateList_MaintenInspectionDetails", @title = "State", @tabindex = 1, @disabled = "true" })
                            <br />
                            @Html.ValidationMessageFor(m => m.State)
                        </td>
                    }
                    else
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("StateList_MaintenInspectionDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })*@
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "StateList_MaintenInspectionDetails", @title = "State", @tabindex = 1 })
                            <br />
                            @Html.ValidationMessageFor(m => m.State)
                        </td>
                    }
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("District")
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.DistrictCode > 0)
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("DistrictList_MaintenInspectionDetails", ViewData["DISTRICT"] as IEnumerable<SelectListItem>, new { @title = "District", @tabindex = 2 })*@
                            @Html.DropDownListFor(model => model.District, new SelectList(Model.DistrictList, "Value", "Text"), new { @id = "DistrictList_MaintenInspectionDetails", @title = "District", @tabindex = 2, @disabled = "true" })
                            <br />
                            @Html.ValidationMessageFor(m => m.District)
                        </td>
                    }
                    else
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("DistrictList_MaintenInspectionDetails", ViewData["DISTRICT"] as IEnumerable<SelectListItem>, new { @title = "District", @tabindex = 2 })*@
                            @Html.DropDownListFor(model => model.District, new SelectList(Model.DistrictList, "Value", "Text"), new { @id = "DistrictList_MaintenInspectionDetails", @title = "District", @tabindex = 2 })
                            <br />
                            @Html.ValidationMessageFor(m => m.District)
                        </td>
                    }
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Block")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("BlockList_MaintenInspectionDetails", ViewData["BLOCK"] as IEnumerable<SelectListItem>, new { @title = "Block", @tabindex = 3 })*@
                        @Html.DropDownListFor(model => model.Block, new SelectList(Model.BlockList, "Value", "Text"), new { @id = "BlockList_MaintenInspectionDetails", @title = "Block", @tabindex = 3 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Block)
                    </td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Type")
                    </td>
                    <td style="width: 10%;">
                        @*@Html.DropDownList("TypeList_MaintenInspectionDetails", ViewData["TYPE"] as IEnumerable<SelectListItem>, new { @title = "Type", @tabindex = 4 })*@
                        @Html.DropDownListFor(model => model.Type, new SelectList(Model.TypeList, "Value", "Text"), new { @id = "TypeList_MaintenInspectionDetails", @title = "Type", @tabindex = 4 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Type)
                    </td>
                </tr>
                <tr>
                    <td style="width: 2%;"></td>

                    <td style="text-align: left; width: 7%;">
                        @Html.Label("Sanction Year")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("YearList_MaintenInspectionDetails", ViewData["YEAR"] as IEnumerable<SelectListItem>, new { @title = "Year", @tabindex = 5 })*@
                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new { @id = "YearList_MaintenInspectionDetails", @title = "Year", @tabindex = 5 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Year)
                    </td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Batch")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("BatchList_MaintenInspectionDetails", ViewData["BATCH"] as IEnumerable<SelectListItem>, new { @title = "Batch", @tabindex = 6 })*@
                        @Html.DropDownListFor(model => model.Batch, new SelectList(Model.BatchList, "Value", "Text"), new { @id = "BatchList_MaintenInspectionDetails", @title = "Batch", @tabindex = 6 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Batch)
                    </td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Collaboration")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("CollaborationList_MaintenInspectionDetails", ViewData["COLLABORATION"] as IEnumerable<SelectListItem>, new { @title = "Collaboration", @tabindex = 7 })*@
                        @Html.DropDownListFor(model => model.Collaboration, new SelectList(Model.CollabList, "Value", "Text"), new { @id = "CollaborationList_MaintenInspectionDetails", @title = "Collaboration", @tabindex = 7 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Collaboration)
                    </td>
                    <td colspan="2" style="text-align: left; width: 15%; margin-left: 5px;">
                        <input type="button" id="MaintenInspectionDetailsButton" value="View" class="jqueryButton" title="View Details" tabindex="8" />
                    </td>
                </tr>

            </table>
        </div>
    </form>
</div>
<div id="dvLoadMaintenanceInspectionReport">
</div>


