@model PMGSY.Areas.ProposalSSRSReports.Models.ProposalScrutinyViewModel

@if (Layout == null)
{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.dialog.js")"> </script>

<script src="~/Areas/ProposalSSRSReports/Scripts/ProposalScrutinyLayout.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>


<div id="dvhdProposalScrutinyLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;Proposal Scrutiny</span>

    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>
<div id="dvProposalScrutinyLayout" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">

    <form id="frmProposalScrutinyLayout">

        @*@Html.HiddenFor(model => model.State)*@
        @Html.HiddenFor(model => model.District)
        @*@Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.Batch)
        @Html.HiddenFor(model => model.Collaboration)
        @Html.HiddenFor(model => model.Agency)*@
        @Html.HiddenFor(model => model.StateName)
        @Html.HiddenFor(model => model.DistrictName)
        @Html.HiddenFor(model => model.BatchName)
        @Html.HiddenFor(model => model.CollabName)
        @Html.HiddenFor(model => model.AgencyName)
        <div style="width: 100%">
            <table class="rowstyle" style="width: 100%;">
                <tr>
                    <td style="width: 6%;"></td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("State")
                    </td>
                    @if (PMGSY.Extensions.PMGSYSession.Current.StateCode > 0)
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("ddState_PropScruitinyDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })*@
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "ddState_PropScruitinyDetails", @title = "State", @tabindex = 1, @disabled="true" })
                            <br />
                            @Html.ValidationMessageFor(m => m.State)
                        </td>
                    }
                    else
                    {
                        <td style="width: 15%;">
                            @*@Html.DropDownList("ddState_PropScruitinyDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })*@
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "ddState_PropScruitinyDetails", @title = "State", @tabindex = 1 })
                            <br />
                            @Html.ValidationMessageFor(m => m.State)
                        </td>
                    }
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("STA/PTA")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("ddStaPta_PropScruitinyDetails", ViewData["TYPE"] as IEnumerable<SelectListItem>, new { @title = "STA/PTA", @tabindex = 2 })*@
                        @Html.DropDownListFor(model => model.TechType, new SelectList(Model.TechTypeList, "Value", "Text"), new { @id = "ddStaPta_PropScruitinyDetails", @title = "Type", @tabindex = 2 })
                        <br />
                        @Html.ValidationMessageFor(m => m.TechType)
                    </td>
                    <td style="text-align: left; width: 10%;">
                        @Html.Label("Institute Name(STA)")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("ddAgency_PropScruitinyDetails", ViewData["AGENCY"] as IEnumerable<SelectListItem>, new { @title = "Institute Name(STA)", @tabindex = 3 })*@
                        @Html.DropDownListFor(model => model.Agency, new SelectList(Model.AgencyList, "Value", "Text"), new { @id = "ddAgency_PropScruitinyDetails", @title = "Agency", @tabindex = 3 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Agency)
                    </td>
                    <td style="text-align: left; width: 20%; margin-left: 5px;"></td>
                </tr>
                <tr>
                    <td style="width: 6%;"></td>

                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Year")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("ddYear_PropScruitinyDetails", ViewData["YEAR"] as IEnumerable<SelectListItem>, new { @title = "Year", @tabindex = 4 })*@
                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new { @id = "ddYear_PropScruitinyDetails", @title = "Year", @tabindex = 4 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Year)
                    </td>
                    <td style="text-align: left; width: 5%;">
                        @Html.Label("Batch")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("ddBatch_PropScruitinyDetails", ViewData["BATCH"] as IEnumerable<SelectListItem>, new { @title = "Batch", @tabindex = 5 })*@
                        @Html.DropDownListFor(model => model.Batch, new SelectList(Model.BatchList, "Value", "Text"), new { @id = "ddBatch_PropScruitinyDetails", @title = "Batch", @tabindex = 5 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Batch)
                    </td>

                    <td style="text-align: left; width: 10%;">
                        @Html.Label("Scheme")
                    </td>
                    <td style="width: 15%;">
                        @*@Html.DropDownList("ddScheme_PropScruitinyDetails", ViewData["SCHEME"] as IEnumerable<SelectListItem>, new { @title = "Scheme", @tabindex = 6 })*@
                        @Html.DropDownListFor(model => model.Collaboration, new SelectList(Model.CollabList, "Value", "Text"), new { @id = "ddScheme_PropScruitinyDetails", @title = "Collaboration", @tabindex = 6 })
                        <br />
                        @Html.ValidationMessageFor(m => m.Collaboration)
                    </td>
                    <td style="text-align: left; width: 20%; margin-left: 5px;">
                        <input type="button" id="btnGoScruitiny" value="View" class="jqueryButton" title="View Details" tabindex="7" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div id="dvLoadProposalScrutinyReport" style="width: 100%;">
</div>
