@model IEnumerable<PMGSY.Models.MASTER_DISTRICT>

@{
    ViewBag.Title = "District Details";
}

<script src="@Url.Content("~/Scripts/custom/Generic.js")" type="text/javascript" ></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/MasterDataEntry/Master_ListDistrict.js")"> </script>


@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAST_DISTRICT_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_DISTRICT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MASTER_STATE.MAST_STATE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_PMGSY_INCLUDED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_IAP_DISTRICT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_DISTRICT_ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_NIC_STATE_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAST_NIC_DISTRICT_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUMMY_STATE_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUMMY_DISTRICT_CODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_DISTRICT_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_DISTRICT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MASTER_STATE.MAST_STATE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_PMGSY_INCLUDED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_IAP_DISTRICT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_DISTRICT_ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_NIC_STATE_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAST_NIC_DISTRICT_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUMMY_STATE_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUMMY_DISTRICT_CODE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@



 <div id="dvDistrictDetails" style="display:none;">
       
      </div>@* end of craete new div*@

<div id="dvSearchDistrict">
     
    

</div>

 <center>

<div id="dvDistrictList">

    <table style="width:100%; padding-top:2em;">
    <tr>  
        <td style="width:20%;"></td> 
        <td>
      <input type="button" id="btnCreateNew" name="btnCreateNew" value="Add New" class= "jqueryButton" title="Create New District"  /> 
      <input type="button" id="btnSearchView" name="btnSearchView" value="Search" class= "jqueryButton" title="Search" style="display:none;"/> 
            </td>
        </tr>
    <tr></tr>
    <tr></tr>
    </table>

    <table id="tbDistrictList">

    </table>

    <div id="dvDistrictListPager"></div>
</div>
    
      </center>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}