@{
    ViewBag.Title = "CN6ReportDetails";
}
@model PMGSY.Models.CoreNetworkReports.CoreNetworkReportViewModel
<script type="text/javascript" src="~/Scripts/CoreNetworkReports/CN6ReportDetails.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.dialog.js")"> </script>
<script src="~/Scripts/custom/Generic.js"></script>

<form id="frmCN1StateLevelReport">
    @Html.Hidden("hdnLevelId", PMGSY.Extensions.PMGSYSession.Current.LevelId.ToString())

    @if (PMGSY.Extensions.PMGSYSession.Current.StateCode != 0)
    {           
        @Html.Hidden("STATE_NAME", PMGSY.Extensions.PMGSYSession.Current.StateName.ToString())
    }

    @if (PMGSY.Extensions.PMGSYSession.Current.DistrictCode != 0)
    {
        @Html.Hidden("DISTRICT_NAME", PMGSY.Extensions.PMGSYSession.Current.DistrictName.ToString())  
        
             
    }

    @Html.HiddenFor(model => model.BLOCK_NAME)
    <div style="width: 100%">
        <table class="ui-state-default ui-corner-all" style="width: 100%;">
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 1%;">
                    @Html.Label("Route") &nbsp;
                </td>
                <td style="width: 2%;">
                    @Html.DropDownList("Route_CN6Details", ViewData["Route"] as IEnumerable<SelectListItem>,new { @title = "Route" , @tabindex = 1})
                </td>
                <td style="width: 20%;">
                    <input type="button" value="View" class="jqueryButton" id="btCN6Details" title="View Details" tabindex="2" />
                </td>
            </tr>
        </table>
    </div>
    <br />

    @if (PMGSY.Extensions.PMGSYSession.Current.LevelId == 6)     //Mord
    {
       
        <div id="CN6StateReport">
            <table id="CN6StateReportTable"></table>
        </div>
        <div id="CN6StateReportPager"></div>
        <br />

        <div id="CN6DistrictReport">
            <table id="CN6DistrictReportTable"></table>
        </div>
        <div id="CN6DistrictReportPager"></div>

        <br />
        <div id="CN6BlockReport">
            <table id="CN6BlockReportTable"></table>
        </div>
        <div id="CN6BlockReportPager"></div>

        <br />
        <div id="CN6FinalReport">
            <table id="CN6FinalReportTable"></table>
        </div>
        <div id="CN6FinalReportPager"></div>

               
    }

    else if (PMGSY.Extensions.PMGSYSession.Current.LevelId == 4)     //State
    {
        @Html.HiddenFor(model => model.MAST_STATE_CODE)
        <div id="CN6DistrictReport">
            <table id="CN6DistrictReportTable"></table>
        </div>
        <div id="CN6DistrictReportPager"></div>

        <br />
        <div id="CN6BlockReport">
            <table id="CN6BlockReportTable"></table>
        </div>
        <div id="CN6BlockReportPager"></div>

        <br />
        <div id="CN6FinalReport">
            <table id="CN6FinalReportTable"></table>
        </div>
        <div id="CN6FinalReportPager"></div>

    }
    else if (PMGSY.Extensions.PMGSYSession.Current.LevelId == 5)     //District
    {
        @Html.HiddenFor(model => model.MAST_STATE_CODE)
        @Html.HiddenFor(model => model.MAST_DISTRICT_CODE)
        <div id="CN6BlockReport">
            <table id="CN6BlockReportTable"></table>
        </div>
        <div id="CN6BlockReportPager"></div>

        <br />
        <div id="CN6FinalReport">
            <table id="CN6FinalReportTable"></table>
        </div>
        <div id="CN6FinalReportPager"></div>
    }
</form>
