@model PMGSY.Models.Execution.ProposalFilterForITNOViewModel

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/jquery.ui.accordion.js"></script>
<script src="~/Scripts/Execution/ListExecutionProgressForITNO.js"></script>


<center>
<div style="width:98%; height:20px;border:none; margin-top:5px; margin-bottom:-15px; " class="ui-state-default">
            <span style="float:right;margin-right:2Px; margin-top:2px" id="idFilterDiv" class="ui-icon ui-icon-circle-triangle-n"></span>     
</div>
<div id="divSearchExecution">
<div style="width: 98%; border:none; margin-top:-15px; margin-bottom:10px;" class="ui-state-default">
<form id="searchExecution">
<div style="width: 98%; border:none; margin-top:0px; margin-bottom:10px;" class="ui-state-default">
    @Html.HiddenFor(model => model.Urlparameter)

    @*@Html.HiddenFor(model => model.YEAR)
    @Html.HiddenFor(model => model.MONTH)*@
    <table style="margin-top:10px; margin-bottom:5px;">
        <tr>
            <td>@Html.LabelFor(model => model.District)</td>
            <td>@Html.DropDownListFor(model => model.District, new SelectList(Model.lstDistricts, "Value", "Text"), new { @id = "ddlDistricts" })</td>
            <td>@Html.LabelFor(model => model.MAST_BLOCK_CODE)</td>
            <td>@Html.DropDownListFor(model => model.MAST_BLOCK_CODE, new SelectList(Model.BLOCKS, "Value", "Text"), new { @id = "ddlMastBlockCode" })</td>
            <td>@Html.LabelFor(model => model.IMS_YEAR)</td>
            <td>@Html.DropDownListFor(model => model.IMS_YEAR, new SelectList(Model.Years, "Value", "Text"), new { @id = "ddlImsYear" })</td>
            <td>@Html.LabelFor(model => model.Batch)</td>
            <td>@Html.DropDownListFor(model => model.Batch, new SelectList(Model.lstBatchs, "Value", "Text"), new { @id = "ddlBatchs" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IMS_PACKAGE)</td>
            <td>@Html.DropDownListFor(model => model.PACKAGES, new SelectList(Model.PACKAGES, "Value", "Text"), new { @id = "ddlImsPackages" })</td>
            <td>@Html.LabelFor(model => model.Collaboration)</td>
            <td>@Html.DropDownListFor(model => model.Collaboration, new SelectList(Model.lstCollaborations, "Value", "Text"), new { @id = "ddlCollaborations" })</td>
            <td>@Html.LabelFor(model => model.IMS_PROPOSAL_TYPE)</td>
            <td>@Html.DropDownListFor(model => model.IMS_PROPOSAL_TYPE, new SelectList(Model.PROPOSAL_TYPES, "Value", "Text"), new { @id = "ddlImsProposalTypes" })</td>
            <td>@Html.LabelFor(model => model.UpgradeConnect)</td>
            <td>@Html.DropDownListFor(model => model.UpgradeConnect, new SelectList(Model.lstUpgradations, "Value", "Text"), new { @id = "ddlUpgradations" })</td>
        </tr>
        <tr>
            <td colspan="8">
                <center>
                <table>
                    <tr>
                        <td><input type="button" style="margin-top:5px" class="jqueryButton" value="List Execution Details" id="btnListExecution" name ="btnListExecution" title="Click here to list Execution Details"/></td>
                    </tr>
                </table>
                </center>
            </td>
        </tr>
    </table>
</div>
</form>
</div>
</div>
<div id="divListExecution" style="margin-top:20px; width:96%">
    <table id="tbExecutionList"></table>
    <div id="pagerExecution"></div>
</div>
<div id="divPhysicalDetails" style="width:99%;margin-top:20px">
    <table id="tbPhysicalRoadList"></table>
    <div id="pagerPhysicalRoadList"></div>
</div>
<div id="divLSBPhysicalDetails" style="width:99%;margin-top:20px">
    <table id="tbLSBPhysicalRoadList"></table>
    <div id="pagerLSBPhysicalRoadList"></div>
</div>
<div id="divFinancialDetails" style="width:99%;margin-top:20px">
    <table id="tbFinancialRoadList"></table>
    <div id="pagerFinancialRoadList"></div>
</div>
</center>
