@model PMGSY.Models.RecoverPasswordModel
@{Layout = null;}

<!DOCTYPE html>
<html lang="en">
     <head>
        <META Http-Equiv="Cache-Control" Content="no-cache"/>
        <META Http-Equiv="Pragma" Content="no-cache"/>
        <META Http-Equiv="Expires" Content="0"/>
        <title>PMGSY</title>
       <link href="~/Content/themes/Humanity/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
       @Styles.Render("~/Content/css")
       @Scripts.Render("~/bundles/jquery")
       <script src="~/Content/themes/Humanity/js/jquery-ui-1.9.2.custom.js"></script>
       <script src="~/Scripts/jquery.validate.min.js"></script>
       <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
       <script src="~/Scripts/custom/Generic.js"></script>
       <script src="~/Scripts/Login/md5.js"></script>
       <script src="~/Scripts/Login/Login.js"></script>
     </head>

<body id="mainbody">
  <div class="ui-corner-all" style="border: solid gray 1px; margin-top: 3px;height:6%">
        <img style="width:100%;height:98%;" alt="PMGSY" src="../../Content/images/Header-e-gov-6.png" />
 </div>
<br/>
    <br/>


@using (Html.BeginForm("RecoverPassword", "Login", FormMethod.Post, new { @id = "frmRecoverPassword" }))
{
    <table class="ui-corner-all" style="margin-top:3px; text-align:left; height:90%;width:100%; ">
    <tr>
        <td style="text-align:center;vertical-align:central;">
            <center>   
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
     
                <div id="divRecoverPassError" class="ui-state-error ui-corner-all" style="text-align: left; display: none; width: 79%">
                    <span class="ui-icon ui-icon-alert" style="float: left;"></span>
                    <span></span>
                </div> 
                <div id="tableMain" class="jqueryTable">
                <div id="tableTitle">
                        <span id="tableTitleName">Change Password</span>
                </div>
                <div id="tableHeader" style="display:none;">
                            <table id="tableHeaderName">
                                <tr>
                                    <th colspan="2"></th>
                                </tr>
                            </table>
                </div>
                <div id="tableContent">
                   <table  id="tableContentName" class="dataentry">
                         <tr>
                            <td>@Html.LabelFor(m => m.UserName) :<span style="color:red">*</span></td>
                            <td>@Html.DisplayFor(m => m.UserName)</td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.NewPassword) :<span style="color:red">*</span></td>
                            <td>@Html.PasswordFor(m => m.NewPassword, new {@id="newpassword", @maxlength = 32, onCopy="return false" ,onDrag="return false", onDrop="return false", onPaste="return false", autocomplete="off"}) @Html.ValidationMessageFor(m => m.NewPassword) </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.ConfirmPassword) :<span style="color:red">*</span></td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword, new {@id="confirmpassword", @maxlength = 32, onCopy="return false" ,onDrag="return false", onDrop="return false", onPaste="return false", autocomplete="off"}) @Html.ValidationMessageFor(m => m.ConfirmPassword) </td>
                        </tr>
                       <tr>
                           <td><input type="button" id="btnSubmitRecoverPwdr" value="Save" class="jqueryButton"/></td>
                            <td><input type="button" id="btnCancelRecoverPwdr" value="Cancel" class="jqueryButton"/></td>
                       </tr>
                  </table>
                </div>
             </div>
            </center>
        </td>
    </tr>
 </table>
     <div style="height: 25px; margin-left:128px; width: 958px;" class="jqueryTable ui-jqgrid ui-widget ui-widget-content ui-corner-all">
                <span style="margin-left:10px;margin-top: 5px;border:none" class="ui-widget-content"><b>Note:</b> Password should contain at least 1 uppercase letter, 1 lowercase letter, 1 number or special character and at least 8 characters in length.</span>
           </div>
}
    <br />
    <strong>
        <hr class="ui-corner-all" style="background-color:#feddba;border:none;height:3px;width:100%;" />
    </strong>    
    <footer id="footerLogin" style="margin-top:-4px;" class="ui-corner-all">
        <div class="content-wrapper">
            <table style="font-size:10.5px;width:100%;color: #2e2d2d;vertical-align:middle;">
                <tr>
                    <td style="width:73.5%;text-align:center;">
                        <table style="margin-top:-5px;width:100%;">
                            <tr>
                                <td>
                                    Best viewed in Firefox 18 or Higher, Google Chrome 20 or Higher & Internet Explorer 9 or Higher in 1280 x 1024 screen resolution. 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Download Links -   
                                    <a style="color:#880f0f;text-decoration:none;" title="Download latest version of Firefox" target="_blank" href="http://www.mozilla.org/en-US/firefox/new/" >Firefox</a> 
                                    &nbsp;|&nbsp;<a style="color:#880f0f;text-decoration:none;" title="Download latest version of Google Chrome" target="_blank" href="https://www.google.com/intl/en/chrome/browser/" >Google Chrome</a> 
                                    &nbsp;|&nbsp;<a style="color:#880f0f;text-decoration:none;" title="Download latest version of Internet Explorer" target="_blank" href="http://windows.microsoft.com/en-IN/internet-explorer/download-ie" >Internet Explorer</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="verticalSeparatorLogin"> </td>
                    <td rowspan="2" style="width:26.5%;padding-left:10px;text-align:right;padding-right:10px;vertical-align:top;">
                        
                        <span>&copy; @DateTime.Now.Year NRRDA. All rights reserved.</span>
                    </td>
                </tr>
            </table>
        </div>
    </footer>
 </body>
</html>