@model PMGSY.Models.Report.Account.AccountFilterModel

<script src="~/Scripts/Report/Account/AccountFilter.js"></script>
@*<script src="~/Scripts/Report/Account/Schedule.js"></script>*@
@Html.HiddenFor(m=>m.LevelId)
@if (Model.LevelId == 5)
{
    @Html.HiddenFor(m=>m.Piu)
}

@Html.Hidden("DpiuCode",Model.Piu)

<form id="frmScheduleFilter">
<div id="dvError" class="ui-state-error ui-corner-all" style="text-align: left; display: none; width: 99%;">
                <span class="ui-icon ui-icon-alert" style="float: left;"></span>
                <span></span>
            </div>
<table class="ui-state-default ui-corner-all" style="border:0.1em solid gray; width:100%; margin-top:1px" id="tblFilter" align="center">
           @if(Model.LevelId!=5){
        <tr>
            <td style="text-align:left; font-weight:bold; width:350px">
                @Html.Label("Report Level:")
               <span id="spanState">
                 @Html.RadioButtonFor(model => model.ReportLevel,4, new {@id="rdbState", style="margin-left:20px;",@tabindex = 101 ,@class="rdbClassReportLevel",@title="State"}) <label  for="rdbState">State</label>
               </span>
                   @*<span id="spanSrrda" style="display:none">*@
                <span id="spanSrrda">
                 @Html.RadioButtonFor(model => model.ReportLevel, 1, new {@id="rdbSrrda", @tabindex = 101 ,@class="rdbClassReportLevel",@title="SRRDA"}) <label for="rdbSrrda"> SRRDA</label>                      
                   </span>
                <span id="spanDPIU">
                @Html.RadioButtonFor(model => model.ReportLevel, 2, new {@id="rdbPiu", @tabindex = 101 ,@class="rdbClassReportLevel",@title="DPIU"}) <label for="rdbPiu"> DPIU</label>                      
                    </span>
            </td>
            <td style="text-align:left; font-weight:bold; width:600px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.Label("Select Agency:")
                @Html.DropDownListFor(m => m.Agency, Model.ListAgency, new { @title="Agency",@tabindex=102})
            @Html.ValidationMessageFor(m=>m.Agency)
           
               <span id="spanPIU" style="display:none">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 @Html.Label("Select DPIU:")
                @Html.DropDownListFor(m => m.Piu, Model.ListPiu, new { @title="DPIU",@tabindex=103})
               </span>
            </td>
            <td>&nbsp;</td>
        </tr>
           }
   <tr> 
            <td style="text-align:left; font-weight:bold; width:300px">
                @Html.Label("Report Type:")
                @Html.RadioButtonFor(model => model.ReportType,1, new {@id="rdbAnnual", style="margin-left:20px;",@tabindex = 104 ,@class="rdbClassReportType",@title="Annual"}) 
                <label  for="rdbAnnual">Annual</label>
                @Html.RadioButtonFor(model => model.ReportType, 2, new {@id="rdbMonth", @tabindex = 104 ,@class="rdbClassReportType",@title="Monthly"}) 
                <label for="rdbMonth"> Monthly</label>                      
                
            </td>
            <td style="text-align:left; font-weight:bold;width:800px">
               <span id="spanMonth" style=" width:400px">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.Label("Select Month:")
                @Html.DropDownListFor(m => m.Month, Model.ListMonth, new { @title="Month",@tabindex=105})
                   @Html.ValidationMessageFor(m=>m.Month)
                   </span>
                
                <span id="spanYear" style="display: inline-block; width:400px">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.Label("Select Year:")
                @Html.DropDownListFor(m => m.Year, Model.ListYear, new { @title = "Year" ,@tabindex=106})
                    @Html.ValidationMessageFor(m=>m.Year)
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               @* <span id="tdBtnViewDetails" style="display:none">
                    <input type="button" id="btnViewDPIU" value="View Details" class="jqueryButton">
                </span>*@
               
           </td> 
       <td></td>          
             @*<td style="text-align:center;display:none" id="tdBtnViewDetails" colspan="3" ><input type="button" id="btnView" value="View Details" class="jqueryButton"></td>                  *@
        </tr>
    <tr>
        <td id="tdOtherBthViewDetails" style="text-align:center; " colspan="3" ><input type="button" id="btnView" value="View Details" class="jqueryButton" title="View Details" tabindex="107"></td>        
    </tr>
       
    </table>
</form>

 @*<div id="dvPmgsyScheduleList" style="margin-top:20px;width:100%;">
         
        <table id="tbPmgsyScheduleList"></table>
             
    </div>*@
   