@model PMGSY.Areas.AccountReports.Models.BalanceSheet
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/AccountReports/Views/Account/_Layout.cshtml";

    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
    
}
<script src="~/Areas/AccountReports/Scripts/BalanceSheetReport.js"></script>

@using PMGSY.Extensions

 <div class="ui-widget-header innerDivHeader" style="margin-bottom: 05px; height: 20px">
       Balance Sheet Details
       
   </div>
<div id="loadFilters">
    @Html.Hidden("LevelIdBalSheet",PMGSYSession.Current.LevelId)

                    @if (PMGSYSession.Current.LevelId == 5)
                    {
                       <form id="frmBalanceSheet">                           
                       <center>
                       <table class="table-content ui-corner-all" style="width: 100%; border: .1em solid gray">
                             <tr id="trStateDPIU">
                           <td></td>
                           <td>
                           </td>
                            <td>
                           </td>
                           <td style="width:05%">
                               <label id="lblState">State</label>
                           </td>
                           <td style="width:20%">
                               @Html.DropDownListFor(model => model.StateAdminCode, new SelectList(Model.NodalAgencyList,"Value","Text"), new { @id="ddlNodalAgency",@title="Please select Agency",@style="width:80%;",@disabled="disabled"})     
                           </td>
                           <td style="width:20%">
                               <label id="lblShowDPIU" style="margin-right:20px;">DPIU</label>
                               @Html.DropDownListFor(model => model.AdminCode, new SelectList(Model.DPIUList,"Value","Text"),new {@id="ddlPIUList",@title="Please select PIU"})     
                           </td>  
                        <td style="width:10%">
                               @Html.RadioButton("Monthly", "M", true, new {@id="rdMonthly",@title="Monthly",@checked = "checked" })
                               <label>Monthly</label>
                           </td>
                           <td style="width:10%">
                               @Html.RadioButton("Monthly", "Y", false, new {@id="rdYearly",@title="Yearly" })
                               <label style="margin-right:20px">Yearly</label>
                           </td>
                           <td id="trddlMonth">
                               @Html.LabelFor(model=>model.Month)<span style="color:red">*</span>
                                @Html.DropDownListFor(model => model.Month, new SelectList(Model.MonthList, "Value", "Text"), new {  @id="ddlBalMonth",Title = " Month", tabindex = 103, @class = "dropdown" })
                                @Html.ValidationMessageFor(model => model.Month)
                           </td>
                           <td>
                                <label style="margin-right:1px">Year<span style="color:red">*</span></label>
                                @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new {  @id="ddlBalYear",Title = " Year", tabindex = 104, @class = "dropdown" })
                                @Html.ValidationMessageFor(model => model.Year)
                           </td>                          
                       </tr>
                          
                       <tr>
                           <td colspan="10">
                               <center>
                               <input class="jqueryButton" style="width:5%" type="button" value="View" id="btnViewBalanceSheetDetails" />
                               </center>
                           </td>
                       </tr>
                       </table>
                       </center>
                       </form>
                    }

                    @if (PMGSYSession.Current.LevelId == 6 || PMGSYSession.Current.LevelId == 4)
                    {
                       <form id="frmBalanceSheet">
                       <center>
                       <table class="table-content ui-corner-all" style="width: 100%; border: .1em solid gray">
                       <tr>
                           <td style="width:01%">
                           </td>

                           <td style="width:06%">
                               Balance Sheet:<span style="color:red">*</span>
                           </td>
                           <td style="width:06%">
                               @Html.RadioButtonFor(model => model.ReportLevel, 'S', new { id = "rdbState" ,@tabindex = 102 ,@title="State",@checked="checked"}) <label  for="rdbState">State</label>
                           </td>
                           <td style="width:12%">
                               @Html.RadioButtonFor(model => model.ReportLevel, 'O', new { id = "rdbSRRDA", @tabindex = 101 ,@title="SRRDA"}) <label for="rdbSRRDA">SRRDA</label>                       
                           </td>
                           <td style="width:10%">
                               @Html.RadioButtonFor(model => model.ReportLevel, 'A', new { id = "rdbAllDPIU" , style="margin-left:0px;",@tabindex = 102 ,@title="All DPIU"}) <label  for="rdbAllDPIU">All DPIU</label>
                           </td>
                           <td style="width:05%">
                               <span style="margin-left:10%">Duration:<span style="color:red">*</span></span>                               
                           </td>
                           <td style="width:10%">
                               @Html.RadioButton("Monthly", "M", true, new {@id="rdMonthly",@title="Monthly",@checked = "checked" })
                               <label>Monthly</label>
                           </td>
                           <td style="width:10%">
                               @Html.RadioButton("Monthly", "Y", false, new {@id="rdYearly",@title="Yearly" })
                               <label style="margin-right:20px">Yearly</label>
                           </td>
                       </tr>
                       <tr id="trStateDPIU">
                           <td></td>
                           <td>
                                
                           </td>
                            <td>
                                
                           </td>
                           <td>
                               <label id="lblState">State</label>
                               @if (PMGSYSession.Current.LevelId == 6)
                               {
                                    @Html.DropDownListFor(model => model.StateAdminCode, new SelectList(Model.NodalAgencyList,"Value","Text"), new { @id="ddlNodalAgency",@title="Please select Agency",@style="width:70%"})     
                               }
                               else if (PMGSYSession.Current.LevelId == 4)
                               {
                                    @Html.DropDownListFor(model => model.StateAdminCode, new SelectList(Model.NodalAgencyList,"Value","Text"), new { @id="ddlNodalAgency",@title="Please select Agency",@style="width:70%;",@disabled="disabled"})     
                               }
                           </td>
                          
                           
                           <td>
                               <label id="lblShowDPIU" style="margin-right:20px;display:none">DPIU</label>
                               @Html.DropDownListFor(model => model.AdminCode, new SelectList(Model.DPIUList,"Value","Text"),new { @style="display:none;width:70%;",@id="ddlPIUList",@title="Please select PIU"})     
                           </td>
                         <td></td>
                           <td id="trddlMonth">
                               @Html.LabelFor(model=>model.Month)<span style="color:red">*</span>
                                @Html.DropDownListFor(model => model.Month, new SelectList(Model.MonthList, "Value", "Text"), new {  @id="ddlBalMonth",Title = " Month", tabindex = 103, @class = "dropdown" })
                                @Html.ValidationMessageFor(model => model.Month)
                           </td>
                           <td>
                                <label style="margin-right:1px">Year<span style="color:red">*</span></label>
                                @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearList, "Value", "Text"), new {  @id="ddlBalYear",Title = " Year", tabindex = 104, @class = "dropdown" })
                                @Html.ValidationMessageFor(model => model.Year)
                           </td>                          
                       </tr>
                       <tr>
                           <td colspan="8">
                               <center>
                                    <input class="jqueryButton" style="width:5%" type="button" value="View" id="btnViewBalanceSheetDetails" />
                               </center>
                           </td>
                       </tr>
                       </table>
                        </center>
                       </form>
                    }
</div>

<div id="loadReport" class="divLoadReport" ></div>
