@model PMGSY.Areas.AccountReports.Models.RegisterViewModel
@{
    ViewBag.Title = "ViewRegisterFilter";
}
@using PMGSY.Extensions
<script src="~/Scripts/custom/Generic.js"></script>

<script src="~/Areas/AccountReports/Scripts/RegisterHeads.js"></script>

<script type="text/javascript">
    var levelId = @PMGSY.Extensions.PMGSYSession.Current.LevelId
</script>

<div id="dvHeader" class="ui-widget-header innerDivHeader" style="margin-bottom: 1px; margin-top:1px;height: 20px;">
         <label style="margin-left:5px">@Model.ReportTitle</label> 
        <span style="float: right; margin-right: 2Px; margin-top: 2px" id="spnMonthlyStateSRRDA" class="ui-icon ui-icon-circle-triangle-n"></span>
</div>
<center>
<div>
<form id="frmRegisterHead">
   @Html.AntiForgeryToken()
    <div class="CBHeader ui-state-default ui-corner-all" style ="background:none;" id="dvFilterForm">
        <div id="divError" class="ui-state-error ui-corner-all" style="text-align: left; display: none; width: 100%">
        <span class="ui-icon ui-icon-alert" style="float: left;"></span>                   
        <span></span>
        </div>
        <table class="ui-state-default ui-corner-all" style="border:0.1em solid gray; background:none; width:100%; margin-top:1px" id="tblFilter">
            @Html.HiddenFor(model=>model.HeadCategoryId)
            @Html.HiddenFor(model=>model.LevelId)
            @Html.HiddenFor(model=>model.ReportTitle)
            @Html.HiddenFor(model=>model.MonthName)
            <tr>
             @*   <td style="width:10%"></td>*@
                <td style="width:10%">@Html.LabelFor(model=>model.HeadId):</td>
                <td style ="width:20%">
                    @Html.DropDownListFor(model => model.HeadId, new SelectList(Model.lstHeads, "Value", "Text"), new {@id="ddlHeads",@tabindex="1",@title="Select Head",@style="width:80%"})
                    @Html.ValidationMessageFor(model=>model.HeadId)
                    @Html.HiddenFor(model=>model.HeadId)
                </td>
                <td style="width:10%">
                    @* Modified By Abhishek kamble 4-Apr-2014 To hide Funding Agency Drop down. *@
                    <span style="display:none">
                    @Html.LabelFor(model=>model.FundingAgencyCode)<span style="color:red"> *</span>
                    </span>
                </td>
                <td style="width:20%">
                     @* Modified By Abhishek kamble 4-Apr-2014 To hide Funding Agency Drop down. *@
                    <span style="display:none">
                    @Html.DropDownListFor(model => model.FundingAgencyCode, new SelectList(Model.lstFundingAgency, "Value", "Text"), new {@id="ddlAgency",@title="Select Funding Agency",@tabindex="3" })
                    @Html.ValidationMessageFor(model=>model.FundingAgencyCode)
                    @Html.HiddenFor(model=>model.FundingAgencyCode)
                    </span>
                </td>
                <td></td>
                <td></td>


            </tr>


            @if (PMGSY.Extensions.PMGSYSession.Current.LevelId == 4 || PMGSY.Extensions.PMGSYSession.Current.LevelId == 6)
            {
            <tr>
               @* <td style="width:10%"></td>*@
                <td style="width:10%">Report Type:</td>
                <td style="width:15%">@Html.RadioButtonFor(model => model.ReportType, "D", new { @id="rdbDPIU",@checked="checked" ,@tabindex="2"})@Html.HiddenFor(model=>model.ReportType) DPIU</td>
                <td class="tdsrrdadpiu">Nodal Agency</td>
                <td class="tdsrrdadpiu">
                    @if(PMGSY.Extensions.PMGSYSession.Current.LevelId == 4)
                    {
                        @Html.DropDownListFor(model=>model.SRRDACode,new SelectList(Model.lstSRRDA,"Value","Text"),new{@id="ddlSRRDAPIU",@disabled="disabled"})
                        @Html.ValidationMessageFor(model=>model.SRRDACode)
                        @Html.HiddenFor(model=>model.SRRDACode)
                    }
                    else
                    {
                        @Html.DropDownListFor(model=>model.SRRDACode,new SelectList(Model.lstSRRDA,"Value","Text"),new{@id="ddlSRRDAPIU"})
                        @Html.ValidationMessageFor(model=>model.SRRDACode)
                        @Html.HiddenFor(model=>model.SRRDACode)
                    }
                </td>
                <td class="tdsrrdadpiu">
                    PIU
                </td>
                <td class="tdsrrdadpiu">
                    @Html.DropDownListFor(model=>model.DPIUCode,new SelectList(Model.lstPIU,"Value","Text"),new{@id="ddlPIU",@tabindex="4"})
                    @Html.ValidationMessageFor(model=>model.DPIUCode)
                    @Html.HiddenFor(model=>model.DPIUCode)
                </td>
            </tr>
                if(PMGSY.Extensions.PMGSYSession.Current.LevelId != 6)
                {

                }
            }
            <tr>
              @*  <td></td>*@
                <td>Duration:</td>
                <td>@Html.RadioButtonFor(model => model.DurationType, "M", new { @id="rdbMonth",@checked="checked",@tabindex="5"})@*@Html.HiddenFor(model=>model.DurationType)*@Monthly</td>
                <td class="monthly">
                    @Html.LabelFor(model=>model.Month)<span style="color:red">*</span>
                </td>
                <td class="monthly">
                    @Html.DropDownListFor(model => model.Month, new SelectList(Model.lstMonths, "Value", "Text"), new { @id="ddlMonths",@tabindex="6"})
                    @Html.ValidationMessageFor(model=>model.Month)
                    @Html.HiddenFor(model=>model.Month)
                </td>
                <td class="monthly">
                    @Html.LabelFor(model=>model.Year)<span style="color:red"> *</span>
                </td>
                <td class="monthly">
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.lstYears, "Value", "Text"), new { @id="ddlYears",@tabindex="7"})
                    @Html.ValidationMessageFor(model=>model.Year)
                    @Html.HiddenFor(model=>model.Year)
                </td>
            </tr>
            <tr>
               @* <td></td>*@
                <td></td>
                <td>@Html.RadioButtonFor(model => model.DurationType
                , "Y", new { @id="rdbYear",@tabindex="8"})Yearly</td>
                <td class="yearly">
                    Financial Year <span style="color:red"> *</span>
                    @*@Html.LabelFor(model=>model.Year)*@
                </td>


                <td class="yearly">
                    @Html.DropDownListFor(model => model.FinancialYear, new SelectList(Model.lstFinancialYears, "Value", "Text"), new { @id="ddlFinancialYears",@tabindex="9"})
                    @Html.ValidationMessageFor(model=>model.FinancialYear)
                    @Html.HiddenFor(model=>model.FinancialYear)
                </td>
                <td><input type="button" value="View" id="btnView" class="jqueryButton" title="View Running Account" style="text-align:center" tabindex="10"></input></td>
            </tr>
           @* <tr>
                <td colspan="8">
                    <center><input type="button" value="View Details" id="btnView" class="jqueryButton" title="View Running Account" style="text-align:center" tabindex="10"></input></center>
                </td>
            </tr>*@
        </table>
    </div>

<div style="margin-top:1px" id="jqData">
    
  
</div>

</form>
</div>
</center>

