<script src="~/Scripts/jquery.ui.accordion.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/PtaPay/PtaPayment.js"></script>
@model PMGSY.Models.PTAPayment.PTAPaymentViewModel

<center>
<form id="ptaDetails">
@{
   PMGSY.Common.CommonFunctions objCommonFunction = new PMGSY.Common.CommonFunctions();
}
<div>
    <a href="#" onclick="PreviewPTAPaymentList()"> <img src="~/Content/images/PDF.png" style="text-align:right;width:20px;height:20px;margin-left:1130px"/></a>
</div>
<div class="ui-corner-all ui-state-highlight" style="border: solid 1px black;width:98%; text-align: left">
    <table style="width: 100%">
        <tr>
            @Html.HiddenFor(model => model.TOTAL_HON_AMOUNT_IN_RUPEES)
            @Html.HiddenFor(model => model.TOT_HON_OF_SCRUTINY)
            <td style="width:2%;"></td>
            <td style="text-align: left; font-weight: bold;width:7%; vertical-align:top;">@Html.LabelFor(model => model.SANCTION_AMOUNT)</td>
            <td style="text-align: left;width:5%;font-weight: bold; vertical-align:top;"> &nbsp;&nbsp;<label id="lblScrAmount">  @objCommonFunction._IndianFormatAmount(Model.TOTAL_SCRUTNIZED_AMOUNT==null?"0":Model.TOTAL_SCRUTNIZED_AMOUNT.ToString())</label></td>

            <td style="text-align: left; font-weight: bold;width:10%; vertical-align:top;">@Html.LabelFor(model => model.TOT_HON_OF_SCRUTINY)</td>
            <td style="text-align: left;width:5%;font-weight: bold; vertical-align:top;">&nbsp;&nbsp;<label id="lblScrHon">@objCommonFunction._IndianFormatAmount(Model.TOT_HON_OF_SCRUTINY==null?"0":Model.TOT_HON_OF_SCRUTINY.ToString())</label></td>

            <td style="text-align: left; font-weight: bold; width:15%; vertical-align:top;">@*@Html.LabelFor(model => model.TOT_HON_MIN)*@
                <label>Total Value of Proposal for the Batch and Funding Agency [In Lakhs]</label>
            </td>
            <td style="text-align: left;width:5%;font-weight: bold; vertical-align:top;">&nbsp;&nbsp;@objCommonFunction._IndianFormatAmount(Model.PTA_SANCTION_AMOUNT==null?"0":Model.PTA_SANCTION_AMOUNT.ToString()) @Html.HiddenFor(model => model.TOT_HON_MIN)</td>

            <td style="text-align: left; font-weight: bold; width:10%; vertical-align:top;">@*@Html.LabelFor(model => model.TOT_HON_MIN)*@
                <label>% of total Value Scrutinized by PTA</label>
            </td>
            <td style="text-align: left;width:5%;font-weight: bold; vertical-align:top;">&nbsp;&nbsp;@objCommonFunction._IndianFormatAmount(Model.PTA_SANCTION_AMOUNT_PER==null?"0":Model.PTA_SANCTION_AMOUNT_PER.ToString()) @Html.HiddenFor(model => model.TOT_HON_MIN)</td>
            
            
        </tr>
    </table>
</div>

<div style="margin-top: 10px;width:98%;margin-right:5px;">
    <table id="tbPtaPaymentList"></table>
    <div id="dvPtaPaymentPager"></div>
</div>
<div style="margin-top: 10px;width:98%;margin-right:5px;">
    <table id="tbPtaInvoiceList"></table>
    <div id="dvPtaInvoicePager"></div>
</div>


 <div id="accordion" style="display:none;width:100%;margin-top:10px;">            
    <h3 style="text-align:left"><a id="" href="#" style=" font-size:.9em;" >Add Invoice Details</a>
        <a href="#"  style="float: right;">
            <img style="border:none"  class="ui-icon ui-icon-closethick" onclick="CloseDetails();" /></a>
    </h3>
    <div id="divAddPtaInvoice" style="display:none;">
    </div>                     
</div>
</form> 
</center>