@model PMGSY.Areas.LocationSSRSReports.Models.LocationMasterReports

@if (Layout == null)
{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
}

<script src="~/Areas/LocationSSRSReports/Scripts/MPConstituencyLayout.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>

<div id="dvhdMPConstituencyLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">MLA Constituency</span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>
<div id="dvMPConstituencyLayout" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">
    <form id="frmMPConstituencyLayout">
        <table class="rowstyle" style="width: 100%;">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.StateName)
            @Html.HiddenFor(model => model.ActiveFlagName)
            @Html.HiddenFor(model => model.Mast_State_Code)
            @Html.HiddenFor(model => model.Mast_District_Code)
            <tr>
                <td style="width: 2%;"></td>
                <td style="text-align: left; width: 3%;">
                    @Html.Label("State")
                </td>
                <td style="width: 10%;">
                    @*@Html.DropDownList("StateList_MPConstituencyDetails", ViewData["STATE"] as IEnumerable<SelectListItem>, new { @title = "State", @tabindex = 1 })*@
                    @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Value", "Text"), new { @id = "StateList_MPConstituencyDetails", @title = "State", @tabindex = 1 })
                    <br />
                    @Html.ValidationMessageFor(m => m.State)
                </td>
                <td style="text-align: left; width: 3%;">
                    @Html.Label("Active")
                </td>
                <td style="width: 10%;">
                    @*@Html.DropDownList("ActiveType_MPConstituencyDetails", ViewData["Active_TYPE"] as IEnumerable<SelectListItem>, new { @title = "Active", @tabindex = 2 })*@
                    @Html.DropDownListFor(model => model.ActiveFlag, new SelectList(Model.ActiveFlagList, "Value", "Text"), new { @id = "ActiveType_MPConstituencyDetails", @title = "Active", @tabindex = 2 })
                    <br />
                    @Html.ValidationMessageFor(m => m.ActiveFlag)
                </td>
                <td style="text-align: center; width: 10%; margin-left: 5px;">
                    <input type="button" id="MPConstituencyDetailsButton" value="View" class="jqueryButton" title="View Details" tabindex="3" />
                </td>
                <td style="width: 30%;"></td>
            </tr>

        </table>
    </form>
</div>

<div id="dvLoadMPConstituencyReport"></div>


